/* line 14, ../../bootstrap4/scss/mixins/_clearfix.scss */
.media-base-left:before, .media-base-left:after {
  content: " ";
  display: table;
}
/* line 19, ../../bootstrap4/scss/mixins/_clearfix.scss */
.media-base-left:after {
  clear: both;
}
/* line 7, ../../scss/pages-decoration/decoration.scss */
.media-base-left .img {
  float: left;
  margin-right: 1em;
  border: 1px solid #eceeef;
}
/* line 12, ../../scss/pages-decoration/decoration.scss */
.media-base-left .txt {
  display: block;
  overflow: hidden;
  margin: 1em 0;
}

/* line 19, ../../scss/pages-decoration/decoration.scss */
.filter-box2 .layout-left {
  font-size: 1.2em;
  vertical-align: middle;
}
/* line 22, ../../scss/pages-decoration/decoration.scss */
.filter-box2 .layout-left .label-title {
  font-weight: bold;
  color: #8f979d;
}

/* line 27, ../../scss/pages-decoration/decoration.scss */
.label-filter .label.on {
  color: inherit;
  font-weight: bold;
}

/* line 33, ../../scss/pages-decoration/decoration.scss */
.filter-title {
  line-height: 3.14286em;
  padding: 0 1em;
  background-color: #f9f9f9;
  border: 1px solid #eceeef;
}
/* line 38, ../../scss/pages-decoration/decoration.scss */
.filter-title h3, .filter-title em {
  display: inline-block;
  color: #bd0401;
}
/* line 42, ../../scss/pages-decoration/decoration.scss */
.filter-title h3 {
  font-size: 1.2em;
  font-weight: bold;
}
/* line 46, ../../scss/pages-decoration/decoration.scss */
.filter-title em {
  margin: 0 .8em;
}
/* line 47, ../../scss/pages-decoration/decoration.scss */
.filter-title .right-info {
  float: right;
  font-size: .87em;
}

/* line 53, ../../scss/pages-decoration/decoration.scss */
.firm-list {
  padding: 25px;
  border: 1px solid #eceeef;
}
/* line 56, ../../scss/pages-decoration/decoration.scss */
.firm-list .media-firmitem {
  padding-top: 0;
  padding-bottom: 2em;
  border-bottom: 1px dashed #eceeef;
}
/* line 61, ../../scss/pages-decoration/decoration.scss */
.firm-list p {
  margin-bottom: 1em;
}
/* line 64, ../../scss/pages-decoration/decoration.scss */
.firm-list .media-title {
  font-size: 1.4em;
  font-weight: normal;
}
/* line 68, ../../scss/pages-decoration/decoration.scss */
.firm-list .media-body .btns {
  margin-top: 2.5em;
}
/* line 71, ../../scss/pages-decoration/decoration.scss */
.firm-list .btns .btn {
  margin-right: .5em;
  padding: 8px 17px;
  border: 1px solid #91b81d;
}
/* line 75, ../../scss/pages-decoration/decoration.scss */
.firm-list .btns .btn.btn2 {
  color: #91b81d;
  background-color: #fff;
}
/* line 80, ../../scss/pages-decoration/decoration.scss */
.firm-list .addr {
  color: #616669;
}
/* line 82, ../../scss/pages-decoration/decoration.scss */
.firm-list .addr i {
  font-size: 1.2em;
  margin-right: .5em;
  color: #8f979d;
}
/* line 88, ../../scss/pages-decoration/decoration.scss */
.firm-list .word-icons {
  overflow: hidden;
}
/* line 90, ../../scss/pages-decoration/decoration.scss */
.firm-list .word-icons i {
  float: left;
  margin-right: .5em;
}
/* line 95, ../../scss/pages-decoration/decoration.scss */
.firm-list .thumbnail {
  width: 11.42857em;
  height: 11.42857em;
  line-height: 11.28571;
  box-sizing: content-box;
  margin-right: 38px;
  border: 5px solid #eceeef;
  overflow: hidden;
}
/* line 103, ../../scss/pages-decoration/decoration.scss */
.firm-list .thumbnail:hover {
  border: 5px solid #eceeef;
}
/* line 104, ../../scss/pages-decoration/decoration.scss */
.firm-list .thumbnail img {
  display: inline-block;
  vertical-align: middle;
}
/* line 109, ../../scss/pages-decoration/decoration.scss */
.firm-list .media-right {
  line-height: 1em;
  padding-top: 36px;
  padding-right: 20px;
}
/* line 113, ../../scss/pages-decoration/decoration.scss */
.firm-list .media-right p {
  text-align: center;
  white-space: nowrap;
}
/* line 119, ../../scss/pages-decoration/decoration.scss */
.firm-list .call-txt i {
  margin-right: .5em;
  color: #8f979d;
}
/* line 124, ../../scss/pages-decoration/decoration.scss */
.firm-list .call-num {
  font-size: 1.8em;
  color: #bd0401;
  font-weight: 600;
}

/* line 131, ../../scss/pages-decoration/decoration.scss */
.side-firm-list {
  padding: 5px 18px 0;
  border: 1px solid #eceeef;
}
/* line 132, ../../scss/pages-decoration/decoration.scss */
.side-firm-list h3 {
  margin-bottom: 15px;
  line-height: 44px;
  border-bottom: 1px solid #eceeef;
  font-size: 1.2em;
}
/* line 139, ../../scss/pages-decoration/decoration.scss */
.side-firm-list .media-base-left {
  margin-bottom: 20px;
}
/* line 143, ../../scss/pages-decoration/decoration.scss */
.side-firm-list .img {
  width: 70px;
  padding: 3px;
}
/* line 147, ../../scss/pages-decoration/decoration.scss */
.side-firm-list .txt {
  line-height: 1.5em;
  height: 3em;
  overflow: hidden;
}
