/* line 144, myicon/*.png */
.myicon-sprite, .myicon-bottom-float, .myicon-hot, .myicon-sort, .myicon-xiaoguo-cate1, .myicon-xiaoguo-cate10, .myicon-xiaoguo-cate2, .myicon-xiaoguo-cate3, .myicon-xiaoguo-cate4, .myicon-xiaoguo-cate5, .myicon-xiaoguo-cate6, .myicon-xiaoguo-cate7, .myicon-xiaoguo-cate8, .myicon-xiaoguo-cate9 {
  background-image: url('../img/myicon-s96dd6a620f.png');
  background-repeat: no-repeat;
}

/* line 84, e:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.myicon-bottom-float {
  background-position: 0 0;
  height: 122px;
  width: 416px;
}

/* line 84, e:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.myicon-hot {
  background-position: 0 -127px;
  height: 18px;
  width: 29px;
}

/* line 84, e:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.myicon-sort {
  background-position: 0 -150px;
  height: 20px;
  width: 24px;
}

/* line 84, e:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.myicon-xiaoguo-cate1 {
  background-position: 0 -175px;
  height: 30px;
  width: 30px;
}

/* line 84, e:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.myicon-xiaoguo-cate10 {
  background-position: 0 -210px;
  height: 30px;
  width: 30px;
}

/* line 84, e:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.myicon-xiaoguo-cate2 {
  background-position: 0 -245px;
  height: 30px;
  width: 30px;
}

/* line 84, e:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.myicon-xiaoguo-cate3 {
  background-position: 0 -280px;
  height: 30px;
  width: 30px;
}

/* line 84, e:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.myicon-xiaoguo-cate4 {
  background-position: 0 -315px;
  height: 30px;
  width: 30px;
}

/* line 84, e:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.myicon-xiaoguo-cate5 {
  background-position: 0 -350px;
  height: 30px;
  width: 30px;
}

/* line 84, e:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.myicon-xiaoguo-cate6 {
  background-position: 0 -385px;
  height: 30px;
  width: 30px;
}

/* line 84, e:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.myicon-xiaoguo-cate7 {
  background-position: 0 -420px;
  height: 30px;
  width: 30px;
}

/* line 84, e:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.myicon-xiaoguo-cate8 {
  background-position: 0 -455px;
  height: 30px;
  width: 30px;
}

/* line 84, e:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.myicon-xiaoguo-cate9 {
  background-position: 0 -490px;
  height: 30px;
  width: 30px;
}

/* line 13, ../scss/comm.scss */
[class^="myicon-"],
[class*=" myicon-"] {
  display: inline-block;
}

/* line 21, ../scss/comm.scss */
#header {
  margin-bottom: 1.07143em;
}

/* line 27, ../scss/comm.scss */
#header .has-subnav i, #header .header-select i {
  margin-left: 0.57143em;
}
/* line 28, ../scss/comm.scss */
#header .has-subnav .icon-angle-up, #header .header-select .icon-angle-up {
  display: none;
}
/* line 30, ../scss/comm.scss */
#header .has-subnav:hover .icon-angle-up, #header .header-select:hover .icon-angle-up {
  display: inline-block;
}
/* line 31, ../scss/comm.scss */
#header .has-subnav:hover .icon-angle-down, #header .header-select:hover .icon-angle-down {
  display: none;
}
/* line 35, ../scss/comm.scss */
#header .has-icon i {
  margin-top: 0.21429em;
  vertical-align: top;
}

/* line 44, ../scss/comm.scss */
.header-top {
  font-size: 0.85714em;
  line-height: 2.5em;
  background-color: #f7f7f9;
  border-bottom: 1px solid #ddd;
  color: #999;
}

/* line 14, ../bootstrap4/scss/mixins/_clearfix.scss */
.header-top-left .attention-ways:before, .header-top-left .attention-ways:after, .header-top-left .member-in:before, .header-top-left .member-in:after, .header-top-right .attention-ways:before, .header-top-right .attention-ways:after, .header-top-right .member-in:before, .header-top-right .member-in:after {
  content: " ";
  display: table;
}
/* line 19, ../bootstrap4/scss/mixins/_clearfix.scss */
.header-top-left .attention-ways:after, .header-top-left .member-in:after, .header-top-right .attention-ways:after, .header-top-right .member-in:after {
  clear: both;
}
/* line 54, ../scss/comm.scss */
.header-top-left .attention-ways li, .header-top-left .member-in li, .header-top-right .attention-ways li, .header-top-right .member-in li {
  float: left;
}

/* line 59, ../scss/comm.scss */
.header-top-left {
  float: left;
}
/* line 61, ../scss/comm.scss */
.header-top-left li {
  margin-right: 2em;
}

/* line 65, ../scss/comm.scss */
.header-top-right {
  float: right;
}
/* line 67, ../scss/comm.scss */
.header-top-right .member-in, .header-top-right .service-phone {
  float: left;
}
/* line 70, ../scss/comm.scss */
.header-top-right .member-in {
  line-height: 1;
  padding: 0.75em 0;
  margin-right: 15px;
}
/* line 75, ../scss/comm.scss */
.header-top-right li {
  padding: 0 12px;
}
/* line 77, ../scss/comm.scss */
.header-top-right li + li {
  border-left: 1px solid #ddd;
}
/* line 79, ../scss/comm.scss */
.header-top-right .service-phone {
  color: #bd0401;
  font-weight: bold;
}

/* line 85, ../scss/comm.scss */
.header-center {
  padding: 1.42857em;
}
/* line 14, ../bootstrap4/scss/mixins/_clearfix.scss */
.header-center:before, .header-center:after {
  content: " ";
  display: table;
}
/* line 19, ../bootstrap4/scss/mixins/_clearfix.scss */
.header-center:after {
  clear: both;
}
/* line 88, ../scss/comm.scss */
.header-center .header-logo, .header-center .header-search {
  float: left;
  width: 50%;
}
/* line 93, ../scss/comm.scss */
.header-center .header-logo .logo, .header-center .header-logo h3 {
  display: inline-block;
  vertical-align: middle;
}
/* line 97, ../scss/comm.scss */
.header-center .header-logo .logo {
  padding-right: 1.07143em;
  border-right: 1px solid #ddd;
}
/* line 101, ../scss/comm.scss */
.header-center .header-logo h3 {
  padding-left: 1.07143em;
  display: inline-block;
  line-height: 1.4;
  font-size: 1.14286em;
}
/* line 108, ../scss/comm.scss */
.header-center .header-search {
  margin-top: 0.71429em;
}
/* line 109, ../scss/comm.scss */
.header-center .header-search-box {
  position: relative;
  height: 2.85714em;
  line-height: 2.42857em;
  margin-right: 1.42857em;
  padding-left: 7.14286em;
  padding-right: 5.71429em;
  border: 3px solid #bd0401;
}
/* line 14, ../bootstrap4/scss/mixins/_clearfix.scss */
.header-center .header-search-box:before, .header-center .header-search-box:after {
  content: " ";
  display: table;
}
/* line 19, ../bootstrap4/scss/mixins/_clearfix.scss */
.header-center .header-search-box:after {
  clear: both;
}
/* line 118, ../scss/comm.scss */
.header-center .header-search-box .header-select, .header-center .header-search-box input, .header-center .header-search-box button {
  float: left;
}
/* line 121, ../scss/comm.scss */
.header-center .header-search-box .header-select, .header-center .header-search-box button {
  position: absolute;
  top: 0;
}
/* line 125, ../scss/comm.scss */
.header-center .header-search-box ul, .header-center .header-search-box .header-search-input-text {
  display: none;
}
/* line 127, ../scss/comm.scss */
.header-center .header-search-box .header-select {
  left: 0;
  width: 7.14286em;
  text-align: center;
  border-right: 1px solid #eee;
}
/* line 132, ../scss/comm.scss */
.header-center .header-search-box .header-select a {
  text-decoration: none;
}
/* line 133, ../scss/comm.scss */
.header-center .header-search-box .header-select ul {
  position: absolute;
  top: 2.35714em;
  left: 0;
  z-index: 10000;
  width: 100%;
  padding: 0.42857em 0;
  background-color: #fff;
  border: 1px solid #ddd;
  border-top: none;
}
/* line 144, ../scss/comm.scss */
.header-center .header-search-box .header-select li {
  line-height: 2.14286em;
  padding: 0 0.35714em;
  padding: 0 .85em;
}
/* line 148, ../scss/comm.scss */
.header-center .header-search-box .header-select li:hover {
  background-color: #f2f2f2;
}
/* line 152, ../scss/comm.scss */
.header-center .header-search-box .header-select:hover ul {
  display: block;
}
/* line 156, ../scss/comm.scss */
.header-center .header-search-box button {
  right: 0;
  height: 2.42857em;
  width: 5.71429em;
  background-color: #bd0401;
  color: #fff;
}
/* line 163, ../scss/comm.scss */
.header-center .header-search-box input {
  width: 100%;
  height: 2.42857em;
  padding: 0.5em 0.71429em;
}
/* line 168, ../scss/comm.scss */
.header-center .header-search-box input, .header-center .header-search-box button {
  border: none;
}

/* line 174, ../scss/comm.scss */
.header-bottom .container {
  position: relative;
  background-color: #fafafb;
}
/* line 178, ../scss/comm.scss */
.header-bottom .right-collect {
  position: absolute;
  bottom: 0.35714em;
  right: 0.71429em;
}

/* line 186, ../scss/comm.scss */
#footer {
  text-align: center;
  padding: 20px 0;
  margin-top: 30px;
  color: #fff;
  background-color: #1f1f1f;
  font-size: 12px;
}

/* line 194, ../scss/comm.scss */
#footer a {
  color: inherit;
}

/* line 197, ../scss/comm.scss */
#footer .footer-menu {
  display: inline-block;
  padding-bottom: 15px;
}

/* line 201, ../scss/comm.scss */
#footer .footer-menu:after {
  content: "";
  display: table;
  clear: both;
}

/* line 206, ../scss/comm.scss */
#footer .footer-menu a {
  float: left;
  padding: 0 1.5em;
  line-height: 1;
  border-right: 1px solid #fff;
}

/* line 212, ../scss/comm.scss */
#footer .footer-menu a:last-child {
  border: none;
}

/* line 215, ../scss/comm.scss */
#footer .footer-copyright {
  color: #666;
  line-height: 2.2;
}

/* line 224, ../scss/comm.scss */
[class^="popup-"],
[class*=" popup-"],
#mask,
[class^="fixed-"],
[class*=" fixed-"] {
  position: fixed;
}
/* line 230, ../scss/comm.scss */
[class^="popup-"], [class^="popup-"] *,
[class*=" popup-"],
[class*=" popup-"] *,
#mask,
#mask *,
[class^="fixed-"],
[class^="fixed-"] *,
[class*=" fixed-"],
[class*=" fixed-"] * {
  transition: all .3s ease-out;
}

/* line 237, ../scss/comm.scss */
[class^="popup-"] .close,
[class*=" popup-"] .close,
[class^="fixed-"] .close,
[class*=" fixed-"] .close {
  z-index: 10002;
  position: absolute;
  right: .4em;
  top: .4em;
  width: 1.5em;
  height: 1.5em;
  line-height: 1.5em;
  text-align: center;
  font-size: 1.5em;
  font-family: sans-serif;
}

/* line 253, ../scss/comm.scss */
#mask {
  z-index: 10000;
}

/* line 254, ../scss/comm.scss */
[class^="popup-"],
[class*=" popup-"],
[class^="fixed-"],
[class*=" fixed-"] {
  z-index: 10001;
}

/* line 260, ../scss/comm.scss */
#mask {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  opacity: .6;
  background-color: #000;
}

/* line 270, ../scss/comm.scss */
[class^="popup-"],
[class*=" popup-"] {
  left: 50%;
  top: 50%;
  padding: 1em 2em;
}

/* line 279, ../scss/comm.scss */
[class^="fixed-top-"],
[class*=" fixed-top-"],
[class^="fixed-bottom-"],
[class*=" fixed-bottom-"] {
  width: 100%;
  left: 0;
}

/* line 286, ../scss/comm.scss */
[class^="fixed-bottom-"],
[class*=" fixed-bottom-"] {
  bottom: 0;
}

/* line 290, ../scss/comm.scss */
[class^="fixed-top-"],
[class*=" fixed-top-"] {
  top: 0;
}

/* line 296, ../scss/comm.scss */
.popup-yuyue-succeed {
  width: 800px;
  margin-left: -400px;
  margin-top: -350px;
  padding: 0;
}
/* line 301, ../scss/comm.scss */
.popup-yuyue-succeed img {
  width: 100%;
}
/* line 304, ../scss/comm.scss */
.popup-yuyue-succeed .close {
  background-color: #f7f7f9;
}

/* line 309, ../scss/comm.scss */
.popup-form-yuyue {
  width: 400px;
  min-height: 340px;
  margin-left: -200px;
  margin-top: -170px;
  background-color: #fff;
}
/* line 315, ../scss/comm.scss */
.popup-form-yuyue .form-hd, .popup-form-yuyue .form-ft {
  text-align: center;
}
/* line 316, ../scss/comm.scss */
.popup-form-yuyue .form-hd {
  font-size: 1.2em;
  font-family: "Microsoft Yahei", Tahoma, Arial, Helvetica, STHeiti;
}
/* line 320, ../scss/comm.scss */
.popup-form-yuyue .form-hd, .popup-form-yuyue .input-line {
  margin-bottom: 1.2em;
}
/* line 325, ../scss/comm.scss */
.popup-form-yuyue .form-group {
  border: 1px solid #d3d6d8;
  overflow: hidden;
}
/* line 329, ../scss/comm.scss */
.popup-form-yuyue .form-control {
  border: none;
}
/* line 333, ../scss/comm.scss */
.popup-form-yuyue .form-control-label {
  float: left;
  width: 6em;
  padding-left: .4em;
  padding-right: .4em;
  padding-top: 6px;
  padding-bottom: 6px;
  margin-bottom: 0;
  text-align: center;
}
/* line 343, ../scss/comm.scss */
.popup-form-yuyue .input-field {
  margin-left: 6em;
}
/* line 348, ../scss/comm.scss */
.popup-form-yuyue .vcode .form-control {
  display: inline-block;
  width: 40%;
}
/* line 352, ../scss/comm.scss */
.popup-form-yuyue .vcode img {
  float: right;
}
/* line 355, ../scss/comm.scss */
.popup-form-yuyue .safety {
  padding: .3em 0;
}
/* line 359, ../scss/comm.scss */
.popup-form-yuyue .form-ft .call {
  color: #bd0401;
  font-size: 1.5em;
}
/* line 364, ../scss/comm.scss */
.popup-form-yuyue .submit {
  margin-bottom: .3em;
  border: none;
}

/* line 371, ../scss/comm.scss */
.fixed-bottom-form {
  display: none;
  margin-top: 2em;
  padding: 1em 0;
}
/* line 375, ../scss/comm.scss */
.fixed-bottom-form, .fixed-bottom-form .open {
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#AA000000, endColorstr=#AA000000)";
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#AA000000, endColorstr=#AA000000);
  background-color: rgba(0, 0, 0, 0.7);
}
/* line 376, ../scss/comm.scss */
.fixed-bottom-form .g-left {
  position: relative;
  width: 40%;
}
/* line 380, ../scss/comm.scss */
.fixed-bottom-form .g-center {
  width: 35%;
}
/* line 381, ../scss/comm.scss */
.fixed-bottom-form .g-right {
  width: 25%;
}
/* line 383, ../scss/comm.scss */
.fixed-bottom-form .form-line {
  margin-bottom: .5em;
}
/* line 385, ../scss/comm.scss */
.fixed-bottom-form .form-line input, .fixed-bottom-form .form-line select {
  display: inline-block;
  width: 47%;
  margin-right: 2%;
}
/* line 393, ../scss/comm.scss */
.fixed-bottom-form .g-left .float-img {
  position: absolute;
  top: -3em;
  right: 4.5em;
}
/* line 401, ../scss/comm.scss */
.fixed-bottom-form .g-right .qrcode, .fixed-bottom-form .g-right .submit {
  display: inline-block;
  width: 40%;
}
/* line 405, ../scss/comm.scss */
.fixed-bottom-form .g-right .qrcode {
  position: relative;
  text-align: center;
}
/* line 409, ../scss/comm.scss */
.fixed-bottom-form .g-right .qrcode-cont {
  position: absolute;
  left: 2em;
  top: -6em;
  font-size: .85em;
  color: #fff;
}
/* line 416, ../scss/comm.scss */
.fixed-bottom-form .g-right .submit {
  margin-top: 1.5em;
}
/* line 418, ../scss/comm.scss */
.fixed-bottom-form .open {
  display: inline-block;
  position: absolute;
  left: -1.4em;
  top: 0;
  width: 1.4em;
  height: 1.8em;
  line-height: 1.8em;
  padding-left: .7em;
  text-align: center;
  font-size: 3em;
  color: #fff;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  text-decoration: none;
}
/* line 433, ../scss/comm.scss */
.fixed-bottom-form .open.show {
  right: -.7em;
  left: auto;
}
