/* line 160, myicon/*.png */
.myicon-sprite, .myicon-QQ-icon, .myicon-QQconsult-title, .myicon-bottom-float, .myicon-hot, .myicon-sort, .myicon-xiaoguo-cate1, .myicon-xiaoguo-cate10, .myicon-xiaoguo-cate2, .myicon-xiaoguo-cate3, .myicon-xiaoguo-cate4, .myicon-xiaoguo-cate5, .myicon-xiaoguo-cate6, .myicon-xiaoguo-cate7, .myicon-xiaoguo-cate8, .myicon-xiaoguo-cate9 {
  background-image: url('../img/myicon-s669f7c0cfa.png');
  background-repeat: no-repeat;
}

/* line 84, e:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.myicon-QQ-icon {
  background-position: 0 0;
  height: 22px;
  width: 77px;
}

/* line 84, e:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.myicon-QQconsult-title {
  background-position: 0 -27px;
  height: 84px;
  width: 116px;
}

/* line 84, e:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.myicon-bottom-float {
  background-position: 0 -116px;
  height: 122px;
  width: 416px;
}

/* line 84, e:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.myicon-hot {
  background-position: 0 -243px;
  height: 18px;
  width: 29px;
}

/* line 84, e:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.myicon-sort {
  background-position: 0 -266px;
  height: 20px;
  width: 24px;
}

/* line 84, e:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.myicon-xiaoguo-cate1 {
  background-position: 0 -291px;
  height: 30px;
  width: 30px;
}

/* line 84, e:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.myicon-xiaoguo-cate10 {
  background-position: 0 -326px;
  height: 30px;
  width: 30px;
}

/* line 84, e:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.myicon-xiaoguo-cate2 {
  background-position: 0 -361px;
  height: 30px;
  width: 30px;
}

/* line 84, e:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.myicon-xiaoguo-cate3 {
  background-position: 0 -396px;
  height: 30px;
  width: 30px;
}

/* line 84, e:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.myicon-xiaoguo-cate4 {
  background-position: 0 -431px;
  height: 30px;
  width: 30px;
}

/* line 84, e:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.myicon-xiaoguo-cate5 {
  background-position: 0 -466px;
  height: 30px;
  width: 30px;
}

/* line 84, e:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.myicon-xiaoguo-cate6 {
  background-position: 0 -501px;
  height: 30px;
  width: 30px;
}

/* line 84, e:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.myicon-xiaoguo-cate7 {
  background-position: 0 -536px;
  height: 30px;
  width: 30px;
}

/* line 84, e:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.myicon-xiaoguo-cate8 {
  background-position: 0 -571px;
  height: 30px;
  width: 30px;
}

/* line 84, e:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.myicon-xiaoguo-cate9 {
  background-position: 0 -606px;
  height: 30px;
  width: 30px;
}

/* line 14, ../scss/comm.scss */
a:hover, a:focus {
  text-decoration: underline;
}

/* line 18, ../scss/comm.scss */
body .container {
  width: 1200px;
  max-width: none;
}

/* line 23, ../scss/comm.scss */
[class^="myicon-"],
[class*=" myicon-"] {
  display: inline-block;
  vertical-align: middle;
}

/* line 31, ../scss/comm.scss */
#header {
  margin-bottom: 1.07143em;
}

/* line 37, ../scss/comm.scss */
#header .has-subnav i, #header .header-select i {
  margin-left: 0.57143em;
}
/* line 38, ../scss/comm.scss */
#header .has-subnav .icon-angle-up, #header .header-select .icon-angle-up {
  display: none;
}
/* line 40, ../scss/comm.scss */
#header .has-subnav:hover .icon-angle-up, #header .header-select:hover .icon-angle-up {
  display: inline-block;
}
/* line 41, ../scss/comm.scss */
#header .has-subnav:hover .icon-angle-down, #header .header-select:hover .icon-angle-down {
  display: none;
}
/* line 45, ../scss/comm.scss */
#header .has-icon i {
  margin-top: 0.21429em;
  vertical-align: top;
}

/* line 54, ../scss/comm.scss */
.header-top {
  font-size: 0.85714em;
  line-height: 2.5em;
  background-color: #f7f7f9;
  border-bottom: 1px solid #ddd;
  color: #999;
}

/* line 14, ../bootstrap4/scss/mixins/_clearfix.scss */
.header-top-left .attention-ways:before, .header-top-left .attention-ways:after, .header-top-left .member-in:before, .header-top-left .member-in:after, .header-top-right .attention-ways:before, .header-top-right .attention-ways:after, .header-top-right .member-in:before, .header-top-right .member-in:after {
  content: " ";
  display: table;
}
/* line 19, ../bootstrap4/scss/mixins/_clearfix.scss */
.header-top-left .attention-ways:after, .header-top-left .member-in:after, .header-top-right .attention-ways:after, .header-top-right .member-in:after {
  clear: both;
}
/* line 64, ../scss/comm.scss */
.header-top-left .attention-ways li, .header-top-left .member-in li, .header-top-right .attention-ways li, .header-top-right .member-in li {
  float: left;
}

/* line 69, ../scss/comm.scss */
.header-top-left {
  float: left;
}
/* line 71, ../scss/comm.scss */
.header-top-left li {
  margin-right: 2em;
}

/* line 75, ../scss/comm.scss */
.header-top-right {
  float: right;
}
/* line 77, ../scss/comm.scss */
.header-top-right .member-in, .header-top-right .service-phone {
  float: left;
}
/* line 80, ../scss/comm.scss */
.header-top-right .member-in {
  line-height: 1;
  padding: 0.75em 0;
  margin-right: 15px;
}
/* line 85, ../scss/comm.scss */
.header-top-right li {
  padding: 0 12px;
}
/* line 87, ../scss/comm.scss */
.header-top-right li + li {
  border-left: 1px solid #ddd;
}
/* line 89, ../scss/comm.scss */
.header-top-right .service-phone {
  color: #bd0401;
  font-weight: bold;
}

/* line 95, ../scss/comm.scss */
.header-center {
  padding: 1.42857em;
}
/* line 14, ../bootstrap4/scss/mixins/_clearfix.scss */
.header-center:before, .header-center:after {
  content: " ";
  display: table;
}
/* line 19, ../bootstrap4/scss/mixins/_clearfix.scss */
.header-center:after {
  clear: both;
}
/* line 98, ../scss/comm.scss */
.header-center .header-logo, .header-center .header-search {
  float: left;
  width: 50%;
}
/* line 103, ../scss/comm.scss */
.header-center .header-logo .logo, .header-center .header-logo h3 {
  display: inline-block;
  vertical-align: middle;
}
/* line 107, ../scss/comm.scss */
.header-center .header-logo .logo {
  padding-right: 1.07143em;
  border-right: 1px solid #ddd;
}
/* line 111, ../scss/comm.scss */
.header-center .header-logo h3 {
  padding-left: 1.07143em;
  display: inline-block;
  line-height: 1.4;
  font-size: 1.14286em;
}
/* line 118, ../scss/comm.scss */
.header-center .header-search {
  margin-top: 0.71429em;
}
/* line 119, ../scss/comm.scss */
.header-center .header-search-box {
  position: relative;
  height: 2.85714em;
  line-height: 2.42857em;
  margin-right: 1.42857em;
  padding-left: 7.14286em;
  padding-right: 5.71429em;
  border: 3px solid #bd0401;
}
/* line 14, ../bootstrap4/scss/mixins/_clearfix.scss */
.header-center .header-search-box:before, .header-center .header-search-box:after {
  content: " ";
  display: table;
}
/* line 19, ../bootstrap4/scss/mixins/_clearfix.scss */
.header-center .header-search-box:after {
  clear: both;
}
/* line 128, ../scss/comm.scss */
.header-center .header-search-box .header-select, .header-center .header-search-box input, .header-center .header-search-box button {
  float: left;
}
/* line 131, ../scss/comm.scss */
.header-center .header-search-box .header-select, .header-center .header-search-box button {
  position: absolute;
  top: 0;
}
/* line 135, ../scss/comm.scss */
.header-center .header-search-box ul, .header-center .header-search-box .header-search-input-text {
  display: none;
}
/* line 137, ../scss/comm.scss */
.header-center .header-search-box .header-select {
  left: 0;
  width: 7.14286em;
  text-align: center;
  border-right: 1px solid #eee;
}
/* line 142, ../scss/comm.scss */
.header-center .header-search-box .header-select a {
  text-decoration: none;
}
/* line 143, ../scss/comm.scss */
.header-center .header-search-box .header-select ul {
  position: absolute;
  top: 2.35714em;
  left: 0;
  z-index: 10000;
  width: 100%;
  padding: 0.42857em 0;
  background-color: #fff;
  border: 1px solid #ddd;
  border-top: none;
}
/* line 154, ../scss/comm.scss */
.header-center .header-search-box .header-select li {
  line-height: 2.14286em;
  padding: 0 0.35714em;
  padding: 0 .85em;
}
/* line 158, ../scss/comm.scss */
.header-center .header-search-box .header-select li:hover {
  background-color: #f2f2f2;
}
/* line 162, ../scss/comm.scss */
.header-center .header-search-box .header-select:hover ul {
  display: block;
}
/* line 166, ../scss/comm.scss */
.header-center .header-search-box button {
  right: 0;
  height: 2.42857em;
  width: 5.71429em;
  background-color: #bd0401;
  color: #fff;
}
/* line 173, ../scss/comm.scss */
.header-center .header-search-box input {
  width: 100%;
  height: 2.42857em;
  padding: 0.5em 0.71429em;
}
/* line 178, ../scss/comm.scss */
.header-center .header-search-box input, .header-center .header-search-box button {
  border: none;
}

/* line 184, ../scss/comm.scss */
.header-bottom .container {
  position: relative;
  background-color: #fafafb;
}
/* line 188, ../scss/comm.scss */
.header-bottom .right-collect {
  position: absolute;
  bottom: 0.35714em;
  right: 0.71429em;
}

/* line 196, ../scss/comm.scss */
#footer {
  text-align: center;
  padding: 20px 0;
  margin-top: 30px;
  color: #fff;
  background-color: #1f1f1f;
  font-size: 12px;
}
/* line 203, ../scss/comm.scss */
#footer a {
  color: inherit;
}

/* line 205, ../scss/comm.scss */
.footer-menu {
  display: inline-block;
  padding-bottom: 15px;
}
/* line 208, ../scss/comm.scss */
.footer-menu:after {
  content: "";
  display: table;
  clear: both;
}
/* line 213, ../scss/comm.scss */
.footer-menu a {
  float: left;
  padding: 0 1.5em;
  line-height: 1;
  border-right: 1px solid #fff;
}
/* line 218, ../scss/comm.scss */
.footer-menu a:last-child {
  border: none;
}

/* line 221, ../scss/comm.scss */
.footer-copyright {
  color: #666;
  line-height: 2.2;
}

/* line 228, ../scss/comm.scss */
.carousel.slide .icon-angle-left, .carousel.slide .icon-angle-right {
  display: inline-block;
  width: 100%;
  height: 2em;
  line-height: 2;
  margin-top: -1em;
  position: absolute;
  top: 50%;
  left: 0;
  font-size: 3em;
  color: #fff;
}

/* line 248, ../scss/comm.scss */
[class^="popup-"],
[class*=" popup-"],
#mask,
[class^="fixed-"],
[class*=" fixed-"] {
  position: fixed;
}
/* line 254, ../scss/comm.scss */
[class^="popup-"], [class^="popup-"] *,
[class*=" popup-"],
[class*=" popup-"] *,
#mask,
#mask *,
[class^="fixed-"],
[class^="fixed-"] *,
[class*=" fixed-"],
[class*=" fixed-"] * {
  transition: all .3s ease-out;
}

/* line 261, ../scss/comm.scss */
[class^="popup-"] .close,
[class*=" popup-"] .close,
[class^="fixed-"] .close,
[class*=" fixed-"] .close {
  position: absolute;
  right: .4em;
  top: .4em;
  width: 1.5em;
  height: 1.5em;
  line-height: 1.5em;
  text-align: center;
  font-size: 1.5em;
  font-family: sans-serif;
}

/* line 275, ../scss/comm.scss */
#mask {
  z-index: 10000;
}

/* line 276, ../scss/comm.scss */
[class^="popup-"],
[class*=" popup-"],
[class^="fixed-"],
[class*=" fixed-"] {
  z-index: 10001;
}

/* line 281, ../scss/comm.scss */
#mask {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  opacity: .6;
  background-color: #000;
}

/* line 294, ../scss/comm.scss */
[class^="popup-"],
[class*=" popup-"] {
  left: 50%;
  top: 50%;
  padding: 1em 2em;
}

/* line 302, ../scss/comm.scss */
[class^="fixed-top-"],
[class*=" fixed-top-"],
[class^="fixed-bottom-"],
[class*=" fixed-bottom-"] {
  width: 100%;
  left: 0;
}

/* line 309, ../scss/comm.scss */
[class^="fixed-bottom-"],
[class*=" fixed-bottom-"] {
  bottom: 0;
}

/* line 313, ../scss/comm.scss */
[class^="fixed-top-"],
[class*=" fixed-top-"] {
  top: 0;
}

/* line 319, ../scss/comm.scss */
[class^="fixed-left-"],
[class*=" fixed-left-"],
[class^="fixed-right-"],
[class*=" fixed-right-"] {
  top: 50%;
}

/* line 325, ../scss/comm.scss */
[class^="fixed-left-"],
[class*=" fixed-left-"] {
  left: 0;
}

/* line 329, ../scss/comm.scss */
[class^="fixed-right-"],
[class*=" fixed-right-"] {
  right: 0;
}

/* line 338, ../scss/comm.scss */
.popup-yuyue-succeed {
  width: 800px;
  margin-left: -400px;
  margin-top: -350px;
  padding: 0;
}
/* line 343, ../scss/comm.scss */
.popup-yuyue-succeed img {
  width: 100%;
}
/* line 346, ../scss/comm.scss */
.popup-yuyue-succeed .close {
  background-color: #f7f7f9;
}

/* line 351, ../scss/comm.scss */
.popup-form-yuyue {
  width: 400px;
  min-height: 340px;
  margin-left: -200px;
  margin-top: -170px;
  background-color: #fff;
}
/* line 357, ../scss/comm.scss */
.popup-form-yuyue .form-hd, .popup-form-yuyue .form-ft {
  text-align: center;
}
/* line 358, ../scss/comm.scss */
.popup-form-yuyue .form-hd {
  font-size: 1.2em;
  font-family: "Microsoft Yahei", Tahoma, Arial, Helvetica, STHeiti;
}
/* line 362, ../scss/comm.scss */
.popup-form-yuyue .form-hd, .popup-form-yuyue .input-line {
  margin-bottom: 1.2em;
}
/* line 367, ../scss/comm.scss */
.popup-form-yuyue .form-group {
  border: 1px solid #d3d6d8;
  overflow: hidden;
}
/* line 371, ../scss/comm.scss */
.popup-form-yuyue .form-control {
  border: none;
}
/* line 375, ../scss/comm.scss */
.popup-form-yuyue .form-control-label {
  float: left;
  width: 6em;
  padding-left: .4em;
  padding-right: .4em;
  padding-top: 6px;
  padding-bottom: 6px;
  margin-bottom: 0;
  text-align: center;
}
/* line 385, ../scss/comm.scss */
.popup-form-yuyue .input-field {
  margin-left: 6em;
}
/* line 390, ../scss/comm.scss */
.popup-form-yuyue .vcode .form-control {
  display: inline-block;
  width: 40%;
}
/* line 394, ../scss/comm.scss */
.popup-form-yuyue .vcode img {
  float: right;
}
/* line 397, ../scss/comm.scss */
.popup-form-yuyue .safety {
  padding: .3em 0;
}
/* line 401, ../scss/comm.scss */
.popup-form-yuyue .form-ft .call {
  color: #bd0401;
  font-size: 1.5em;
}
/* line 406, ../scss/comm.scss */
.popup-form-yuyue .submit {
  margin-bottom: .3em;
  border: none;
}

/* line 413, ../scss/comm.scss */
.fixed-bottom-form {
  display: none;
  margin-top: 2em;
  padding: 1em 0;
}
/* line 417, ../scss/comm.scss */
.fixed-bottom-form, .fixed-bottom-form .open {
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#B3000000, endColorstr=#B3000000)";
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#B3000000, endColorstr=#B3000000);
  background-color: rgba(0, 0, 0, 0.7);
}
/* line 418, ../scss/comm.scss */
.fixed-bottom-form .g-left {
  position: relative;
  width: 40%;
}
/* line 422, ../scss/comm.scss */
.fixed-bottom-form .g-center {
  width: 35%;
}
/* line 423, ../scss/comm.scss */
.fixed-bottom-form .g-right {
  width: 25%;
}
/* line 425, ../scss/comm.scss */
.fixed-bottom-form .form-line {
  margin-bottom: .5em;
}
/* line 427, ../scss/comm.scss */
.fixed-bottom-form .form-line input, .fixed-bottom-form .form-line select {
  display: inline-block;
  width: 47%;
  margin-right: 2%;
}
/* line 435, ../scss/comm.scss */
.fixed-bottom-form .g-left .float-img {
  position: absolute;
  top: -3em;
  right: 4.5em;
}
/* line 443, ../scss/comm.scss */
.fixed-bottom-form .g-right .qrcode, .fixed-bottom-form .g-right .submit {
  display: inline-block;
  width: 40%;
}
/* line 447, ../scss/comm.scss */
.fixed-bottom-form .g-right .qrcode {
  position: relative;
  text-align: center;
}
/* line 451, ../scss/comm.scss */
.fixed-bottom-form .g-right .qrcode-cont {
  position: absolute;
  left: 2em;
  top: -6em;
  font-size: .85em;
  color: #fff;
}
/* line 458, ../scss/comm.scss */
.fixed-bottom-form .g-right .submit {
  margin-top: 1.5em;
}
/* line 460, ../scss/comm.scss */
.fixed-bottom-form .open {
  display: inline-block;
  position: absolute;
  left: -1.4em;
  top: 0;
  width: 1.4em;
  height: 1.8em;
  line-height: 1.8em;
  padding-left: .7em;
  text-align: center;
  font-size: 3em;
  color: #fff;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  text-decoration: none;
}
/* line 475, ../scss/comm.scss */
.fixed-bottom-form .open.show {
  right: -.7em;
  left: auto;
}

/* line 482, ../scss/comm.scss */
.fixed-right-OICQ {
  margin-top: -175px;
  background-color: #eceeef;
  border-radius: 8px;
}
/* line 486, ../scss/comm.scss */
.fixed-right-OICQ .OICQ-hd, .fixed-right-OICQ .OICQ-ft {
  text-align: center;
}
/* line 489, ../scss/comm.scss */
.fixed-right-OICQ .OICQ-hd, .fixed-right-OICQ .OICQ-bd, .fixed-right-OICQ .hotline {
  padding-left: .6em;
  padding-right: .6em;
}
/* line 493, ../scss/comm.scss */
.fixed-right-OICQ .OICQ-hd-img {
  border-bottom: 1px dashed #d0d5d8;
}
/* line 496, ../scss/comm.scss */
.fixed-right-OICQ .OICQ-bd {
  line-height: 2.53846em;
  padding-top: .8em;
  padding-bottom: .8em;
  font-size: 0.92857em;
}
/* line 502, ../scss/comm.scss */
.fixed-right-OICQ .OICQ-ft {
  line-height: 1.8;
}
/* line 505, ../scss/comm.scss */
.fixed-right-OICQ .hotline {
  padding-bottom: .5em;
  color: #55595c;
  background-color: #d0d5d8;
}
/* line 510, ../scss/comm.scss */
.fixed-right-OICQ .call {
  background-color: #000;
  color: #fdff03;
  border-radius: 8px;
  line-height: 20px;
  padding: 0 6px;
}
/* line 517, ../scss/comm.scss */
.fixed-right-OICQ .close-row {
  text-align: right;
  font-size: .85em;
  line-height: 2em;
  padding: 0 .6em;
}
/* line 522, ../scss/comm.scss */
.fixed-right-OICQ .close-row i {
  font-size: 1.5em;
  font-family: sans-serif;
  vertical-align: middle;
}

/* login succeed to member  */
/* line 531, ../scss/comm.scss */
#member {
  position: fixed;
  left: 0;
  bottom: 0;
  top: 0;
  z-index: 1000;
  background: #000;
  width: 30px;
  box-shadow: 0 0 8px 0 #000000;
  height: 150px;
  margin-top: 200px;
}
/* line 542, ../scss/comm.scss */
#member [class^="icon-"], #member [class*=" icon-"] {
  font-size: 18px;
  margin-right: 20px;
  margin-left: 5px;
}
/* line 548, ../scss/comm.scss */
#member #avatarCnt [class^="icon-"], #member #avatarCnt [class*=" icon-"] {
  display: inline-block;
  width: 25px;
  height: 25px;
  line-height: 25px;
  margin-left: 0;
  text-align: center;
  background-color: #cccccc;
  border-radius: 50%;
}
/* line 559, ../scss/comm.scss */
#member ul {
  padding: 10px 0;
}
/* line 562, ../scss/comm.scss */
#member ul li {
  width: 30px;
  white-space: nowrap;
  padding: 10px 0;
  background: url("../img/member_menu.png") no-repeat;
  overflow: hidden;
}
/* line 569, ../scss/comm.scss */
#member a {
  color: #ffffff;
  text-decoration: none;
}
/* line 573, ../scss/comm.scss */
#member ul li img {
  margin-right: 20px;
  margin-left: 3px;
}
/* line 577, ../scss/comm.scss */
#member ul li .avatar {
  border-radius: 12px 12px 12px 12px;
  width: 24px;
  height: 24px;
}
/* line 582, ../scss/comm.scss */
#member .myFav {
  background-position: 7px 14px;
}
/* line 585, ../scss/comm.scss */
#member .mySet {
  background-position: 7px -24px;
}
/* line 588, ../scss/comm.scss */
#member ul #avatarCnt {
  background: none;
  padding-left: 0;
}
/* line 592, ../scss/comm.scss */
#member ul #avatarCnt a {
  margin-left: 0;
}
