/* line 1, ../scss/global.scss */
ul, ol, li {
  list-style: none;
  margin: 0;
}

/* line 5, ../scss/global.scss */
* {
  margin-top: 0;
  padding: 0;
}

/* line 9, ../scss/global.scss */
i, cite, em, var, address, dfn {
  font-style: normal;
}

/* line 10, ../scss/global.scss */
a {
  color: inherit;
}

/* line 12, ../scss/global.scss */
body .container {
  width: 1200px;
  max-width: none;
}

/* line 18, ../scss/global.scss */
h1, .h1, h2, .h2, h3, .h3 {
  margin-bottom: 0;
}
