/* line 3, ../scss/global.scss */
ul, ol {
  list-style: none;
  margin: 0;
}

/* line 7, ../scss/global.scss */
* {
  margin-top: 0;
  padding: 0;
}

/* line 11, ../scss/global.scss */
i, cite, em, var, address, dfn {
  font-style: normal;
}

/* line 12, ../scss/global.scss */
a {
  cursor: pointer;
  color: inherit;
}

/* line 20, ../scss/global.scss */
img {
  max-width: 100%;
}

/* line 24, ../scss/global.scss */
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0;
}

/* line 28, ../scss/global.scss */
.form-control {
  border-width: 1px;
}
