/*
Error: Invalid GBK character "\xE6"
        on line 1 of X:/workspace/homejc001-new/./scss/testGulp.scss

1: /** 测试 gulp-ruby-sass 编译sass时支持中文与否 **\/
2: 
3: div {
4:   border: 1px solid #ddd;
5:   width: 100%;
6: 

Backtrace:
X:/workspace/homejc001-new/./scss/testGulp.scss:1
e:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.4.7/lib/sass/util.rb:1323:in `rescue in block in find_encoding_error'
e:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.4.7/lib/sass/util.rb:1320:in `block in find_encoding_error'
e:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.4.7/lib/sass/util.rb:1319:in `each'
e:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.4.7/lib/sass/util.rb:1319:in `each_with_index'
e:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.4.7/lib/sass/util.rb:1319:in `find_encoding_error'
e:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.4.7/lib/sass/util.rb:896:in `check_sass_encoding'
e:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.4.7/lib/sass/engine.rb:423:in `check_encoding!'
e:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.4.7/lib/sass/engine.rb:379:in `_to_tree'
e:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.4.7/lib/sass/engine.rb:268:in `render'
e:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-import-once-1.0.5/lib/compass/import-once/engine.rb:17:in `block in render'
e:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-import-once-1.0.5/lib/compass/import-once/engine.rb:29:in `with_import_scope'
e:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-import-once-1.0.5/lib/compass/import-once/engine.rb:16:in `render'
e:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.4.7/lib/sass/plugin/compiler.rb:491:in `update_stylesheet'
e:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.4.7/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
e:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.4.7/lib/sass/plugin/compiler.rb:209:in `each'
e:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.4.7/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
e:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.4.7/lib/sass/plugin/compiler.rb:293:in `watch'
e:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-1.0.3/lib/compass/sass_compiler.rb:46:in `watch!'
e:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-1.0.3/lib/compass/commands/watch_project.rb:41:in `perform'
e:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-1.0.3/lib/compass/commands/base.rb:18:in `execute'
e:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-1.0.3/lib/compass/commands/project_base.rb:19:in `execute'
e:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-1.0.3/lib/compass/exec/sub_command_ui.rb:43:in `perform!'
e:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-1.0.3/lib/compass/exec/sub_command_ui.rb:15:in `run!'
e:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-1.0.3/bin/compass:30:in `block in <top (required)>'
e:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-1.0.3/bin/compass:44:in `call'
e:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-1.0.3/bin/compass:44:in `<top (required)>'
e:/Ruby200-x64/bin/compass:23:in `load'
e:/Ruby200-x64/bin/compass:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid GBK character \"\xE6\"\A         on line 1 of X:/workspace/homejc001-new/./scss/testGulp.scss\A \A 1: /** 测试 gulp-ruby-sass 编译sass时支持中文与否 **/\A 2: \A 3: div {\A 4:   border: 1px solid #ddd;\A 5:   width: 100%;\A 6: "; }
