@charset "UTF-8";
/* line 14, ../bootstrap4/scss/mixins/_clearfix.scss */
.nav-base:before, .nav-base:after,
.nav-haslogo:before,
.nav-haslogo:after {
  content: " ";
  display: table;
}
/* line 19, ../bootstrap4/scss/mixins/_clearfix.scss */
.nav-base:after,
.nav-haslogo:after {
  clear: both;
}
/* line 8, ../scss/widget.scss */
.nav-base .nav-item,
.nav-haslogo .nav-item {
  float: left;
  box-sizing: border-box;
  position: relative;
  text-align: center;
}
/* line 14, ../scss/widget.scss */
.nav-base a,
.nav-haslogo a {
  display: block;
  color: inherit;
  text-decoration: none;
}

/* line 21, ../scss/widget.scss */
.nav-base-wrap {
  margin-top: 15px;
  border-bottom: 2px solid #bd0401;
}

/* line 25, ../scss/widget.scss */
.nav-base {
  /* subnav begin*/
  /* subnav end*/
}
/* line 26, ../scss/widget.scss */
.nav-base .nav-item {
  width: 14.28571%;
  line-height: 2.6em;
  font-size: 1.15em;
}
/* line 30, ../scss/widget.scss */
.nav-base .nav-item:before {
  content: "";
  height: 1em;
  float: right;
  margin-top: 0.8em;
  border-left: 1px solid #ddd;
}
/* line 37, ../scss/widget.scss */
.nav-base .nav-item:last-child:before {
  display: none;
}
/* line 38, ../scss/widget.scss */
.nav-base .nav-item:hover, .nav-base .nav-item.on {
  background-color: #bd0401;
  color: #fff;
  outline: 1px solid #bd0401;
}
/* line 42, ../scss/widget.scss */
.nav-base .nav-item:hover:before, .nav-base .nav-item.on:before {
  display: none;
}
/* line 50, ../scss/widget.scss */
.nav-base .has-subnav .glyphicon {
  font-size: 1rem;
  margin-left: .5em;
}
/* line 54, ../scss/widget.scss */
.nav-base .has-subnav:hover .subnav {
  display: block;
}
/* line 58, ../scss/widget.scss */
.nav-base .subnav {
  display: none;
  position: absolute;
  left: 50%;
  z-index: 1000;
  width: 100%;
  margin-left: -50%;
  padding-top: .5em;
  padding-bottom: .5em;
  text-align: center;
  background-color: #d60501;
}
/* line 69, ../scss/widget.scss */
.nav-base .subnav li {
  line-height: 2em;
  padding-left: .25em;
  padding-right: .25em;
}
/* line 73, ../scss/widget.scss */
.nav-base .subnav li:hover {
  background-color: #8a0301;
}

/* line 81, ../scss/widget.scss */
.side-nav {
  line-height: 3em;
}
/* line 83, ../scss/widget.scss */
.side-nav .title {
  font-weight: bold;
  font-size: 1.2em;
}
/* line 87, ../scss/widget.scss */
.side-nav li {
  padding-left: 1.2em;
  padding-right: 1.2em;
  font-size: 1.1em;
  font-family: "microsoft yahei", simsun;
}
/* line 92, ../scss/widget.scss */
.side-nav li:hover, .side-nav li:focus, .side-nav li.on {
  color: #bd0401;
}
/* line 93, ../scss/widget.scss */
.side-nav li:hover a, .side-nav li:focus a, .side-nav li.on a {
  text-decoration: none;
}

/* line 103, ../scss/widget.scss */
.title-bar {
  line-height: 2.6em;
}
/* line 14, ../bootstrap4/scss/mixins/_clearfix.scss */
.title-bar:before, .title-bar:after {
  content: " ";
  display: table;
}
/* line 19, ../bootstrap4/scss/mixins/_clearfix.scss */
.title-bar:after {
  clear: both;
}
/* line 109, ../scss/widget.scss */
.title-bar .title, .title-bar .subtitle {
  margin-top: 0;
  margin-bottom: 0;
  font-family: "microsoft yahei", simsun;
}
/* line 114, ../scss/widget.scss */
.title-bar .title,
.title-bar .subtitle {
  float: left;
  line-height: inherit;
}
/* line 119, ../scss/widget.scss */
.title-bar .subtitle,
.title-bar .title-nav,
.title-bar .other-info {
  margin-left: 1.5em;
}
/* line 14, ../bootstrap4/scss/mixins/_clearfix.scss */
.title-bar .title-nav:before, .title-bar .title-nav:after {
  content: " ";
  display: table;
}
/* line 19, ../bootstrap4/scss/mixins/_clearfix.scss */
.title-bar .title-nav:after {
  clear: both;
}
/* line 124, ../scss/widget.scss */
.title-bar .title-nav li {
  float: left;
  padding: 0;
}
/* line 128, ../scss/widget.scss */
.title-bar .title-nav em {
  padding: 0 1em;
  line-height: .9em;
  font-family: "\5b8b\4f53";
  color: #818a91;
}
/* line 135, ../scss/widget.scss */
.title-bar .title {
  font-size: 1.42857em;
  font-weight: 400;
}
/* line 139, ../scss/widget.scss */
.title-bar .subtitle {
  font-size: 1.14286em;
}
/* line 142, ../scss/widget.scss */
.title-bar .more {
  float: right;
  padding-left: 1em;
  color: #818a91;
}
/* line 146, ../scss/widget.scss */
.title-bar .more i {
  margin-left: .2em;
  font-size: 1.2em;
  vertical-align: middle;
}
/* line 152, ../scss/widget.scss */
.title-bar .other-info {
  color: #818a91;
  font-size: 0.85714em;
  line-height: 2.6em;
  margin-top: 0.43333em;
}

/* line 161, ../scss/widget.scss */
.paging-bar {
  text-align: center;
  line-height: 2.8;
  font-size: 1em;
}
/* line 165, ../scss/widget.scss */
.paging-bar a:hover, .paging-bar a:focus {
  text-decoration: none;
}
/* line 166, ../scss/widget.scss */
.paging-bar .paging-list, .paging-bar .paging-form {
  display: inline-block;
}
/* line 14, ../bootstrap4/scss/mixins/_clearfix.scss */
.paging-bar .paging-list:before, .paging-bar .paging-list:after, .paging-bar .paging-form:before, .paging-bar .paging-form:after {
  content: " ";
  display: table;
}
/* line 19, ../bootstrap4/scss/mixins/_clearfix.scss */
.paging-bar .paging-list:after, .paging-bar .paging-form:after {
  clear: both;
}

/* line 171, ../scss/widget.scss */
.paging-list a, .paging-form span {
  float: left;
}

/* line 173, ../scss/widget.scss */
.paging-list a {
  width: 3em;
  background-color: #f8f8f8;
  border: 1px solid #ddd;
}
/* line 177, ../scss/widget.scss */
.paging-list a + a {
  margin-left: -1px;
}
/* line 178, ../scss/widget.scss */
.paging-list a:hover {
  background-color: #ebebeb;
}
/* line 179, ../scss/widget.scss */
.paging-list a.prev, .paging-list a.next {
  width: auto;
  padding: 0 1em;
}
/* line 183, ../scss/widget.scss */
.paging-list a.omit, .paging-list a.omit:hover {
  margin-left: 0;
  border: none;
  background: #fff;
}
/* line 188, ../scss/widget.scss */
.paging-list a.omit + a {
  margin-left: 0;
}
/* line 190, ../scss/widget.scss */
.paging-list a.current, .paging-list a.current:hover {
  color: #ffffff;
  background-color: #bd0401;
  border-color: #bd0401;
}
/* line 196, ../scss/widget.scss */
.paging-list.divide a {
  margin-right: 1em;
}
/* line 198, ../scss/widget.scss */
.paging-list.divide a.omit, .paging-list.divide a.omit:hover {
  margin-right: 0;
  margin-left: -1em;
}

/* line 205, ../scss/widget.scss */
.paging-form > span {
  margin-left: .5em;
}
/* line 206, ../scss/widget.scss */
.paging-form input, .paging-form button {
  box-sizing: content-box;
  border: 1px solid #ddd;
}
/* line 210, ../scss/widget.scss */
.paging-form input {
  width: 2em;
  height: 1.5em;
  line-height: 1.5;
  padding: 0 .2em;
  margin: 0 .2em;
}
/* line 217, ../scss/widget.scss */
.paging-form button {
  height: 1.8em;
  line-height: 1.8;
  padding: 0 .8em;
  background-color: #f8f8f8;
}
/* line 222, ../scss/widget.scss */
.paging-form button:hover {
  background-color: #ebebeb;
}

/* line 229, ../scss/widget.scss */
.breadcrumb, .breadcrumb-arrow, .breadcrumb-vertical {
  padding: 8px 15px;
  background-color: transparent;
  margin-bottom: 0;
  border-radius: 0;
}
/* line 14, ../bootstrap4/scss/mixins/_clearfix.scss */
.breadcrumb:before, .breadcrumb:after, .breadcrumb-arrow:before, .breadcrumb-arrow:after, .breadcrumb-vertical:before, .breadcrumb-vertical:after {
  content: " ";
  display: table;
}
/* line 19, ../bootstrap4/scss/mixins/_clearfix.scss */
.breadcrumb:after, .breadcrumb-arrow:after, .breadcrumb-vertical:after {
  clear: both;
}
/* line 236, ../scss/widget.scss */
.breadcrumb li, .breadcrumb-arrow li, .breadcrumb-vertical li {
  float: left;
}
/* line 237, ../scss/widget.scss */
.breadcrumb li + li:before, .breadcrumb-arrow li + li:before, .breadcrumb-vertical li + li:before {
  content: "/";
  text-align: center;
  font-family: "\5b8b\4f53";
}

/* line 244, ../scss/widget.scss */
.breadcrumb-arrow li + li:before, .breadcrumb-vertical li + li:before {
  color: #ccc;
  padding: 0 5px;
}

/* line 250, ../scss/widget.scss */
.breadcrumb-arrow li + li:before {
  content: ">";
}

/* line 253, ../scss/widget.scss */
.breadcrumb-vertical li + li:before {
  content: "|";
}

/* line 257, ../scss/widget.scss */
.tabs-nav3 {
  border-top: 2px solid #ddd;
  border-bottom: 1px solid #ddd;
  background-color: #eceeef;
}
/* line 261, ../scss/widget.scss */
.tabs-nav3 > li {
  width: 80px;
  margin-bottom: -1px;
}
/* line 264, ../scss/widget.scss */
.tabs-nav3 > li.on, .tabs-nav3 > li:hover {
  background-color: #fff;
}
/* line 266, ../scss/widget.scss */
.tabs-nav3 > li.on > a, .tabs-nav3 > li:hover > a {
  position: relative;
  border-top: 2px solid #bd0401;
  margin-top: -2px;
  /* 活动导航条目的向下的图标 */
}
/* line 271, ../scss/widget.scss */
.tabs-nav3 > li.on > a:before, .tabs-nav3 > li:hover > a:before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -5px;
  display: inline-block;
  width: 0;
  height: 0;
  vertical-align: middle;
  border-top: 5px solid #bd0401;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  border-bottom: 0 dotted;
  transform: rotate(360deg);
}

/* line 286, ../scss/widget.scss */
.media-base,
.media-circle,
.media-goods,
.media-goods2,
.media-newsitem,
.media-firmitem,
.media-big-img {
  margin-bottom: 20px;
  position: relative;
  /* clear bootstrap style and add property */
}
/* line 293, ../scss/widget.scss */
.media-base p, .media-base h4, .media-base h5, .media-base h6,
.media-circle p,
.media-circle h4,
.media-circle h5,
.media-circle h6,
.media-goods p,
.media-goods h4,
.media-goods h5,
.media-goods h6,
.media-goods2 p,
.media-goods2 h4,
.media-goods2 h5,
.media-goods2 h6,
.media-newsitem p,
.media-newsitem h4,
.media-newsitem h5,
.media-newsitem h6,
.media-firmitem p,
.media-firmitem h4,
.media-firmitem h5,
.media-firmitem h6,
.media-big-img p,
.media-big-img h4,
.media-big-img h5,
.media-big-img h6 {
  margin: 0;
}
/* line 294, ../scss/widget.scss */
.media-base p,
.media-circle p,
.media-goods p,
.media-goods2 p,
.media-newsitem p,
.media-firmitem p,
.media-big-img p {
  margin-bottom: .3em;
  color: #55595c;
}
/* line 298, ../scss/widget.scss */
.media-base h4, .media-base h5, .media-base h6,
.media-circle h4,
.media-circle h5,
.media-circle h6,
.media-goods h4,
.media-goods h5,
.media-goods h6,
.media-goods2 h4,
.media-goods2 h5,
.media-goods2 h6,
.media-newsitem h4,
.media-newsitem h5,
.media-newsitem h6,
.media-firmitem h4,
.media-firmitem h5,
.media-firmitem h6,
.media-big-img h4,
.media-big-img h5,
.media-big-img h6 {
  font-size: inherit;
}
/* line 303, ../scss/widget.scss */
.media-base .thumbnail,
.media-circle .thumbnail,
.media-goods .thumbnail,
.media-goods2 .thumbnail,
.media-newsitem .thumbnail,
.media-firmitem .thumbnail,
.media-big-img .thumbnail {
  border-radius: 0;
  padding: 0;
  margin-bottom: 0;
  text-align: center;
}
/* line 310, ../scss/widget.scss */
.media-base .tran-layer,
.media-circle .tran-layer,
.media-goods .tran-layer,
.media-goods2 .tran-layer,
.media-newsitem .tran-layer,
.media-firmitem .tran-layer,
.media-big-img .tran-layer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0 .6em;
  color: #ffffff;
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#B3000000, endColorstr=#B3000000)";
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#B3000000, endColorstr=#B3000000);
  background-color: rgba(0, 0, 0, 0.7);
}
/* line 318, ../scss/widget.scss */
.media-base .tran-layer a:hover,
.media-circle .tran-layer a:hover,
.media-goods .tran-layer a:hover,
.media-goods2 .tran-layer a:hover,
.media-newsitem .tran-layer a:hover,
.media-firmitem .tran-layer a:hover,
.media-big-img .tran-layer a:hover {
  color: inherit;
}
/* line 320, ../scss/widget.scss */
.media-base .media-title,
.media-circle .media-title,
.media-goods .media-title,
.media-goods2 .media-title,
.media-newsitem .media-title,
.media-firmitem .media-title,
.media-big-img .media-title {
  display: block;
  line-height: 1.4;
}
/* line 326, ../scss/widget.scss */
.media-base .media-btn,
.media-circle .media-btn,
.media-goods .media-btn,
.media-goods2 .media-btn,
.media-newsitem .media-btn,
.media-firmitem .media-btn,
.media-big-img .media-btn {
  position: absolute;
  bottom: 2.14286em;
  right: 1.07143em;
}
/* line 332, ../scss/widget.scss */
.media-base .media-time, .media-base .time,
.media-circle .media-time,
.media-circle .time,
.media-goods .media-time,
.media-goods .time,
.media-goods2 .media-time,
.media-goods2 .time,
.media-newsitem .media-time,
.media-newsitem .time,
.media-firmitem .media-time,
.media-firmitem .time,
.media-big-img .media-time,
.media-big-img .time {
  color: #818a91;
}

/* line 337, ../scss/widget.scss */
.media-base .media-title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 2;
}

/* line 345, ../scss/widget.scss */
.media-big-img .media-cont {
  position: relative;
  padding: 1.42857em;
}
/* line 348, ../scss/widget.scss */
.media-big-img .media-cont.tran-layer {
  position: absolute;
}
/* line 350, ../scss/widget.scss */
.media-big-img .media-cont.tran-layer p {
  color: #55595c;
}
/* line 356, ../scss/widget.scss */
.media-big-img .media-title {
  font-size: 1.71429em;
}
/* line 359, ../scss/widget.scss */
.media-big-img p {
  color: #818a91;
}

/* line 365, ../scss/widget.scss */
.media-txt-list .img {
  float: left;
  margin-right: 1em;
}
/* line 369, ../scss/widget.scss */
.media-txt-list .media-cont {
  line-height: 1.9;
}
/* line 371, ../scss/widget.scss */
.media-txt-list .media-cont a {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* line 14, ../bootstrap4/scss/mixins/_clearfix.scss */
.tabs-base:before, .tabs-base:after,
.tabs-nav1:before,
.tabs-nav1:after,
.tabs-nav2:before,
.tabs-nav2:after,
.tabs-nav3:before,
.tabs-nav3:after {
  content: " ";
  display: table;
}
/* line 19, ../bootstrap4/scss/mixins/_clearfix.scss */
.tabs-base:after,
.tabs-nav1:after,
.tabs-nav2:after,
.tabs-nav3:after {
  clear: both;
}
/* line 386, ../scss/widget.scss */
.tabs-base a,
.tabs-nav1 a,
.tabs-nav2 a,
.tabs-nav3 a {
  text-decoration: none;
}
/* line 387, ../scss/widget.scss */
.tabs-base > li,
.tabs-nav1 > li,
.tabs-nav2 > li,
.tabs-nav3 > li {
  float: left;
  text-align: center;
  line-height: 3em;
}
/* line 391, ../scss/widget.scss */
.tabs-base > li > a,
.tabs-nav1 > li > a,
.tabs-nav2 > li > a,
.tabs-nav3 > li > a {
  display: block;
  font-size: 1.14286em;
  font-family: "Microsoft YaHei", tahoma, arial, simsun;
}
/* line 395, ../scss/widget.scss */
.tabs-base > li > a:before,
.tabs-nav1 > li > a:before,
.tabs-nav2 > li > a:before,
.tabs-nav3 > li > a:before {
  content: "";
}
/* line 400, ../scss/widget.scss */
.tabs-base > li + li a,
.tabs-nav1 > li + li a,
.tabs-nav2 > li + li a,
.tabs-nav3 > li + li a {
  margin-left: -1px;
}

/* line 405, ../scss/widget.scss */
.tabs-nav1 > li {
  width: 33.33333%;
}
/* line 407, ../scss/widget.scss */
.tabs-nav1 > li > a {
  border: 1px solid #ddd;
}
/* line 411, ../scss/widget.scss */
.tabs-nav1 > li.on > a, .tabs-nav1 > li:hover > a {
  border-bottom-color: transparent;
}

/* line 416, ../scss/widget.scss */
ul, ol, li {
  list-style: none;
  margin: 0;
}

/* line 421, ../scss/widget.scss */
.my-progress {
  background-color: #fff;
  margin-bottom: 0;
}
/* line 14, ../bootstrap4/scss/mixins/_clearfix.scss */
.my-progress:before, .my-progress:after {
  content: " ";
  display: table;
}
/* line 19, ../bootstrap4/scss/mixins/_clearfix.scss */
.my-progress:after {
  clear: both;
}
/* line 425, ../scss/widget.scss */
.my-progress li {
  position: relative;
  float: left;
  width: 25%;
  text-align: center;
}
/* line 431, ../scss/widget.scss */
.my-progress li.on .prog-line, .my-progress li.on .prog-num {
  background-color: #5cb85c;
}
/* line 436, ../scss/widget.scss */
.my-progress .prog-line {
  position: absolute;
  left: -50%;
  top: 50%;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: -3px;
  height: 3px;
  background-color: #eceeef;
}
/* line 447, ../scss/widget.scss */
.my-progress .prog-num {
  content: " ";
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #eceeef;
}
