/*
Error: Invalid CSS after "...down(@size: 5px": expected "{", was "; @color: @acti..."
        on line 258 of /home/www/workspace/homejc001-new/./scss/widget.scss

253:           content: "";
254:           position: absolute;
255:           top: 0;
256:           left: 50%;
257:           margin-left: -5px;
258:           .caret-down(@size: 5px; @color: @activeColor);
259:         }
260:       }
261:     }
262:   }
263: }

Backtrace:
/home/www/workspace/homejc001-new/./scss/widget.scss:258
/usr/local/ruby-2.1.4/lib/ruby/gems/2.1.0/gems/sass-3.4.7/lib/sass/scss/parser.rb:1163:in `expected'
/usr/local/ruby-2.1.4/lib/ruby/gems/2.1.0/gems/sass-3.4.7/lib/sass/scss/parser.rb:1099:in `expected'
/usr/local/ruby-2.1.4/lib/ruby/gems/2.1.0/gems/sass-3.4.7/lib/sass/scss/parser.rb:1094:in `tok!'
/usr/local/ruby-2.1.4/lib/ruby/gems/2.1.0/gems/sass-3.4.7/lib/sass/scss/parser.rb:641:in `block'
/usr/local/ruby-2.1.4/lib/ruby/gems/2.1.0/gems/sass-3.4.7/lib/sass/scss/parser.rb:711:in `declaration_or_ruleset'
/usr/local/ruby-2.1.4/lib/ruby/gems/2.1.0/gems/sass-3.4.7/lib/sass/scss/parser.rb:661:in `block_child'
/usr/local/ruby-2.1.4/lib/ruby/gems/2.1.0/gems/sass-3.4.7/lib/sass/scss/parser.rb:653:in `block_contents'
/usr/local/ruby-2.1.4/lib/ruby/gems/2.1.0/gems/sass-3.4.7/lib/sass/scss/parser.rb:642:in `block'
/usr/local/ruby-2.1.4/lib/ruby/gems/2.1.0/gems/sass-3.4.7/lib/sass/scss/parser.rb:711:in `declaration_or_ruleset'
/usr/local/ruby-2.1.4/lib/ruby/gems/2.1.0/gems/sass-3.4.7/lib/sass/scss/parser.rb:661:in `block_child'
/usr/local/ruby-2.1.4/lib/ruby/gems/2.1.0/gems/sass-3.4.7/lib/sass/scss/parser.rb:653:in `block_contents'
/usr/local/ruby-2.1.4/lib/ruby/gems/2.1.0/gems/sass-3.4.7/lib/sass/scss/parser.rb:642:in `block'
/usr/local/ruby-2.1.4/lib/ruby/gems/2.1.0/gems/sass-3.4.7/lib/sass/scss/parser.rb:711:in `declaration_or_ruleset'
/usr/local/ruby-2.1.4/lib/ruby/gems/2.1.0/gems/sass-3.4.7/lib/sass/scss/parser.rb:661:in `block_child'
/usr/local/ruby-2.1.4/lib/ruby/gems/2.1.0/gems/sass-3.4.7/lib/sass/scss/parser.rb:653:in `block_contents'
/usr/local/ruby-2.1.4/lib/ruby/gems/2.1.0/gems/sass-3.4.7/lib/sass/scss/parser.rb:642:in `block'
/usr/local/ruby-2.1.4/lib/ruby/gems/2.1.0/gems/sass-3.4.7/lib/sass/scss/parser.rb:711:in `declaration_or_ruleset'
/usr/local/ruby-2.1.4/lib/ruby/gems/2.1.0/gems/sass-3.4.7/lib/sass/scss/parser.rb:661:in `block_child'
/usr/local/ruby-2.1.4/lib/ruby/gems/2.1.0/gems/sass-3.4.7/lib/sass/scss/parser.rb:653:in `block_contents'
/usr/local/ruby-2.1.4/lib/ruby/gems/2.1.0/gems/sass-3.4.7/lib/sass/scss/parser.rb:642:in `block'
/usr/local/ruby-2.1.4/lib/ruby/gems/2.1.0/gems/sass-3.4.7/lib/sass/scss/parser.rb:711:in `declaration_or_ruleset'
/usr/local/ruby-2.1.4/lib/ruby/gems/2.1.0/gems/sass-3.4.7/lib/sass/scss/parser.rb:661:in `block_child'
/usr/local/ruby-2.1.4/lib/ruby/gems/2.1.0/gems/sass-3.4.7/lib/sass/scss/parser.rb:653:in `block_contents'
/usr/local/ruby-2.1.4/lib/ruby/gems/2.1.0/gems/sass-3.4.7/lib/sass/scss/parser.rb:642:in `block'
/usr/local/ruby-2.1.4/lib/ruby/gems/2.1.0/gems/sass-3.4.7/lib/sass/scss/parser.rb:635:in `ruleset'
/usr/local/ruby-2.1.4/lib/ruby/gems/2.1.0/gems/sass-3.4.7/lib/sass/scss/parser.rb:660:in `block_child'
/usr/local/ruby-2.1.4/lib/ruby/gems/2.1.0/gems/sass-3.4.7/lib/sass/scss/parser.rb:653:in `block_contents'
/usr/local/ruby-2.1.4/lib/ruby/gems/2.1.0/gems/sass-3.4.7/lib/sass/scss/parser.rb:117:in `stylesheet'
/usr/local/ruby-2.1.4/lib/ruby/gems/2.1.0/gems/sass-3.4.7/lib/sass/scss/parser.rb:42:in `parse'
/usr/local/ruby-2.1.4/lib/ruby/gems/2.1.0/gems/sass-3.4.7/lib/sass/engine.rb:393:in `_to_tree'
/usr/local/ruby-2.1.4/lib/ruby/gems/2.1.0/gems/sass-3.4.7/lib/sass/engine.rb:268:in `render'
/usr/local/ruby-2.1.4/lib/ruby/gems/2.1.0/gems/compass-import-once-1.0.5/lib/compass/import-once/engine.rb:17:in `block in render'
/usr/local/ruby-2.1.4/lib/ruby/gems/2.1.0/gems/compass-import-once-1.0.5/lib/compass/import-once/engine.rb:29:in `with_import_scope'
/usr/local/ruby-2.1.4/lib/ruby/gems/2.1.0/gems/compass-import-once-1.0.5/lib/compass/import-once/engine.rb:16:in `render'
/usr/local/ruby-2.1.4/lib/ruby/gems/2.1.0/gems/sass-3.4.7/lib/sass/plugin/compiler.rb:491:in `update_stylesheet'
/usr/local/ruby-2.1.4/lib/ruby/gems/2.1.0/gems/sass-3.4.7/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/usr/local/ruby-2.1.4/lib/ruby/gems/2.1.0/gems/sass-3.4.7/lib/sass/plugin/compiler.rb:209:in `each'
/usr/local/ruby-2.1.4/lib/ruby/gems/2.1.0/gems/sass-3.4.7/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/usr/local/ruby-2.1.4/lib/ruby/gems/2.1.0/gems/sass-3.4.7/lib/sass/plugin/compiler.rb:469:in `on_file_changed'
/usr/local/ruby-2.1.4/lib/ruby/gems/2.1.0/gems/sass-3.4.7/lib/sass/plugin/compiler.rb:328:in `block in watch'
/usr/local/ruby-2.1.4/lib/ruby/gems/2.1.0/gems/sass-3.4.7/vendor/listen/lib/listen/listener.rb:252:in `call'
/usr/local/ruby-2.1.4/lib/ruby/gems/2.1.0/gems/sass-3.4.7/vendor/listen/lib/listen/listener.rb:252:in `on_change'
/usr/local/ruby-2.1.4/lib/ruby/gems/2.1.0/gems/sass-3.4.7/vendor/listen/lib/listen/listener.rb:290:in `block in initialize_adapter'
/usr/local/ruby-2.1.4/lib/ruby/gems/2.1.0/gems/sass-3.4.7/vendor/listen/lib/listen/adapter.rb:254:in `call'
/usr/local/ruby-2.1.4/lib/ruby/gems/2.1.0/gems/sass-3.4.7/vendor/listen/lib/listen/adapter.rb:254:in `report_changes'
/usr/local/ruby-2.1.4/lib/ruby/gems/2.1.0/gems/sass-3.4.7/vendor/listen/lib/listen/adapter.rb:323:in `poll_changed_directories'
/usr/local/ruby-2.1.4/lib/ruby/gems/2.1.0/gems/sass-3.4.7/vendor/listen/lib/listen/adapter.rb:299:in `block in start_poller'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"...down(@size: 5px\": expected \"{\", was \"; @color: @acti...\"\A         on line 258 of /home/www/workspace/homejc001-new/./scss/widget.scss\A \A 253:           content: \"\";\A 254:           position: absolute;\A 255:           top: 0;\A 256:           left: 50%;\A 257:           margin-left: -5px;\A 258:           .caret-down(@size: 5px; @color: @activeColor);\A 259:         }\A 260:       }\A 261:     }\A 262:   }\A 263: }"; }
