@import "variables";
@import "mixins";

//
[class^="u-"], [class*=" u-"] {
  display: inline-block;
}

.u-circle-btn {
  width: 50/$global-font-size + em;
  height: 50/$global-font-size + em;
  line-height: 1.2;
  padding: .8em 0 .6em;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background-color: lighten($activeColor, 10%);
  border-radius: 50%;
  &:hover { text-decoration: none; }
  i {
    display: inline-block;
    margin-top: -.2em;
    font-size: 24/$global-font-size + em;
  }
}

.u-main-btn {
  background-color: $highlightColor;
  color: #ffffff;
  border-color: $highlightColor;
  border-radius: 0;
  &:hover, &:focus {
    background-color: darken($highlightColor, 2%);
    color: #ffffff;
  }
}

[class^="u-word-"], [class*=" u-word-"] {
  $wordSize: 20;
  width: $wordSize + px;
  height: $wordSize + px;
  line-height: $wordSize + px;
  text-align: center;
  line-height: $wordSize - 1 + px;
}
.u-word-ying {

}

.u-word-ding {

}

.u-word-ren {

}

.u-word-bao {

}
