@import "../bootstrap4/scss/variables";

// Color
//
// theme color var
$globalBg:                      #f8f8f8;
$activeColor:                   #bd0401;
$highlightColor:                #91b81d;


// gray
$gray-border:                   #ddd;


// font-size
$global-font-size:              14;