@import "../bootstrap4/scss/variables";

// Color
//
// theme color var
$globalBg:                      #f8f8f8;
$activeColor:                   #bd0401;
$activeColor2:                  #91b81d;


// gray
$grayBorder:                   #ddd;


// font-size
$globalFontSize:              14;