@import "variables";
@import "mixins";

// ===================================
/* reset： 在bs框架的基础上在重置一些额外的样式 */
ul, ol {
  list-style-type: none;
  margin-bottom: 0; // clear bootstrap
}
ul, ol, dd { padding-left: 0; }

i, cite, em, var, address, dfn { font-style: normal; }
a { cursor: pointer; }
a, a:hover, a:focus {
  color: inherit;
  text-decoration: none;
}
img {  max-width: 100%; }

// clear bootstrap
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0;
}

// clear input type="number" arrow
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
  -moz-appearance:textfield;
  margin: 0;
}

// repair bootstrap4 border-width
.form-control {
  border-width: 1px;
}



// ===================================
/* layout： 全局公用布局样式 */
.layout-left, .layout-body, .layout-right {
  display: table-cell;
  vertical-align: top;
}
/* 宽度自适应宽度 */
.layout-body { width: 10000px; }


/* ===================================== */
/* unit： 元件样式，一些小功能样式 */

// ----------------------------
/* text：  文本类型 */
/* 文字多余显示省略号 */
.text-overflow {
  .text-overflow-base();
}
/* 文本隐藏 */
.text-hide {
  .text-hide();
}

//------------------------------
/* show： 显示类型 */
/* 元素获得焦点时外围的样式 */
.tab-focus {
  .tab-focus();
}

//------------------------------
/* action： 功能类型 */
/* Caret - down */
.caret-down {
  .caret-down();
}
/* Caret - up */
.caret-up {
  .caret-up();
}
/* Caret - left */
.caret-left {
  .caret-left();
}
/* Caret - right */
.caret-right {
  .caret-right();
}

//------------------------------
/* 自定义icon */
// "诚" 图标化
[class^="word-"],
[class*=" word-"] { display: inline-block; }
.word-sincere {
  display: inline-block;
  font-size: 1em;
  width: 1.2em;
  height: 1.2em;
  line-height: 1.2;
  text-align: center;
  font-weight: bold;
  color: #8c3f00;
  background-color: #f1b800;
}