/* line 6, ../../scss/pages-member/member.scss */
#header {
  box-sizing: content-box;
  height: 40px;
  padding: 18px 0;
  line-height: 40px;
  margin-bottom: 0;
  background-color: #bd0401;
  color: #ffffff;
}
/* line 14, ../../scss/pages-member/member.scss */
#header .logo, #header h1 {
  float: left;
}
/* line 17, ../../scss/pages-member/member.scss */
#header .logo {
  float: left;
  padding-right: 15px;
  margin-right: 15px;
  border-right: 1px solid #ffffff;
}
/* line 23, ../../scss/pages-member/member.scss */
#header h1 {
  width: 170px;
  font-size: 28px;
  font-family: "microsoft yahei", simsun;
}
/* line 30, ../../scss/pages-member/member.scss */
#header .nav-box li {
  float: left;
  padding: 0 30px;
  text-align: center;
  font-size: 16px;
}
/* line 37, ../../scss/pages-member/member.scss */
#header .welcome-box {
  font-size: 12px;
}
/* line 39, ../../scss/pages-member/member.scss */
#header .welcome-box .name {
  font-weight: bold;
}
/* line 40, ../../scss/pages-member/member.scss */
#header .welcome-box .exit {
  margin-left: 6px;
}

/* line 44, ../../scss/pages-member/member.scss */
.body-wrap {
  padding: 38px 0;
  background-color: #fafafb;
}

/* line 48, ../../scss/pages-member/member.scss */
.white-block {
  background-color: #fff;
}

/* line 51, ../../scss/pages-member/member.scss */
.side-nav {
  width: 14.28571%;
}
/* line 53, ../../scss/pages-member/member.scss */
.side-nav .title {
  padding-left: 1.2em;
  color: #55595c;
}

/* line 58, ../../scss/pages-member/member.scss */
.main-wrap {
  width: 85.71429%;
}

/* line 62, ../../scss/pages-member/member.scss */
.corp-intro {
  padding: 1.2em;
  margin-bottom: 20px;
  background-image: url("../../img/pages-member/corp-intro-bg.png");
  background-position: right bottom;
  background-repeat: no-repeat;
}
/* line 68, ../../scss/pages-member/member.scss */
.corp-intro .logo {
  float: left;
  margin-right: 2em;
  border: 1px solid #eceeef;
}
/* line 73, ../../scss/pages-member/member.scss */
.corp-intro .intro-cont {
  display: block;
  overflow: hidden;
  line-height: 2.2em;
}
/* line 77, ../../scss/pages-member/member.scss */
.corp-intro .intro-cont h4 {
  padding-bottom: .5em;
  font-size: 1.3em;
  line-height: 1.4;
  font-family: "microsoft yahei", simsun;
}
/* line 14, ../../bootstrap4/scss/mixins/_clearfix.scss */
.corp-intro .intro-cont ul:before, .corp-intro .intro-cont ul:after {
  content: " ";
  display: table;
}
/* line 19, ../../bootstrap4/scss/mixins/_clearfix.scss */
.corp-intro .intro-cont ul:after {
  clear: both;
}
/* line 86, ../../scss/pages-member/member.scss */
.corp-intro .intro-cont li {
  float: left;
  width: 50%;
  color: #747d85;
}

/* line 95, ../../scss/pages-member/member.scss */
.finance-info h3, .contact-us h3 {
  font-size: 16px;
  line-height: 2;
}

/* line 101, ../../scss/pages-member/member.scss */
.finance-info {
  width: 75%;
}

/* line 105, ../../scss/pages-member/member.scss */
.money-info {
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#66FDFEEC, endColorstr=#66FDFEEC)";
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#66FDFEEC, endColorstr=#66FDFEEC);
  background-color: rgba(253, 254, 236, 0.4);
  height: 8em;
  line-height: 2em;
}
/* line 109, ../../scss/pages-member/member.scss */
.money-info .left, .money-info .right {
  width: 50%;
  height: 100%;
  padding: 1em 2em;
  background-position: right top;
  background-repeat: no-repeat;
}
/* line 115, ../../scss/pages-member/member.scss */
.money-info .left .num, .money-info .right .num {
  font-size: 18px;
  font-family: "microsoft yahei", simsun;
  color: #55595c;
}
/* line 119, ../../scss/pages-member/member.scss */
.money-info .left .num span, .money-info .right .num span {
  margin-right: 5px;
}
/* line 122, ../../scss/pages-member/member.scss */
.money-info .left {
  background-image: url("../../img/pages-member/cw-bao-bg.png");
}
/* line 125, ../../scss/pages-member/member.scss */
.money-info .left .num span {
  font-weight: bold;
  font-size: 1.1em;
}
/* line 132, ../../scss/pages-member/member.scss */
.money-info .right {
  border-left: 1px solid #eceeef;
  background-image: url("../../img/pages-member/cw-yue-bg.png");
}

/* line 138, ../../scss/pages-member/member.scss */
.finance-detail {
  padding: 0 24px;
  font-size: 16px;
  color: #747d85;
}
/* line 142, ../../scss/pages-member/member.scss */
.finance-detail li {
  padding: 15px 0;
  line-height: 60px;
}
/* line 145, ../../scss/pages-member/member.scss */
.finance-detail li .type-items {
  display: block;
  overflow: hidden;
}
/* line 14, ../../bootstrap4/scss/mixins/_clearfix.scss */
.finance-detail li .type-items:before, .finance-detail li .type-items:after {
  content: " ";
  display: table;
}
/* line 19, ../../bootstrap4/scss/mixins/_clearfix.scss */
.finance-detail li .type-items:after {
  clear: both;
}
/* line 150, ../../scss/pages-member/member.scss */
.finance-detail li + li {
  border-top: 1px dashed #eceeef;
}
/* line 153, ../../scss/pages-member/member.scss */
.finance-detail li a {
  float: left;
  padding-left: 35px;
  width: 33.33333%;
}
/* line 157, ../../scss/pages-member/member.scss */
.finance-detail li a + a {
  border-left: 1px solid #eceeef;
}
/* line 160, ../../scss/pages-member/member.scss */
.finance-detail .finance-type {
  float: left;
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  margin-left: 17px;
  border-radius: 50%;
}
/* line 168, ../../scss/pages-member/member.scss */
.finance-detail .finance-type.type1 {
  color: #ea746b;
  border: 1px solid #ea746b;
}
/* line 173, ../../scss/pages-member/member.scss */
.finance-detail .finance-type.type2 {
  color: #0291ff;
  border: 1px solid #0291ff;
}
/* line 178, ../../scss/pages-member/member.scss */
.finance-detail .finance-type.type3 {
  color: #91b81d;
  border: 1px solid #91b81d;
}

/* line 186, ../../scss/pages-member/member.scss */
.contact-us {
  width: 25%;
  padding-left: 20px;
}
/* line 189, ../../scss/pages-member/member.scss */
.contact-us .contact-info, .contact-us .qrcode {
  color: #747d85;
}
/* line 190, ../../scss/pages-member/member.scss */
.contact-us .contact-info {
  line-height: 2.5em;
  padding: 1.2em;
  border-bottom: 1px solid #eceeef;
}
/* line 195, ../../scss/pages-member/member.scss */
.contact-us .qrcode {
  padding: 2em 0;
  text-align: center;
}
/* line 198, ../../scss/pages-member/member.scss */
.contact-us .qrcode p {
  padding-top: 1.5em;
}
