@import "../variables";
@import "../mixins";


$themeBg: lighten($gray-lighter, 5%);

// ====================================
// comm
.title-bar {
  padding-bottom: 1em;
  .title {
    font-size: 2em;
  }
}

// Override bootstrap
.carousel-inner > .item > img, .carousel-inner > .item > a > img {
  height: 360px;
}

// Override widget style
.media-base {
  .media-title, .media-explain {
    padding-left: 1em;
    padding-right: 1em;
  }
  .thumbnail {
    &:hover, &:focus {
      border-color: $activeColor;
    }
  }
}
.nav-base .nav-item { line-height: 2.4em; }


.body-wrap {
  position: relative;
  margin-top: -1.1em;
  padding: 0;
}
.side-nav {
  position: absolute;
  height: 100%;
  width: percentage(1/6);
  padding-top: 2em;
  background-color: $themeBg;
  li:hover, li.on {
    background-color: darken($themeBg, 2%);
    i { border-color: $activeColor; }
  }
  i {
    display: inline-block;
    width: 14px;
    height: 14px;
    line-height: 12px;
    margin-right: .8em;
    text-align: center;
    border: 1px solid $gray-light;
    border-radius: 50%;
    font-size: 10px;
  }
}

.main-warp {
  width: percentage(5/6);
  padding-left: 28px;
  h2 {
    font-size: 2em;
    padding: 1em 0;
    margin-top: .3em;
    font-family: "microsoft yahei", simsun;
    border-bottom: 1px solid $gray-lighter;
    margin-bottom: 1em;
  }
  h3 {
    font-size: 1.4em;
    line-height: 2em;
    font-family: "microsoft yahei", simsun;
  }
}

table {
  line-height: 3.5em;
  border: 1px solid $gray-lightest;
  border-bottom: none;
  th, td {
    border-bottom: 1px solid $gray-lightest;
  }
  th {
    background-color: $themeBg;
    text-align: center;
  }
  td { padding: 0 1em; }
}

.cont-logo {
  float: left;
  margin-right: 20px;
}

.otherInfo, .side-product { border: 1px solid $gray-lighter; }
.side-product {
  padding: .3em 1em;
  .title-bar {
    margin-top: 0;
    .title { font-size: 1.4em; }
  }
  .media-base {
    text-align: center;
  }
}

// 首页
.product .media-base {
  .media-title {
    font-size: 1.4em;
    font-family: "microsoft yahei", simsun;
  }
  padding-bottom: 1em;
  background-color: $themeBg;
  .media-btn { bottom: 3.5em; }
}

.case .media-base {
  text-align: center;
  border: 6px solid $themeBg;
  .media-explain {
    color: $gray-light;
  }
}

.popup-form-yuyue {
  $popupWidth: 436px;
  width: $popupWidth;
  padding-top: 0;
  margin-left: -$popupWidth/2;
  border: 3px solid darken($gray-lighter, 8%);
  input, select {
    border-radius: 0;
    border-color: $gray-lighter;
  }
  .form-hd {
    background-color: $gray-lightest;
    margin-bottom: 1.5em;
  }
  .submit {
    padding-bottom: 1.5em;
    margin-bottom: .8em;
    border-bottom: 1px solid $gray-lighter;
    button {
      padding: 10px 40px;
    }
  }
  .call-cont {
    width: 50%;
    text-align: center;
  }
  .call {
    color: $activeColor;
    font-weight: bold;
  }
  .form-ft {
    line-height: 2em;
    text-align: left;
    color: $gray-light;
    font-size: .87em;
  }
}

// header
.header-top {
  color: lighten($gray, 10%);
  .member-in {
    i , .exit { color: $activeColor; }
    i {
      vertical-align: middle;
      font-size: 1.2em;
      margin-right: 5px;
    }
  }
}

.header-center, .header-bottom {
  .container { position: relative; }
}
.header-center {
  position: relative;
  padding: 1.4em 1em 1em;
  z-index: 10;
}


.header-logo {
  padding-left: 130px;
  h1 {
    margin-top: 5px;
    margin-bottom: 15px;
    font-size: 26px;
    font-family: "microsoft yahei", simsun;
    font-weight: bold;
  }
  .logo-img {
    position: absolute;
    bottom: -53px;
    left: 0;
    border: 1px solid $gray-border;
    border-bottom: none;
  }
  .logo-cont {
    line-height: 1.2;
    padding-left: 0;
    border-left: none;
  }
}
.header-share {
  position: absolute;
  right: 0;
  bottom: 10px;
  li {
    float: left;
    color: $gray-light;
    + li { margin-right: 1em; }
  }
  i { vertical-align: middle; }
}

.header-bottom {
  background-color: $activeColor;
  color: #fff;
  border-top: 1px solid #000;
  .container { background-color: transparent; }
  margin-top: 0;
  .header-nav {
    padding-left: 124px;
  }
  .nav-item {
    &:before { display: none; }
    &:hover, &.on {
      background-color: #d60501;
      outline: none;
    }
  }

  .right-call, .right-top-btn {
    position: absolute;
    right: 0;
    bottom: 4px;
    font-size: 22px;
    font-weight: bold;
    i {
      margin-right: 15px;
      vertical-align: bottom;
    }
  }
  .right-top-btn { bottom: 0; }
}

.banner-form { float: right; }
.banner-media { float: left; }

.liangfang-and-corp {
  .liangfang-cont, .corp-cont {
    height: 300px;
    overflow: hidden;
  }
}
.liangfang-area {
  width: 73%;
  .title-bar .other-info {
    line-height: 1.4;
    height: 1.4em;
    margin-top: 1.2em;
    background-color: $activeColor;
    color: #fff;
    padding: 0 6px;
    font-family: serif;
  }
  table {
    width: 100%;
    line-height: 3em;
  }
  th, td {
    text-align: center;
  }
  th {
    font-weight: normal;
    font-family: "microsoft yahei", simsun;
  }
  .scrolltableHead th {
    background-color: $themeBg;
  }
}
.corp-area {
  width: 25%;
  line-height: 2.5em;

  .corp-cont {
    padding: 1em 1.2em;
    background-color: $themeBg;
  }
  p {
    text-indent: 2em;
  }
}


// 公司介绍、联系我们
.main-warp {
  .corp-cont {
    overflow: hidden;
    margin-bottom: 2em;
    p {
      line-height: 2em;
    }
  }
  .corp-contact {
    h5 {
      font-size: 1.6em;
      font-family: "microsoft yahei", simsun;
      margin-bottom: .5em;
    }
    p {
      font-size: .8em;
      color: $gray;
    }
    .btn-row {
      margin-top: 1em;
      background-color: $themeBg;
      font-size: 1.4em;
      line-height: 2.5em;
      button { margin-right: 2em; }
      .call {
        color: $activeColor;
      }
    }
  }
}


// 案例、产品详细页
.page-path {
  color: $gray;
  i {
    font-size: 1.2em;
    margin-right: 3px;
  }
  .active { color: $gray-dark; }
}
.case-info, .product-info {
  .media-info {
    width: 41.5%;
  }
  .info {
    width: percentage(1-0.415);
  }

  .img {
    padding: 2px;
    border: 1px solid darken($gray-lighter, 5%)
  }
  img { width: 100%; }
  .info {
    padding-left: 2em;
  }
  h4 {
    font-size: 1.6em;
    font-weight: bold;
    padding: .5em 0 .8em;
  }
  li {
    line-height: 3.5em;
    border-bottom: 1px solid $gray-lightest;
    color: $gray;
    .money {
      font-size: 1.8em;
      color: $activeColor;
      font-family: "microsoft yahei", simsun;
    }
  }
  .btn-row {
    margin-top: 1.5em;
  }
}

.case-info h4 { border-bottom: 1px solid $gray-lightest; }
.product-info .btn-row { margin-bottom: 1em; }

.case-otherInfo, .product-otherInfo {
  margin-top: 2em;
  .info-title {
    font-size: 1.3em;
    background-color: $gray-lightest;
  }
  .otherInfo {
    .details-cont {
      padding: 1.5em;
    }
  }

}
.tabs-nav3 {
  background-color: transparent;
  border-bottom-color: $gray-lighter;
  border-top-color: $gray-lighter;
}
.tabs-nav3 > li {
  width: auto;
}
.tabs-nav3 > li > a {
  padding: 0 1.5em;
  font-size: 1em;
}
.case-otherInfo {
  .info-title {
    line-height: 3em;
    padding-left: 1em;
    padding-right: 1em;
    font-weight: bold;
    border-top: 2px solid darken($gray-lightest, 5%) ;
  }
}