@import "../../variables";
// 变量
$activeColor: $activeColor;


// ================================
// 模块局部公用样式

@mixin media-imgtxt() {
  &:hover {
    .media-explain, .media-text { color: inherit; }
  }
  .media-explain, .media-text {
    color: #666666;
    font-size: 13em/14;
  }
  .media-text {
    margin-bottom: .5em;
  }
}

@mixin media-vertical() {
}

@mixin media-horizontal() {
  padding-top: .7em;
  padding-bottom: .7em;
  .media-title {
    line-height: 1.2;
    margin-bottom: 1em;
    font-size: 1.2em;
    font-weight: bold;
    font-family: "Microsoft YaHei", "微软雅黑", tahoma, arial, simsun, "宋体";
  }
  .media-state {
    color: $gray-light;
    em { color: $activeColor; }
  }
}

@mixin media-goods() {
  .thumbnail { border: none; }
  .media-title {
    font-weight: normal;
    margin-bottom: .6em;
  }
  .media-price {
    color: $activeColor;
    font-size: 1.5em;
    line-height: 1em;

    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    em {
      font-size: .6em;
      font-family: "microsoft yahei", simsun;
      font-weight: bold;
    }
    .original, .bought {
      color: #999;
      font-size: 1.4rem;
      font-family: "microsoft yahei", simsun;
    }
    .original {
      padding-left: .7em;
      text-decoration: line-through;
    }
    .bought { float: right; }
  }
  .media-norms { color: $gray; }
  .keyword { color: $keywordColor; }
}

@mixin media-btns() {
  .media-btns {
    padding-left: 2em;
    padding-top: .7em;
    &.media-right {
      vertical-align: middle;
      .btn {
        display: block;
        margin: .8em 0;
      }
    }
  }
}


@mixin media-share() {
  /* 下拉信息及箭头样式 begin */
  // 清除bs框架默认样式
  .dropdown-menu>li>a { padding: .2em 1em; }
  .dropdown-menu {
    position: relative;
    float: none;
    min-width: 0;
    margin-top: 0;
  }
  .dropdown-menu-wrap {
    position: absolute;
    left: 50%;
    width: 6em;
    margin-left: -3em;
    padding-top: 8px;

    &:before, &:after {
      content: "";
      position: absolute;
      left: 50%;
      z-index: 1001;
      margin-left: -8px;
      visibility: hidden;
    }
    &:before {
      top: 0;
      @include caret-up(8px, #C0BCBC);
    }
    &:after {
      top: 1px;
      @include caret-up(8px, #fff);
    }
  }
  &:hover {
    .dropdown-menu-wrap { &:before, &:after { visibility: visible; }}
    .dropdown-menu { display: block; }
  }
  /* 下拉信息及箭头样式 end */
}