@import "../../css/variables";
@import "media-config";

/* 修复父元素display: table-cell;时，图片子元素max-width属性值为百分比单位的问题 */
.media-left, .media-right, .media-body {
  img {  max-width: none; }
}
.media-body {
  position: relative;
  overflow: visible;
}

.media-base,
.media-circle,
 .media-goods,
 .media-goods2,
 .media-newsitem,
 .media-firmitem {
   margin-bottom: 20px;
   position: relative;
   /* clear bs框架样式 及 add部分属性。 */
   .thumbnail {
     border-radius: 0;
     padding: 0;
     margin-bottom: 0;
     text-align: center;
   }

   p, h4, h5, h6 { margin: 0; }
   p {
     margin-bottom: .3em;
     color: @gray;
   }
   h4, h5, h6 { font-size: inherit; }
   .media-title {
     display: block;
     line-height: 1.4;
     a:hover { color: @activeColor; }
   }
   .media-time, .time { color: @gray-light; }
 }
