@import "tabs-config";


.tabs-base,
.tabs-nav1,
.tabs-nav2,
.tabs-nav3 {
  @include clearfix();

  > li {
    float: left;
    text-align: center;
    line-height: 3em;
    & > a {
      display: block;
      font-size: 16em/14;
      font-family: "Microsoft YaHei", tahoma, arial, simsun;
      /* 生成向下的三角图标 */
      &:before {
        content: "";
      }

    }
    + li a { margin-left: -1px; }
  }
}