@charset "UTF-8";
/* line 5, ../../scss/pages-publicity/publicity.scss */
.publicity {
  background-color: #ffffff;
}
/* line 7, ../../scss/pages-publicity/publicity.scss */
.publicity .container {
  width: 1190px;
  padding: 0;
}
/* line 10, ../../scss/pages-publicity/publicity.scss */
.publicity .container > .row {
  margin: 0;
}
/* line 13, ../../scss/pages-publicity/publicity.scss */
.publicity .title {
  font-size: 24px;
  padding: 30px 0 10px;
  font-family: "microsoft yahei", simsun;
}
/* line 17, ../../scss/pages-publicity/publicity.scss */
.publicity .title h2 {
  margin: 0;
}
/* line 21, ../../scss/pages-publicity/publicity.scss */
.publicity .media-body, .publicity .media-left, .publicity .media-right {
  display: table-cell;
  vertical-align: top;
}
/* line 25, ../../scss/pages-publicity/publicity.scss */
.publicity .media-body {
  width: 10000px;
}
/* line 28, ../../scss/pages-publicity/publicity.scss */
.publicity .media-left img {
  max-width: none;
}
/* line 31, ../../scss/pages-publicity/publicity.scss */
.publicity .media-firmitem .media-left {
  padding-right: 15px;
}
/* line 35, ../../scss/pages-publicity/publicity.scss */
.publicity .media-labels1 {
  line-height: 1.7;
}
/* line 38, ../../scss/pages-publicity/publicity.scss */
.publicity .media-text {
  line-height: 1.6;
  margin: 15px 0 0 0;
}

/* line 45, ../../scss/pages-publicity/publicity.scss */
.cont-nav {
  border: 1px solid #d7d7d7;
  border-bottom: none;
  border-right: none;
}
/* line 14, ../../bootstrap4/scss/mixins/_clearfix.scss */
.cont-nav:before, .cont-nav:after {
  content: " ";
  display: table;
}
/* line 19, ../../bootstrap4/scss/mixins/_clearfix.scss */
.cont-nav:after {
  clear: both;
}
/* line 50, ../../scss/pages-publicity/publicity.scss */
.cont-nav .item {
  float: left;
  width: 33.3333%;
  border-right: 1px solid #d7d7d7;
}
/* line 54, ../../scss/pages-publicity/publicity.scss */
.cont-nav .item.on {
  border-right: none;
}
/* line 55, ../../scss/pages-publicity/publicity.scss */
.cont-nav .item.on:first-child {
  margin-left: -1px;
}
/* line 56, ../../scss/pages-publicity/publicity.scss */
.cont-nav .item.last, .cont-nav .item:last-child {
  float: right;
}
/* line 58, ../../scss/pages-publicity/publicity.scss */
.cont-nav img {
  width: 100%;
}

/* line 62, ../../scss/pages-publicity/publicity.scss */
.zx-page .item {
  width: 25%;
}

/* line 68, ../../scss/pages-publicity/publicity.scss */
.head-form {
  height: 456px;
  padding-left: 816px;
  margin-top: -1px;
  border-top: 1px solid transparent;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
/* line 75, ../../scss/pages-publicity/publicity.scss */
.head-form.dz-from1 {
  background: url("../../img/pages-publicity/dz-banner-bg1.jpg");
}
/* line 76, ../../scss/pages-publicity/publicity.scss */
.head-form.dz-from2 {
  background: url("../../img/pages-publicity/dz-banner-bg2.jpg");
}
/* line 77, ../../scss/pages-publicity/publicity.scss */
.head-form.dz-from3 {
  background: url("../../img/pages-publicity/dz-banner-bg3.jpg");
}
/* line 79, ../../scss/pages-publicity/publicity.scss */
.head-form.zx-from1 {
  background: url("../../img/pages-publicity/zx-banner-bg1.jpg");
}
/* line 80, ../../scss/pages-publicity/publicity.scss */
.head-form.zx-from2 {
  background: url("../../img/pages-publicity/zx-banner-bg2.jpg");
}
/* line 81, ../../scss/pages-publicity/publicity.scss */
.head-form.zx-from3 {
  background: url("../../img/pages-publicity/zx-banner-bg3.jpg");
}
/* line 82, ../../scss/pages-publicity/publicity.scss */
.head-form.zx-from4 {
  background: url("../../img/pages-publicity/zx-banner-bg4.jpg");
}
/* line 83, ../../scss/pages-publicity/publicity.scss */
.head-form .form-cont {
  width: 340px;
  height: 402px;
  margin-top: 52px;
  padding: 10px 30px 0;
  text-align: center;
  background-color: #ffffff;
  border-bottom: 1px solid #ddd;
  box-shadow: 0 3px 3px #ddd;
}
/* line 92, ../../scss/pages-publicity/publicity.scss */
.head-form .form-cont .title {
  font-size: 18px;
  margin-top: 20px;
  text-align: left;
  font-family: "Microsoft YaHei", "微软雅黑", tahoma, arial, simsun, "宋体";
  color: #000;
}
/* line 99, ../../scss/pages-publicity/publicity.scss */
.head-form .form-cont p {
  margin: 0;
}
/* line 100, ../../scss/pages-publicity/publicity.scss */
.head-form .form-cont em {
  color: #91b81d;
}
/* line 103, ../../scss/pages-publicity/publicity.scss */
.head-form .form-cont .current-num {
  line-height: 28px;
  margin-top: 10px;
  background-color: #f6f6f6;
}
/* line 108, ../../scss/pages-publicity/publicity.scss */
.head-form .form-cont .chengluo {
  color: #999999;
  margin-top: 15px;
  text-align: left;
}
/* line 113, ../../scss/pages-publicity/publicity.scss */
.head-form .form-cont .form-line {
  margin: 22px 0;
}
/* line 115, ../../scss/pages-publicity/publicity.scss */
.head-form .form-cont .form-line input, .head-form .form-cont .form-line button, .head-form .form-cont .form-line select, .head-form .form-cont .form-line textarea {
  margin: 0;
}
/* line 119, ../../scss/pages-publicity/publicity.scss */
.head-form .form-cont input, .head-form .form-cont button, .head-form .form-cont select, .head-form .form-cont textarea {
  display: block;
  width: 100%;
  line-height: 32px;
  border: 1px solid #ddd;
  padding: 0 6px;
  margin: 19px 0;
}
/* line 127, ../../scss/pages-publicity/publicity.scss */
.head-form .form-cont input, .head-form .form-cont button, .head-form .form-cont select {
  height: 32px;
}
/* line 128, ../../scss/pages-publicity/publicity.scss */
.head-form .form-cont button {
  cursor: pointer;
}
/* line 129, ../../scss/pages-publicity/publicity.scss */
.head-form .form-cont [type=submit], .head-form .form-cont .submit {
  height: 40px;
  line-height: 40px;
  background-color: #91b81d;
  color: #fff;
  font-size: 16px;
}
/* line 136, ../../scss/pages-publicity/publicity.scss */
.head-form .form-cont select {
  height: 28px;
}
/* line 137, ../../scss/pages-publicity/publicity.scss */
.head-form .form-cont textarea {
  line-height: 1.4;
  padding-top: .5em;
  padding-bottom: .5em;
}
/* line 142, ../../scss/pages-publicity/publicity.scss */
.head-form .form-cont .call-hintTxt {
  color: #666;
  margin-bottom: 5px;
}
/* line 146, ../../scss/pages-publicity/publicity.scss */
.head-form .form-cont .call {
  font-weight: bold;
  font-size: 28px;
  color: #c20112;
}
/* line 150, ../../scss/pages-publicity/publicity.scss */
.head-form .form-cont .call img {
  vertical-align: middle;
  margin-bottom: 5px;
  margin-right: 10px;
}
/* line 156, ../../scss/pages-publicity/publicity.scss */
.head-form .form-cont .city {
  margin-right: -3%;
}
/* line 14, ../../bootstrap4/scss/mixins/_clearfix.scss */
.head-form .form-cont .city:before, .head-form .form-cont .city:after {
  content: " ";
  display: table;
}
/* line 19, ../../bootstrap4/scss/mixins/_clearfix.scss */
.head-form .form-cont .city:after {
  clear: both;
}
/* line 159, ../../scss/pages-publicity/publicity.scss */
.head-form .form-cont .city select {
  float: left;
  width: 30.333%;
  margin-right: 3%;
}
/* line 166, ../../scss/pages-publicity/publicity.scss */
.head-form .form-cont .col-2 select {
  width: 47%;
  margin-right: 3%;
}

/* line 176, ../../scss/pages-publicity/publicity.scss */
.new-apply {
  text-align: right;
}
/* line 178, ../../scss/pages-publicity/publicity.scss */
.new-apply h2 {
  float: left;
  margin: 0;
  padding: 20px 0;
  font-size: 32px;
}
/* line 184, ../../scss/pages-publicity/publicity.scss */
.new-apply .type-tabs {
  display: inline-block;
  margin-top: 50px;
}
/* line 187, ../../scss/pages-publicity/publicity.scss */
.new-apply .type-tabs .tab {
  padding: 0 10px;
  color: #666;
}
/* line 190, ../../scss/pages-publicity/publicity.scss */
.new-apply .type-tabs .tab + .tab {
  border-left: 1px solid #ddd;
}
/* line 196, ../../scss/pages-publicity/publicity.scss */
.new-apply .publicity-table tr {
  border-bottom: 1px solid #eee;
}

/* line 201, ../../scss/pages-publicity/publicity.scss */
.scrolltable-warp {
  margin-bottom: 60px;
}

/* line 14, ../../bootstrap4/scss/mixins/_clearfix.scss */
.case-and-new:before, .case-and-new:after {
  content: " ";
  display: table;
}
/* line 19, ../../bootstrap4/scss/mixins/_clearfix.scss */
.case-and-new:after {
  clear: both;
}
/* line 205, ../../scss/pages-publicity/publicity.scss */
.case-and-new table {
  width: 100%;
}
/* line 207, ../../scss/pages-publicity/publicity.scss */
.case-and-new table th, .case-and-new table td {
  width: 1%;
}

/* line 213, ../../scss/pages-publicity/publicity.scss */
.publicity-table {
  color: #666;
}
/* line 215, ../../scss/pages-publicity/publicity.scss */
.publicity-table th, .publicity-table td {
  text-align: left;
  padding: 0 10px;
}
/* line 218, ../../scss/pages-publicity/publicity.scss */
.publicity-table th:last-child, .publicity-table td:last-child {
  text-align: right;
}
/* line 222, ../../scss/pages-publicity/publicity.scss */
.publicity-table th {
  border: 1px solid #dddddd;
  border-width: 1px 0;
  line-height: 42px;
}
/* line 227, ../../scss/pages-publicity/publicity.scss */
.publicity-table td {
  line-height: 32px;
  white-space: nowrap;
}

/* line 233, ../../scss/pages-publicity/publicity.scss */
.new-yanfang tbody {
  padding-top: 20px;
}

/* line 240, ../../scss/pages-publicity/publicity.scss */
.dkjs {
  padding: 50px 80px;
  background-color: #f8f8f8;
}
/* line 245, ../../scss/pages-publicity/publicity.scss */
.dkjs .dfl, .dkjs em {
  color: #3388c9;
}
/* line 246, ../../scss/pages-publicity/publicity.scss */
.dkjs p {
  margin-bottom: 0;
}
/* line 247, ../../scss/pages-publicity/publicity.scss */
.dkjs .title {
  line-height: 1;
  font-size: 30px;
  padding: 20px 0;
  margin-bottom: 40px;
  border-bottom: 1px solid #eeeeee;
  font-family: "Microsoft YaHei", tahoma, arial, simsun;
}
/* line 255, ../../scss/pages-publicity/publicity.scss */
.dkjs .dkjs-form {
  width: 40%;
  padding-right: 20px;
}
/* line 258, ../../scss/pages-publicity/publicity.scss */
.dkjs .dkjs-form .dfl {
  font-size: 24px;
  font-family: "Microsoft YaHei", tahoma, arial, simsun;
  margin-bottom: 20px;
}
/* line 262, ../../scss/pages-publicity/publicity.scss */
.dkjs .dkjs-form .dfl i {
  margin-right: 15px;
  display: inline-block;
  width: 27px;
  height: 27px;
  line-height: 23px;
  text-align: center;
  font-size: 16px;
  border-radius: 50%;
  border: 2px solid #3388c9;
}
/* line 274, ../../scss/pages-publicity/publicity.scss */
.dkjs .dkjs-form button[type=submit] {
  width: 100%;
  background-color: #3088c8;
}
/* line 279, ../../scss/pages-publicity/publicity.scss */
.dkjs .dkjs-result {
  padding: 20px;
  width: 60%;
  background-color: #fff;
}
/* line 283, ../../scss/pages-publicity/publicity.scss */
.dkjs .dkjs-result .left {
  padding-left: 20px;
  width: 55%;
  line-height: 150px;
  border-right: 1px solid #e3e3e3;
}
/* line 288, ../../scss/pages-publicity/publicity.scss */
.dkjs .dkjs-result .left em {
  font-size: 36px;
}
/* line 290, ../../scss/pages-publicity/publicity.scss */
.dkjs .dkjs-result .right {
  width: 45%;
  line-height: 50px;
  padding: 0 20px;
}
