/* line 9, ../../scss/pages-merchant/merchant.scss */
.title-bar {
  padding-bottom: 1em;
}
/* line 11, ../../scss/pages-merchant/merchant.scss */
.title-bar .title {
  font-size: 2em;
}

/* line 17, ../../scss/pages-merchant/merchant.scss */
.carousel-inner > .item > img, .carousel-inner > .item > a > img {
  height: 360px;
}

/* line 23, ../../scss/pages-merchant/merchant.scss */
.media-base .media-title, .media-base .media-explain {
  padding-left: 1em;
  padding-right: 1em;
}
/* line 27, ../../scss/pages-merchant/merchant.scss */
.media-base .thumbnail {
  height: 250px;
}
/* line 29, ../../scss/pages-merchant/merchant.scss */
.media-base .thumbnail:hover, .media-base .thumbnail:focus {
  border-color: #bd0401;
}
/* line 32, ../../scss/pages-merchant/merchant.scss */
.media-base .thumbnail img {
  width: 100%;
  height: 100%;
}

/* line 38, ../../scss/pages-merchant/merchant.scss */
.nav-base .nav-item {
  line-height: 2.4em;
}

/* line 42, ../../scss/pages-merchant/merchant.scss */
.media-base .thumbnail {
  height: 250px;
}

/* line 45, ../../scss/pages-merchant/merchant.scss */
.main-warp .media-base .thumbnail {
  height: 190px;
}

/* line 49, ../../scss/pages-merchant/merchant.scss */
.case-info .img {
  height: 370px;
}

/* line 50, ../../scss/pages-merchant/merchant.scss */
.product-info .img {
  height: 380px;
}

/* line 51, ../../scss/pages-merchant/merchant.scss */
.cont-logo {
  width: 150px;
}
/* line 53, ../../scss/pages-merchant/merchant.scss */
.cont-logo img {
  width: 100%;
}

/* line 55, ../../scss/pages-merchant/merchant.scss */
.corp-contact .cont-logo {
  width: 215px;
}

/* line 58, ../../scss/pages-merchant/merchant.scss */
.body-wrap {
  position: relative;
  margin-top: -1.1em;
  padding: 0;
}

/* line 63, ../../scss/pages-merchant/merchant.scss */
.side-nav {
  position: absolute;
  height: 100%;
  width: 16.66667%;
  padding-top: 2em;
  background-color: #fafafb;
}
/* line 69, ../../scss/pages-merchant/merchant.scss */
.side-nav li:hover, .side-nav li.on {
  background-color: #f4f5f6;
}
/* line 71, ../../scss/pages-merchant/merchant.scss */
.side-nav li:hover i, .side-nav li.on i {
  border-color: #bd0401;
}
/* line 73, ../../scss/pages-merchant/merchant.scss */
.side-nav i {
  display: inline-block;
  width: 14px;
  height: 14px;
  line-height: 12px;
  margin-right: .8em;
  text-align: center;
  border: 1px solid #818a91;
  border-radius: 50%;
  font-size: 10px;
}

/* line 86, ../../scss/pages-merchant/merchant.scss */
.main-warp {
  width: 83.33333%;
  padding-left: 28px;
}
/* line 89, ../../scss/pages-merchant/merchant.scss */
.main-warp h2 {
  font-size: 2em;
  padding: 1em 0;
  margin-top: .3em;
  font-family: "microsoft yahei", simsun;
  border-bottom: 1px solid #eceeef;
  margin-bottom: 1em;
}
/* line 97, ../../scss/pages-merchant/merchant.scss */
.main-warp h3 {
  font-size: 1.4em;
  line-height: 2em;
  font-family: "microsoft yahei", simsun;
}

/* line 104, ../../scss/pages-merchant/merchant.scss */
table {
  line-height: 3.5em;
  border: 1px solid #f7f7f9;
  border-bottom: none;
}
/* line 108, ../../scss/pages-merchant/merchant.scss */
table th, table td {
  border-bottom: 1px solid #f7f7f9;
}
/* line 111, ../../scss/pages-merchant/merchant.scss */
table th {
  background-color: #fafafb;
  text-align: center;
}
/* line 115, ../../scss/pages-merchant/merchant.scss */
table td {
  padding: 0 1em;
}

/* line 118, ../../scss/pages-merchant/merchant.scss */
.cont-logo {
  float: left;
  margin-right: 20px;
}

/* line 123, ../../scss/pages-merchant/merchant.scss */
.otherInfo, .side-product {
  border: 1px solid #eceeef;
}

/* line 124, ../../scss/pages-merchant/merchant.scss */
.side-product {
  padding: .3em 1em;
}
/* line 126, ../../scss/pages-merchant/merchant.scss */
.side-product .title-bar {
  margin-top: 0;
}
/* line 128, ../../scss/pages-merchant/merchant.scss */
.side-product .title-bar .title {
  font-size: 1.4em;
}
/* line 130, ../../scss/pages-merchant/merchant.scss */
.side-product .media-base {
  text-align: center;
}

/* line 136, ../../scss/pages-merchant/merchant.scss */
.product .media-base {
  padding-bottom: 1em;
  background-color: #fafafb;
}
/* line 137, ../../scss/pages-merchant/merchant.scss */
.product .media-base .media-title {
  font-size: 1.4em;
  font-family: "microsoft yahei", simsun;
}
/* line 143, ../../scss/pages-merchant/merchant.scss */
.product .media-base .media-btn {
  bottom: 3.5em;
}

/* line 146, ../../scss/pages-merchant/merchant.scss */
.case .media-base {
  text-align: center;
  border: 6px solid #fafafb;
}
/* line 149, ../../scss/pages-merchant/merchant.scss */
.case .media-base .media-explain {
  color: #818a91;
}

/* line 154, ../../scss/pages-merchant/merchant.scss */
.popup-form-yuyue {
  width: 436px;
  padding-top: 0;
  margin-left: -218px;
  border: 3px solid #d6dadc;
}
/* line 160, ../../scss/pages-merchant/merchant.scss */
.popup-form-yuyue input, .popup-form-yuyue select {
  border-radius: 0;
  border-color: #eceeef;
}
/* line 164, ../../scss/pages-merchant/merchant.scss */
.popup-form-yuyue .form-hd {
  background-color: #f7f7f9;
  margin-bottom: 1.5em;
}
/* line 168, ../../scss/pages-merchant/merchant.scss */
.popup-form-yuyue .submit {
  padding-bottom: 1.5em;
  margin-bottom: .8em;
  border-bottom: 1px solid #eceeef;
}
/* line 172, ../../scss/pages-merchant/merchant.scss */
.popup-form-yuyue .submit button {
  padding: 10px 40px;
}
/* line 176, ../../scss/pages-merchant/merchant.scss */
.popup-form-yuyue .call-cont {
  width: 50%;
  text-align: center;
}
/* line 180, ../../scss/pages-merchant/merchant.scss */
.popup-form-yuyue .call {
  color: #bd0401;
  font-weight: bold;
}
/* line 184, ../../scss/pages-merchant/merchant.scss */
.popup-form-yuyue .form-ft {
  line-height: 2em;
  text-align: left;
  color: #818a91;
  font-size: .87em;
}

/* line 193, ../../scss/pages-merchant/merchant.scss */
.header-top {
  color: #6d7377;
}
/* line 196, ../../scss/pages-merchant/merchant.scss */
.header-top .member-in i, .header-top .member-in .exit {
  color: #bd0401;
}
/* line 197, ../../scss/pages-merchant/merchant.scss */
.header-top .member-in i {
  vertical-align: middle;
  font-size: 1.2em;
  margin-right: 5px;
}

/* line 206, ../../scss/pages-merchant/merchant.scss */
.header-center .container, .header-bottom .container {
  position: relative;
}

/* line 208, ../../scss/pages-merchant/merchant.scss */
.header-center {
  position: relative;
  padding: 1.4em 1em 1em;
  z-index: 10;
}

/* line 215, ../../scss/pages-merchant/merchant.scss */
.header-logo {
  padding-left: 130px;
}
/* line 217, ../../scss/pages-merchant/merchant.scss */
.header-logo h1 {
  margin-top: 5px;
  margin-bottom: 15px;
  font-size: 26px;
  font-family: "microsoft yahei", simsun;
  font-weight: bold;
}
/* line 224, ../../scss/pages-merchant/merchant.scss */
.header-logo .logo-img {
  position: absolute;
  bottom: -53px;
  left: 0;
  border: 1px solid #ddd;
  border-bottom: none;
  width: 125px;
  height: 125px;
  line-height: 120px;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  background-color: #fff;
}
/* line 238, ../../scss/pages-merchant/merchant.scss */
.header-logo .logo-cont {
  line-height: 1.2;
  padding-left: 0;
  border-left: none;
}

/* line 244, ../../scss/pages-merchant/merchant.scss */
.header-share {
  position: absolute;
  right: 0;
  bottom: 10px;
}
/* line 248, ../../scss/pages-merchant/merchant.scss */
.header-share li {
  float: left;
  color: #818a91;
}
/* line 251, ../../scss/pages-merchant/merchant.scss */
.header-share li + li {
  margin-right: 1em;
}
/* line 253, ../../scss/pages-merchant/merchant.scss */
.header-share i {
  vertical-align: middle;
}

/* line 256, ../../scss/pages-merchant/merchant.scss */
.header-bottom {
  background-color: #bd0401;
  color: #fff;
  border-top: 1px solid #000;
  margin-top: 0;
}
/* line 260, ../../scss/pages-merchant/merchant.scss */
.header-bottom .container {
  background-color: transparent;
}
/* line 262, ../../scss/pages-merchant/merchant.scss */
.header-bottom .header-nav {
  padding-left: 124px;
}
/* line 266, ../../scss/pages-merchant/merchant.scss */
.header-bottom .nav-item:before {
  display: none;
}
/* line 267, ../../scss/pages-merchant/merchant.scss */
.header-bottom .nav-item:hover, .header-bottom .nav-item.on {
  background-color: #d60501;
  outline: none;
}
/* line 273, ../../scss/pages-merchant/merchant.scss */
.header-bottom .right-call, .header-bottom .right-top-btn {
  position: absolute;
  right: 0;
  bottom: 4px;
  font-size: 22px;
  font-weight: bold;
}
/* line 279, ../../scss/pages-merchant/merchant.scss */
.header-bottom .right-call i, .header-bottom .right-top-btn i {
  margin-right: 15px;
  vertical-align: bottom;
}
/* line 284, ../../scss/pages-merchant/merchant.scss */
.header-bottom .right-top-btn {
  bottom: 0;
}

/* line 287, ../../scss/pages-merchant/merchant.scss */
.banner-form {
  float: right;
}

/* line 288, ../../scss/pages-merchant/merchant.scss */
.banner-media {
  float: left;
}

/* line 291, ../../scss/pages-merchant/merchant.scss */
.liangfang-and-corp .liangfang-cont, .liangfang-and-corp .corp-cont {
  height: 300px;
  overflow: hidden;
}

/* line 296, ../../scss/pages-merchant/merchant.scss */
.liangfang-area {
  width: 73%;
}
/* line 298, ../../scss/pages-merchant/merchant.scss */
.liangfang-area .title-bar .other-info {
  line-height: 1.4;
  height: 1.4em;
  margin-top: 1.2em;
  background-color: #bd0401;
  color: #fff;
  padding: 0 6px;
  font-family: serif;
}
/* line 307, ../../scss/pages-merchant/merchant.scss */
.liangfang-area table {
  width: 100%;
  line-height: 3em;
}
/* line 311, ../../scss/pages-merchant/merchant.scss */
.liangfang-area th, .liangfang-area td {
  text-align: center;
}
/* line 314, ../../scss/pages-merchant/merchant.scss */
.liangfang-area th {
  font-weight: normal;
  font-family: "microsoft yahei", simsun;
}
/* line 318, ../../scss/pages-merchant/merchant.scss */
.liangfang-area .scrolltableHead th {
  background-color: #fafafb;
}

/* line 322, ../../scss/pages-merchant/merchant.scss */
.corp-area {
  width: 25%;
  line-height: 2.5em;
}
/* line 326, ../../scss/pages-merchant/merchant.scss */
.corp-area .corp-cont {
  padding: 1em 1.2em;
  background-color: #fafafb;
}
/* line 330, ../../scss/pages-merchant/merchant.scss */
.corp-area p {
  text-indent: 2em;
}

/* line 338, ../../scss/pages-merchant/merchant.scss */
.main-warp .corp-cont {
  overflow: hidden;
  margin-bottom: 2em;
}
/* line 341, ../../scss/pages-merchant/merchant.scss */
.main-warp .corp-cont p {
  line-height: 2em;
}
/* line 346, ../../scss/pages-merchant/merchant.scss */
.main-warp .corp-contact h5 {
  font-size: 1.6em;
  font-family: "microsoft yahei", simsun;
  margin-bottom: .5em;
}
/* line 351, ../../scss/pages-merchant/merchant.scss */
.main-warp .corp-contact p {
  font-size: .8em;
  color: #55595c;
}
/* line 355, ../../scss/pages-merchant/merchant.scss */
.main-warp .corp-contact .btn-row {
  margin-top: 1em;
  background-color: #fafafb;
  font-size: 1.4em;
  line-height: 2.5em;
}
/* line 360, ../../scss/pages-merchant/merchant.scss */
.main-warp .corp-contact .btn-row button {
  margin-right: 2em;
}
/* line 361, ../../scss/pages-merchant/merchant.scss */
.main-warp .corp-contact .btn-row .call {
  color: #bd0401;
}

/* line 370, ../../scss/pages-merchant/merchant.scss */
.page-path {
  color: #55595c;
}
/* line 372, ../../scss/pages-merchant/merchant.scss */
.page-path i {
  font-size: 1.2em;
  margin-right: 3px;
}
/* line 376, ../../scss/pages-merchant/merchant.scss */
.page-path .active {
  color: #373a3c;
}

/* line 379, ../../scss/pages-merchant/merchant.scss */
.case-info .media-info, .product-info .media-info {
  width: 41.5%;
}
/* line 382, ../../scss/pages-merchant/merchant.scss */
.case-info .info, .product-info .info {
  width: 58.5%;
}
/* line 386, ../../scss/pages-merchant/merchant.scss */
.case-info .img, .product-info .img {
  padding: 2px;
  border: 1px solid #dee2e3;
}
/* line 390, ../../scss/pages-merchant/merchant.scss */
.case-info img, .product-info img {
  width: 100%;
}
/* line 391, ../../scss/pages-merchant/merchant.scss */
.case-info .info, .product-info .info {
  padding-left: 2em;
}
/* line 394, ../../scss/pages-merchant/merchant.scss */
.case-info h4, .product-info h4 {
  font-size: 1.6em;
  font-weight: bold;
  padding: .5em 0 .8em;
}
/* line 399, ../../scss/pages-merchant/merchant.scss */
.case-info li, .product-info li {
  line-height: 3.5em;
  border-bottom: 1px solid #f7f7f9;
  color: #55595c;
}
/* line 403, ../../scss/pages-merchant/merchant.scss */
.case-info li .money, .product-info li .money {
  font-size: 1.8em;
  color: #bd0401;
  font-family: "microsoft yahei", simsun;
}
/* line 409, ../../scss/pages-merchant/merchant.scss */
.case-info .btn-row, .product-info .btn-row {
  margin-top: 1.5em;
}

/* line 414, ../../scss/pages-merchant/merchant.scss */
.case-info h4 {
  border-bottom: 1px solid #f7f7f9;
}

/* line 415, ../../scss/pages-merchant/merchant.scss */
.product-info .btn-row {
  margin-bottom: 1em;
}

/* line 417, ../../scss/pages-merchant/merchant.scss */
.case-otherInfo, .product-otherInfo {
  margin-top: 2em;
}
/* line 419, ../../scss/pages-merchant/merchant.scss */
.case-otherInfo .info-title, .product-otherInfo .info-title {
  font-size: 1.3em;
  background-color: #f7f7f9;
}
/* line 424, ../../scss/pages-merchant/merchant.scss */
.case-otherInfo .otherInfo .details-cont, .product-otherInfo .otherInfo .details-cont {
  padding: 1.5em;
}

/* line 430, ../../scss/pages-merchant/merchant.scss */
.tabs-nav3 {
  background-color: transparent;
  border-bottom-color: #eceeef;
  border-top-color: #eceeef;
}

/* line 435, ../../scss/pages-merchant/merchant.scss */
.tabs-nav3 > li {
  width: auto;
}

/* line 438, ../../scss/pages-merchant/merchant.scss */
.tabs-nav3 > li > a {
  padding: 0 1.5em;
  font-size: 1em;
}

/* line 443, ../../scss/pages-merchant/merchant.scss */
.case-otherInfo .info-title {
  line-height: 3em;
  padding-left: 1em;
  padding-right: 1em;
  font-weight: bold;
  border-top: 2px solid #e8e8ee;
}
