/* line 9, ../../scss/pages-merchant/merchant.scss */
.title-bar {
  padding-bottom: 1em;
}
/* line 11, ../../scss/pages-merchant/merchant.scss */
.title-bar .title {
  font-size: 2em;
}

/* line 18, ../../scss/pages-merchant/merchant.scss */
.media-base .media-title, .media-base .media-explain {
  padding-left: 1em;
  padding-right: 1em;
}
/* line 23, ../../scss/pages-merchant/merchant.scss */
.media-base .thumbnail:hover, .media-base .thumbnail:focus {
  border-color: #bd0401;
}

/* line 28, ../../scss/pages-merchant/merchant.scss */
.nav-base .nav-item {
  line-height: 2.4em;
}

/* line 31, ../../scss/pages-merchant/merchant.scss */
.body-wrap {
  position: relative;
  margin-top: -1.1em;
  padding: 0;
}

/* line 36, ../../scss/pages-merchant/merchant.scss */
.side-nav {
  position: absolute;
  height: 100%;
  width: 16.66667%;
  padding-top: 2em;
  background-color: #fafafb;
}

/* line 44, ../../scss/pages-merchant/merchant.scss */
.main-warp {
  width: 83.33333%;
  padding-left: 28px;
}
/* line 47, ../../scss/pages-merchant/merchant.scss */
.main-warp h2 {
  font-size: 2em;
  padding: 1em 0;
  margin-top: .3em;
  font-family: "microsoft yahei", simsun;
  border-bottom: 1px solid #eceeef;
  margin-bottom: 1em;
}
/* line 55, ../../scss/pages-merchant/merchant.scss */
.main-warp h3 {
  font-size: 1.4em;
  line-height: 2em;
  font-family: "microsoft yahei", simsun;
}

/* line 62, ../../scss/pages-merchant/merchant.scss */
table {
  line-height: 3.5em;
  border: 1px solid #f7f7f9;
  border-bottom: none;
}
/* line 66, ../../scss/pages-merchant/merchant.scss */
table th, table td {
  border-bottom: 1px solid #f7f7f9;
}
/* line 69, ../../scss/pages-merchant/merchant.scss */
table th {
  background-color: #fafafb;
  text-align: center;
}
/* line 73, ../../scss/pages-merchant/merchant.scss */
table td {
  padding: 0 1em;
}

/* line 76, ../../scss/pages-merchant/merchant.scss */
.cont-logo {
  float: left;
  margin-right: 20px;
}

/* line 81, ../../scss/pages-merchant/merchant.scss */
.otherInfo, .side-product {
  border: 1px solid #eceeef;
}

/* line 82, ../../scss/pages-merchant/merchant.scss */
.side-product {
  padding: .3em 1em;
}
/* line 84, ../../scss/pages-merchant/merchant.scss */
.side-product .title-bar {
  margin-top: 0;
}
/* line 86, ../../scss/pages-merchant/merchant.scss */
.side-product .title-bar .title {
  font-size: 1.4em;
}
/* line 88, ../../scss/pages-merchant/merchant.scss */
.side-product .media-base {
  text-align: center;
}

/* line 94, ../../scss/pages-merchant/merchant.scss */
.product .media-base {
  padding-bottom: 1em;
  background-color: #fafafb;
}
/* line 95, ../../scss/pages-merchant/merchant.scss */
.product .media-base .media-title {
  font-size: 1.4em;
  font-family: "microsoft yahei", simsun;
}
/* line 101, ../../scss/pages-merchant/merchant.scss */
.product .media-base .media-btn {
  bottom: 3.5em;
}

/* line 104, ../../scss/pages-merchant/merchant.scss */
.case .media-base {
  text-align: center;
  border: 6px solid #fafafb;
}
/* line 107, ../../scss/pages-merchant/merchant.scss */
.case .media-base .media-explain {
  color: #818a91;
}

/* line 112, ../../scss/pages-merchant/merchant.scss */
.header-top {
  color: #6d7377;
}

/* line 115, ../../scss/pages-merchant/merchant.scss */
.header-center .container, .header-bottom .container {
  position: relative;
}

/* line 117, ../../scss/pages-merchant/merchant.scss */
.header-center {
  position: relative;
  padding: 1.2em 1em 1em;
  z-index: 10;
}

/* line 124, ../../scss/pages-merchant/merchant.scss */
.header-logo {
  padding-left: 144px;
}
/* line 126, ../../scss/pages-merchant/merchant.scss */
.header-logo h1 {
  margin-top: 5px;
  margin-bottom: 15px;
  font-size: 26px;
  font-family: "microsoft yahei", simsun;
  font-weight: bold;
}
/* line 133, ../../scss/pages-merchant/merchant.scss */
.header-logo .logo-img {
  position: absolute;
  bottom: -53px;
  left: 0;
  border: 1px solid #ddd;
  border-bottom: none;
}
/* line 140, ../../scss/pages-merchant/merchant.scss */
.header-logo .logo-cont {
  line-height: 1.2;
}

/* line 142, ../../scss/pages-merchant/merchant.scss */
.header-share {
  position: absolute;
  right: 0;
  bottom: 0;
}
/* line 146, ../../scss/pages-merchant/merchant.scss */
.header-share li {
  float: left;
  color: #818a91;
}
/* line 149, ../../scss/pages-merchant/merchant.scss */
.header-share li + li {
  margin-right: 1em;
}
/* line 151, ../../scss/pages-merchant/merchant.scss */
.header-share i {
  vertical-align: middle;
}

/* line 154, ../../scss/pages-merchant/merchant.scss */
.header-bottom {
  background-color: #bd0401;
  color: #fff;
  border-top: 1px solid #000;
  margin-top: 0;
}
/* line 158, ../../scss/pages-merchant/merchant.scss */
.header-bottom .container {
  background-color: transparent;
}
/* line 160, ../../scss/pages-merchant/merchant.scss */
.header-bottom .header-nav {
  padding-left: 124px;
}
/* line 164, ../../scss/pages-merchant/merchant.scss */
.header-bottom .nav-item:before {
  display: none;
}
/* line 165, ../../scss/pages-merchant/merchant.scss */
.header-bottom .nav-item:hover, .header-bottom .nav-item.on {
  background-color: #d60501;
  outline: none;
}
/* line 171, ../../scss/pages-merchant/merchant.scss */
.header-bottom .right-call, .header-bottom .right-top-btn {
  position: absolute;
  right: 0;
  bottom: 4px;
  font-size: 22px;
  font-weight: bold;
}
/* line 177, ../../scss/pages-merchant/merchant.scss */
.header-bottom .right-call i, .header-bottom .right-top-btn i {
  margin-right: 15px;
  vertical-align: bottom;
}
/* line 182, ../../scss/pages-merchant/merchant.scss */
.header-bottom .right-top-btn {
  bottom: 0;
}

/* line 185, ../../scss/pages-merchant/merchant.scss */
.banner-form {
  float: right;
}

/* line 186, ../../scss/pages-merchant/merchant.scss */
.banner-media {
  float: left;
}

/* line 189, ../../scss/pages-merchant/merchant.scss */
.liangfang-and-corp .liangfang-cont, .liangfang-and-corp .corp-cont {
  height: 300px;
  overflow: hidden;
}

/* line 194, ../../scss/pages-merchant/merchant.scss */
.liangfang-area {
  width: 73%;
}
/* line 196, ../../scss/pages-merchant/merchant.scss */
.liangfang-area .title-bar .other-info {
  line-height: 1.4;
  height: 1.4em;
  margin-top: 1.2em;
  background-color: #bd0401;
  color: #fff;
  padding: 0 6px;
  font-family: sans-serif;
}
/* line 205, ../../scss/pages-merchant/merchant.scss */
.liangfang-area table {
  width: 100%;
  line-height: 3em;
}
/* line 209, ../../scss/pages-merchant/merchant.scss */
.liangfang-area th, .liangfang-area td {
  text-align: center;
}
/* line 212, ../../scss/pages-merchant/merchant.scss */
.liangfang-area th {
  font-weight: normal;
  font-family: "microsoft yahei", simsun;
}
/* line 216, ../../scss/pages-merchant/merchant.scss */
.liangfang-area .scrolltableHead th {
  background-color: #fafafb;
}

/* line 220, ../../scss/pages-merchant/merchant.scss */
.corp-area {
  width: 25%;
  line-height: 2.5em;
}
/* line 224, ../../scss/pages-merchant/merchant.scss */
.corp-area .corp-cont {
  padding: 1em 1.2em;
  background-color: #fafafb;
}
/* line 228, ../../scss/pages-merchant/merchant.scss */
.corp-area p {
  text-indent: 2em;
}

/* line 236, ../../scss/pages-merchant/merchant.scss */
.main-warp .corp-cont {
  overflow: hidden;
  margin-bottom: 2em;
}
/* line 239, ../../scss/pages-merchant/merchant.scss */
.main-warp .corp-cont p {
  line-height: 2em;
}
/* line 244, ../../scss/pages-merchant/merchant.scss */
.main-warp .corp-contact h5 {
  font-size: 1.6em;
  font-family: "microsoft yahei", simsun;
  margin-bottom: .5em;
}
/* line 249, ../../scss/pages-merchant/merchant.scss */
.main-warp .corp-contact p {
  font-size: .8em;
  color: #55595c;
}
/* line 253, ../../scss/pages-merchant/merchant.scss */
.main-warp .corp-contact .btn-row {
  margin-top: 1em;
  background-color: #fafafb;
  font-size: 1.4em;
  line-height: 2.5em;
}
/* line 258, ../../scss/pages-merchant/merchant.scss */
.main-warp .corp-contact .btn-row button {
  margin-right: 2em;
}
/* line 259, ../../scss/pages-merchant/merchant.scss */
.main-warp .corp-contact .btn-row .call {
  color: #bd0401;
}

/* line 269, ../../scss/pages-merchant/merchant.scss */
.case-info img, .product-info img {
  width: 100%;
}
/* line 270, ../../scss/pages-merchant/merchant.scss */
.case-info .info, .product-info .info {
  padding-left: 2em;
}
/* line 273, ../../scss/pages-merchant/merchant.scss */
.case-info h4, .product-info h4 {
  font-size: 1.6em;
  font-weight: bold;
  padding: .5em 0 .8em;
}
/* line 278, ../../scss/pages-merchant/merchant.scss */
.case-info li, .product-info li {
  line-height: 3.5em;
  border-bottom: 1px solid #f7f7f9;
  color: #55595c;
}
/* line 283, ../../scss/pages-merchant/merchant.scss */
.case-info .btn-row, .product-info .btn-row {
  margin-top: 1.5em;
}

/* line 288, ../../scss/pages-merchant/merchant.scss */
.case-info h4 {
  border-bottom: 1px solid #f7f7f9;
}

/* line 289, ../../scss/pages-merchant/merchant.scss */
.product-info .btn-row {
  margin-bottom: 1em;
}

/* line 291, ../../scss/pages-merchant/merchant.scss */
.case-otherInfo, .product-otherInfo {
  margin-top: 2em;
}
/* line 293, ../../scss/pages-merchant/merchant.scss */
.case-otherInfo .info-title, .product-otherInfo .info-title {
  font-size: 1.3em;
  background-color: #f7f7f9;
}
/* line 298, ../../scss/pages-merchant/merchant.scss */
.case-otherInfo .otherInfo .details-cont, .product-otherInfo .otherInfo .details-cont {
  padding: 1.5em;
}

/* line 304, ../../scss/pages-merchant/merchant.scss */
.tabs-nav3 {
  background-color: transparent;
  border-bottom-color: #eceeef;
  border-top-color: #eceeef;
}

/* line 309, ../../scss/pages-merchant/merchant.scss */
.tabs-nav3 > li {
  width: auto;
}

/* line 312, ../../scss/pages-merchant/merchant.scss */
.tabs-nav3 > li > a {
  padding: 0 1.5em;
  font-size: 1em;
}

/* line 317, ../../scss/pages-merchant/merchant.scss */
.case-otherInfo .info-title {
  line-height: 3em;
  padding-left: 1em;
  padding-right: 1em;
  font-weight: bold;
  border-top: 2px solid #e8e8ee;
}
