@import "list-config";

.list-content {
  // override default style
  .list-group-item {
    overflow: visible;
    white-space: normal;
  }
}
.list-group-item-title {
  @include text-truncate();
  margin-bottom: .5em;
  font-size: pxToEm(20px);
  font-family: "Microsoft YaHei", "Microsoft JhengHei", STHeiti, MingLiu;
}
.list-group-item-text {
  color: $gray;
}