@import "../variables";
@import "../mixins";

// header

#header {
  box-sizing: content-box;
  height: 40px;
  padding: 18px 0;
  line-height: 40px;
  margin-bottom: 0;
  background-color: $activeColor ;
  color: #ffffff;
  .logo, h1 {
    float: left;
  }
  .logo {
    float: left;
    padding-right: 15px;
    margin-right: 15px;
    border-right: 1px solid #ffffff;
  }
  h1 {
    width: 170px;
    font-size: 28px;
    font-family: "microsoft yahei", simsun;

  }
  .nav-box {
    li {
      float: left;
      padding: 0 30px;
      text-align: center;
      font-size: 16px;
    }
  }
  .welcome-box {
    font-size: 12px;
    .name { font-weight: bold; }
    .exit { margin-left: 6px; }
  }
}

.body-wrap {
  padding: 38px 0;
  background-color: lighten($gray-lighter, 5%);
}
.white-block {
  background-color: $body-bg;
}
.side-nav {
  width: percentage(1/7);
  .title {
    padding-left: 1.2em;
    color: $gray;
  }
}
.main-wrap {
  width: percentage(6/7);
}

.corp-intro {
  padding: 1.2em;
  margin-bottom: 20px;
  background-image: url("../../img/pages-member/corp-intro-bg.png");
  background-position: right bottom;
  background-repeat: no-repeat;
  .logo {
    float: left;
    margin-right: 2em;
    border: 1px solid $gray-lighter;
  }
  .intro-cont {
    display: block;
    overflow: hidden;
    line-height: 2.2em;
    h4 {
      padding-bottom: .5em;
      font-size: 1.3em;
      line-height: 1.4;
      font-family: "microsoft yahei", simsun;
    }
    ul {
      @include clearfix();
    }
    li {
      float: left;
      width: 50%;
      color: darken($gray-light, 5%);
    }
  }
}

.finance-info, .contact-us {
  h3 {
    font-size: 16px;
    line-height: 2;
  }
}

.finance-info {
  width: percentage(3/4);
}

.money-info {
  @include background-color-rgba(#fdfeec, .4);
  height: 8em;
  line-height: 2em;
  .left, .right {
    width: 50%;
    height: 100%;
    padding: 1em 2em;
    background-position: right top;
    background-repeat: no-repeat;
    .num {
      font-size: 18px;
      font-family: "microsoft yahei", simsun;
      color: $gray;
      span { margin-right: 5px; }
    }
  }
  .left {
    background-image: url("../../img/pages-member/cw-bao-bg.png");
    .num {
      span {
        font-weight: bold;
        font-size: 1.1em;
      }
    }
  }
  .right {
    border-left: 1px solid $gray-lighter;
    background-image: url("../../img/pages-member/cw-yue-bg.png");
  }
}

.finance-detail {
  padding: 0 24px;
  font-size: 16px;
  color: darken($gray-light, 5%);
  li {
     padding: 15px 0;
    line-height: 60px;
    .type-items {
      display: block;
      overflow: hidden;
      @include clearfix();
    }
    & + li {
      border-top:  1px dashed $gray-lighter;
    }
    a {
      float: left;
      padding-left: 35px;
      width: percentage(1/3);
      & + a { border-left: 1px solid $gray-lighter; }
    }
  }
  .finance-type {
    float: left;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    margin-left: 17px;
    border-radius: 50%;
    &.type1 {
      $typecolor: #ea746b;
      color: $typecolor;
      border: 1px solid $typecolor;
    }
    &.type2 {
      $typecolor: #0291ff;
      color: $typecolor;
      border: 1px solid $typecolor
    }
    &.type3 {
      $typecolor: #91b81d;
      color: $typecolor;
      border: 1px solid $typecolor
    }
  }
}

.contact-us {
  width: percentage(1/4);
  padding-left: 20px;
  .contact-info, .qrcode { color: darken($gray-light, 5%); }
  .contact-info {
    line-height: 2.5em;
    padding: 1.2em;
    border-bottom: 1px solid $gray-lighter;
  }
  .qrcode {
    padding: 2em 0;
    text-align: center;
    p { padding-top: 1.5em; }
  }
}