@import "../../css/variables";
// 变量
@activeColor: @globalActiveColor;



// title-bar 标题栏
.title-bar-base() {
  @height: 2.6em;

  .clearfix();
  line-height: @height;
  // 清除框架样式
  .title, .subtitle {
    margin-top: 0;
    margin-bottom: 0;
    font-family: "microsoft yahei", simsun;
  }
  .title,
  .subtitle {
    float: left;
    line-height: inherit;
  }
  .subtitle,
  .title-nav,
  .other-info { padding-left: 1.5em; }
  .title-nav {
    .clearfix();
    li {
      float: left;
      padding: 0 ;
    }
    em {
      padding: 0 1em;
      line-height: .9em;
      font-family: "\5b8b\4f53";
      color: @gray-border;
    }
  }
  .title {
    font-size: 20em/14;
    font-weight: 400;
  }
  .subtitle {
    font-size: 16em/14;
//    margin-top: @height*(16-14)/16;
  }
  .more {
    float: right;
    padding-left: 1em;
    color: @gray-light;
    i {
      margin-left: .2em;
      font-size: 1.2em;
      vertical-align: middle;
    }
  }
  .other-info {
    color: @gray-light;
    font-size: 12em/14;
    line-height: @height;
    margin-top: @height*(14-12)/12;
  }
}