@import "label-config";

.label-small {
  .label-title {
    white-space: nowrap;
    width: auto;
    margin-right: .5em;
  }
  .label {
    padding: 0 .8em;
    margin-right: pxToEm(5px);
    border: 1px solid $grayBorder;
    border-radius: .8em;
    background-color: $gray-lightest;
  }
}