/* line 5, ../../scss/pages-main/index.scss */
#links, .index-flow, .index-hot {
  margin-top: 1.07143em;
}

/* line 10, ../../scss/pages-main/index.scss */
.index-title .title {
  color: #bd0401;
  font-weight: bold;
}

/* line 18, ../../scss/pages-main/index.scss */
.popup-form-yuyue .form-group {
  border: 1px solid #d3d6d8;
  overflow: hidden;
}
/* line 22, ../../scss/pages-main/index.scss */
.popup-form-yuyue .form-control {
  border: none;
}

/* line 14, ../../bootstrap4/scss/mixins/_clearfix.scss */
.index-hot:before, .index-hot:after {
  content: " ";
  display: table;
}
/* line 19, ../../bootstrap4/scss/mixins/_clearfix.scss */
.index-hot:after {
  clear: both;
}

/* line 30, ../../scss/pages-main/index.scss */
.hot-tab {
  font-size: 1.28571em;
  font-weight: bold;
  color: #818a91;
}
/* line 32, ../../scss/pages-main/index.scss */
.hot-tab .tabs-nav1 > li {
  width: 33.33333%;
}
/* line 36, ../../scss/pages-main/index.scss */
.hot-tab span {
  text-transform: capitalize;
}
/* line 40, ../../scss/pages-main/index.scss */
.hot-tab li > a {
  border-color: #eceeef;
  border-bottom: none;
  color: #55595c;
}
/* line 44, ../../scss/pages-main/index.scss */
.hot-tab li > a:hover {
  text-decoration: none;
}
/* line 46, ../../scss/pages-main/index.scss */
.hot-tab li:hover, .hot-tab li.on {
  background-color: #eeeff0;
}

/* line 51, ../../scss/pages-main/index.scss */
.hot-cates, .hot-sort {
  float: left;
}

/* line 54, ../../scss/pages-main/index.scss */
.hot-cates {
  position: relative;
}
/* line 56, ../../scss/pages-main/index.scss */
.hot-cates .left-btn, .hot-cates .right-btn {
  position: absolute;
  top: 50%;
  z-index: 1000;
  width: 40px;
  height: 80px;
  line-height: 80px;
  margin-top: -40px;
  text-align: center;
  cursor: pointer;
  font-size: 3.42857em;
  font-family: serif;
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#B3000000, endColorstr=#B3000000)";
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#B3000000, endColorstr=#B3000000);
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
}
/* line 71, ../../scss/pages-main/index.scss */
.hot-cates .left-btn {
  left: 0;
}
/* line 72, ../../scss/pages-main/index.scss */
.hot-cates .right-btn {
  right: 0;
}

/* line 75, ../../scss/pages-main/index.scss */
.hot-conts {
  padding: 1.42857em;
  border: 1px solid #eceeef;
}
/* line 14, ../../bootstrap4/scss/mixins/_clearfix.scss */
.hot-conts:before, .hot-conts:after {
  content: " ";
  display: table;
}
/* line 19, ../../bootstrap4/scss/mixins/_clearfix.scss */
.hot-conts:after {
  clear: both;
}

/* line 80, ../../scss/pages-main/index.scss */
.hot-cates {
  width: 80%;
}

/* line 83, ../../scss/pages-main/index.scss */
.hot-sort {
  width: 20%;
  padding-left: 1.42857em;
}
/* line 85, ../../scss/pages-main/index.scss */
.hot-sort .sort-title i {
  float: left;
  margin-right: .7em;
}
/* line 92, ../../scss/pages-main/index.scss */
.hot-sort .sort-title {
  padding-bottom: 0.35714em;
  color: #bd0401;
  border-bottom: 1px solid #bd0401;
}
/* line 96, ../../scss/pages-main/index.scss */
.hot-sort .sort-title h3 {
  font-size: 1.42857em;
  font-weight: bold;
}
/* line 101, ../../scss/pages-main/index.scss */
.hot-sort li {
  padding: 1.07143em 0;
}
/* line 14, ../../bootstrap4/scss/mixins/_clearfix.scss */
.hot-sort li:before, .hot-sort li:after {
  content: " ";
  display: table;
}
/* line 19, ../../bootstrap4/scss/mixins/_clearfix.scss */
.hot-sort li:after {
  clear: both;
}
/* line 104, ../../scss/pages-main/index.scss */
.hot-sort li img {
  width: 100%;
  vertical-align: middle;
}
/* line 108, ../../scss/pages-main/index.scss */
.hot-sort li .img {
  float: left;
  width: 4.4em;
  height: 4.4em;
  line-height: 4.4em;
  margin-right: 0.71429em;
  overflow: hidden;
  border: 1px solid #818a91;
  border-radius: 50%;
}
/* line 118, ../../scss/pages-main/index.scss */
.hot-sort li .media-cont {
  line-height: 2.2;
}
/* line 121, ../../scss/pages-main/index.scss */
.hot-sort li h4 {
  color: #000;
  font-size: 1.2em;
  font-family: "Microsoft Yahei", Tahoma, Arial, Helvetica, STHeiti;
}
/* line 126, ../../scss/pages-main/index.scss */
.hot-sort li .link-text {
  color: #91b81d;
  font-family: Arial, Helvetica, serif;
  font-size: .8em;
}

/* line 133, ../../scss/pages-main/index.scss */
.hot-cate {
  margin-right: -2%;
}
/* line 14, ../../bootstrap4/scss/mixins/_clearfix.scss */
.hot-cate:before, .hot-cate:after {
  content: " ";
  display: table;
}
/* line 19, ../../bootstrap4/scss/mixins/_clearfix.scss */
.hot-cate:after {
  clear: both;
}
/* line 136, ../../scss/pages-main/index.scss */
.hot-cate img {
  width: 100%;
}
/* line 137, ../../scss/pages-main/index.scss */
.hot-cate .hot-item {
  float: left;
  width: 31.33333%;
  margin-right: 2%;
}
/* line 142, ../../scss/pages-main/index.scss */
.hot-cate .media-big-img .tran-layer {
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#B3FFFFFF, endColorstr=#B3FFFFFF)";
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#B3FFFFFF, endColorstr=#B3FFFFFF);
  background-color: rgba(255, 255, 255, 0.7);
}
/* line 145, ../../scss/pages-main/index.scss */
.hot-cate .media-cont, .hot-cate .media-title {
  font-weight: bold;
}
/* line 146, ../../scss/pages-main/index.scss */
.hot-cate .media-title {
  color: #373a3c;
}

/* line 14, ../../bootstrap4/scss/mixins/_clearfix.scss */
.xiaoguo-cont:before, .xiaoguo-cont:after {
  content: " ";
  display: table;
}
/* line 19, ../../bootstrap4/scss/mixins/_clearfix.scss */
.xiaoguo-cont:after {
  clear: both;
}
/* line 155, ../../scss/pages-main/index.scss */
.xiaoguo-cont .xiaoguo-bigimg, .xiaoguo-cont .xiaoguo-smallimg {
  float: left;
}
/* line 158, ../../scss/pages-main/index.scss */
.xiaoguo-cont .xiaoguo-bigimg {
  width: 40%;
}
/* line 161, ../../scss/pages-main/index.scss */
.xiaoguo-cont .xiaoguo-bigimg .xiaoguo-item p {
  color: #b5bcc0;
}
/* line 165, ../../scss/pages-main/index.scss */
.xiaoguo-cont .xiaoguo-smallimg {
  width: 60%;
}
/* line 168, ../../scss/pages-main/index.scss */
.xiaoguo-cont .xiaoguo-smallimg .smallimg-left {
  float: left;
  width: 66.66667%;
}
/* line 172, ../../scss/pages-main/index.scss */
.xiaoguo-cont .xiaoguo-smallimg .smallimg-right {
  float: right;
  width: 33.33333%;
  padding-left: 1.21429em;
}
/* line 180, ../../scss/pages-main/index.scss */
.xiaoguo-cont .smallimg-left .xiaoguo-item.colspan2 {
  width: 100%;
}
/* line 183, ../../scss/pages-main/index.scss */
.xiaoguo-cont .smallimg-left .xiaoguo-item {
  float: left;
  width: 231.5px;
}
/* line 187, ../../scss/pages-main/index.scss */
.xiaoguo-cont .smallimg-left .xiaoguo-item:first-child, .xiaoguo-cont .smallimg-left .xiaoguo-item.last {
  float: right;
  margin-right: 0;
}
/* line 192, ../../scss/pages-main/index.scss */
.xiaoguo-cont .xiaoguo-item {
  overflow: hidden;
  margin-bottom: 1.42857em;
  margin-right: 1.21429em;
}
/* line 197, ../../scss/pages-main/index.scss */
.xiaoguo-cont .smallimg-right .xiaoguo-item {
  margin-right: 0;
}
/* line 201, ../../scss/pages-main/index.scss */
.xiaoguo-cont .xiaoguo-bigimg .xiaoguo-item, .xiaoguo-cont .xiaoguo-smallimg .xiaoguo-item.rowspan2 {
  height: 24.28571em;
}
/* line 204, ../../scss/pages-main/index.scss */
.xiaoguo-cont .xiaoguo-smallimg .xiaoguo-item {
  height: 11.42857em;
}

/* line 208, ../../scss/pages-main/index.scss */
.xiaoguo-cate {
  border: 1px solid #eceeef;
}
/* line 210, ../../scss/pages-main/index.scss */
.xiaoguo-cate a {
  text-decoration: none;
}
/* line 211, ../../scss/pages-main/index.scss */
.xiaoguo-cate .title {
  float: left;
  line-height: 6.28571em;
  padding: 0 2.85714em;
  border-right: 1px solid #eceeef;
}
/* line 217, ../../scss/pages-main/index.scss */
.xiaoguo-cate ul {
  display: block;
  overflow: hidden;
  padding: 1.14286em 0;
}
/* line 14, ../../bootstrap4/scss/mixins/_clearfix.scss */
.xiaoguo-cate ul:before, .xiaoguo-cate ul:after {
  content: " ";
  display: table;
}
/* line 19, ../../bootstrap4/scss/mixins/_clearfix.scss */
.xiaoguo-cate ul:after {
  clear: both;
}
/* line 223, ../../scss/pages-main/index.scss */
.xiaoguo-cate li {
  display: table-cell;
  width: 1%;
  text-align: center;
}
/* line 227, ../../scss/pages-main/index.scss */
.xiaoguo-cate li > a {
  display: block;
}

/* line 235, ../../scss/pages-main/index.scss */
.gonglue-cont-line {
  padding-left: 13.71429em;
  margin-bottom: 2.85714em;
  padding-bottom: 1.07143em;
  background: url("../../img/gonglue-bg.png") no-repeat;
}
/* line 240, ../../scss/pages-main/index.scss */
.gonglue-cont-line.line1 {
  background-position: 0 0;
}
/* line 243, ../../scss/pages-main/index.scss */
.gonglue-cont-line.line2 {
  background-position: 0 -166px;
}

/* line 248, ../../scss/pages-main/index.scss */
.gonglue-cont-item {
  float: left;
}
/* line 250, ../../scss/pages-main/index.scss */
.gonglue-cont-item h4 {
  line-height: 1.2;
  margin-bottom: 0.71429em;
  padding-left: 0.35714em;
  background-color: #fafafb;
  font-size: 1.28571em;
  font-family: "Microsoft Yahei", Tahoma, Arial, Helvetica, STHeiti;
}
/* line 258, ../../scss/pages-main/index.scss */
.gonglue-cont-item img {
  margin-top: .3em;
}
/* line 259, ../../scss/pages-main/index.scss */
.gonglue-cont-item .media-cont {
  font-size: 0.85714em;
}
/* line 260, ../../scss/pages-main/index.scss */
.gonglue-cont-item .media-cont a {
  line-height: 2.4;
}

/* line 265, ../../scss/pages-main/index.scss */
.brand-cont {
  border-right: 1px dashed #eceeef;
  border-bottom: 1px dashed #eceeef;
}
/* line 268, ../../scss/pages-main/index.scss */
.brand-cont li {
  float: left;
  width: 16.66667%;
  margin-left: -1px;
  margin-top: -1px;
  text-align: center;
  padding: 0.71429em;
  border-left: 1px dashed #eceeef;
  border-top: 1px dashed #eceeef;
}
/* line 278, ../../scss/pages-main/index.scss */
.brand-cont .title {
  margin-top: 0.57143em;
}

/* line 283, ../../scss/pages-main/index.scss */
#links {
  margin-top: 2.85714em;
}

/* line 286, ../../scss/pages-main/index.scss */
.links-tab {
  border-bottom: 1px solid #eceeef;
}
/* line 14, ../../bootstrap4/scss/mixins/_clearfix.scss */
.links-tab:before, .links-tab:after {
  content: " ";
  display: table;
}
/* line 19, ../../bootstrap4/scss/mixins/_clearfix.scss */
.links-tab:after {
  clear: both;
}
/* line 289, ../../scss/pages-main/index.scss */
.links-tab ul {
  float: left;
}
/* line 292, ../../scss/pages-main/index.scss */
.links-tab li {
  line-height: 2.5em;
  width: auto;
  margin-right: 0.71429em;
  margin-bottom: -1px;
}
/* line 298, ../../scss/pages-main/index.scss */
.links-tab li.on a, .links-tab li:hover a {
  border-bottom-color: #fff;
}
/* line 300, ../../scss/pages-main/index.scss */
.links-tab li > a {
  padding: 0 1.42857em;
}
/* line 304, ../../scss/pages-main/index.scss */
.links-tab span {
  float: left;
  line-height: 2.5em;
}

/* line 309, ../../scss/pages-main/index.scss */
.links-cont {
  padding-top: 0.57143em;
}
/* line 14, ../../bootstrap4/scss/mixins/_clearfix.scss */
.links-cont ul:before, .links-cont ul:after {
  content: " ";
  display: table;
}
/* line 19, ../../bootstrap4/scss/mixins/_clearfix.scss */
.links-cont ul:after {
  clear: both;
}
/* line 312, ../../scss/pages-main/index.scss */
.links-cont li {
  float: left;
  line-height: 1;
  padding: 0 1.07143em;
  margin: 0.57143em 0;
  border-right: 1px solid #eceeef;
  font-size: 0.85714em;
}
/* line 319, ../../scss/pages-main/index.scss */
.links-cont li:last-child {
  border-right: none;
}
