@import "../variables";
@import "../mixins";


.publicity {
  background-color: #ffffff;
  .container {
    width: 1190px;
    padding: 0;
    & > .row { margin: 0; }
  }

  .title {
    font-size: 24px;
    padding: 30px 0 10px;
    font-family: "microsoft yahei", simsun;
    h2 { margin: 0; }
  }

  // media-firmlist样式修复
  .media-body, .media-left, .media-right {
    display: table-cell;
    vertical-align: top
  }
  .media-body {
    width: 10000px
  }
  .media-left img { max-width: none; }

  .media-firmitem {
    .media-left {
      padding-right: 15px;
    }
  }
  .media-labels1 {
    line-height: 1.7;
  }
  .media-text {
    line-height: 1.6;
    margin: 15px 0 0 0;
  }
}

// nav
.cont-nav {
  @include clearfix();
  border: 1px solid #d7d7d7;
  border-bottom: none;
  border-right: none;
  .item {
    float: left;
    width: 33.3333%;
    border-right: 1px solid #d7d7d7;
    &.on { border-right: none; }
    &.on:first-child { margin-left: -1px; }
    &.last, &:last-child { float: right; }
  }
  img { width: 100%; }
}
// 装修
.zx-page {
  .item {
    width: 25%;
  }
}

// banner
.head-form {
  height: 456px;
  padding-left: 816px;
  margin-top: -1px;
  border-top: 1px solid transparent;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  &.dz-from1 { background: url("../../img/pages-publicity/dz-banner-bg1.jpg"); }
  &.dz-from2 { background: url("../../img/pages-publicity/dz-banner-bg2.jpg"); }
  &.dz-from3 { background: url("../../img/pages-publicity/dz-banner-bg3.jpg"); }

  &.zx-from1 { background: url("../../img/pages-publicity/zx-banner-bg1.jpg"); }
  &.zx-from2 { background: url("../../img/pages-publicity/zx-banner-bg2.jpg"); }
  &.zx-from3 { background: url("../../img/pages-publicity/zx-banner-bg3.jpg"); }
  &.zx-from4 { background: url("../../img/pages-publicity/zx-banner-bg4.jpg"); }
  .form-cont {
    width: 340px;
    height: 456px - 54px;
    margin-top: 52px;
    padding: 10px 30px 0;
    text-align: center;
    background-color: #ffffff;
    border-bottom: 1px solid #ddd;
    box-shadow: 0 3px 3px #ddd;
    .title {
      font-size: 18px;
      margin-top: 20px;
      text-align: left;
      font-family: "Microsoft YaHei", "微软雅黑", tahoma, arial, simsun, "宋体";
      color: #000;
    }
    p { margin: 0; }
    em {
      color: #91b81d;
    }
    .current-num {
      line-height: 28px;
      margin-top: 10px;
      background-color: #f6f6f6;
    }
    .chengluo {
      color: #999999;
      margin-top: 15px;
      text-align: left;
    }
    .form-line {
      margin: 22px 0;
      input, button, select, textarea {
        margin: 0;
      }
    }
    input, button, select, textarea {
      display: block;
      width: 100%;
      line-height: 32px;
      border: 1px solid #ddd;
      padding: 0 6px;
      margin: 19px 0;
    }
    input, button, select { height: 32px; }
    button { cursor: pointer; }
    [type=submit], .submit {
      height: 40px;
      line-height: 40px;
      background-color: #91b81d;
      color: #fff;
      font-size: 16px;
    }
    select { height: 28px; }
    textarea {
      line-height: 1.4;
      padding-top: .5em;
      padding-bottom: .5em;
    }
    .call-hintTxt {
      color: #666;
      margin-bottom: 5px;
    }
    .call {
      font-weight: bold;
      font-size: 28px;
      color: #c20112;
      img {
        vertical-align: middle;
        margin-bottom: 5px;
        margin-right: 10px;
      }
    }
    .city {
      margin-right: -3%;
      @include clearfix();
      select {
        float: left;
        width: 30.333%;
        margin-right: 3%;
      }
    }
    .col-2 {
      select {
        width: 47%;
        margin-right: 3%;
      }
    }
  }
}


// other
.new-apply {
  text-align: right;
  h2 {
    float: left;
    margin: 0;
    padding: 20px 0;
    font-size: 32px;
  }
  .type-tabs {
    display: inline-block;
    margin-top: 50px;
    .tab {
      padding: 0 10px;
      color: #666;
      + .tab {
        border-left: 1px solid #ddd;
      }
    }
  }
  .publicity-table {
    tr { border-bottom: 1px solid #eee; }
  }
}

// scrolltable
.scrolltable-warp { margin-bottom: 60px; }

.case-and-new {
  @include clearfix();
  table {
    width: 100%;
    th, td {
      width: 1%;
    }
  }
}

.publicity-table {
  color: #666;
  th, td {
    text-align: left;
    padding: 0 10px;
    &:last-child {
      text-align: right;
    }
  }
  th {
    border: 1px solid #dddddd;
    border-width: 1px 0;
    line-height: 42px;
  }
  td {
    line-height: 32px;
    white-space: nowrap;
  }
}
.new-yanfang {
  tbody {
    padding-top: 20px;
  }
}


// 贷款计算器
.dkjs {
  $themeColor: #3388c9;

  padding: 50px 80px;
  background-color: #f8f8f8;
  .dfl, em { color: #3388c9; }
  p { margin-bottom: 0; }
  .title {
    line-height: 1;
    font-size: 30px;
    padding: 20px 0;
    margin-bottom: 40px;
    border-bottom: 1px solid #eeeeee;
    font-family: "Microsoft YaHei", tahoma, arial, simsun;
  }
  .dkjs-form {
    width: 40%;
    padding-right: 20px;
    .dfl {
      font-size: 24px;
      font-family: "Microsoft YaHei", tahoma, arial, simsun;
      margin-bottom: 20px;
      i {
        margin-right: 15px;
        display: inline-block;
        width: 27px;
        height: 27px;
        line-height: 23px;
        text-align: center;
        font-size: 16px;
        border-radius: 50%;
        border: 2px solid #3388c9;
      }
    }
    button[type=submit] {
      width: 100%;
      background-color: #3088c8;
    }
  }
  .dkjs-result {
    padding: 20px;
    width: 60%;
    background-color: #fff;
    .left {
      padding-left: 20px;
      width: 55%;
      line-height: 150px;
      border-right: 1px solid #e3e3e3;
      em { font-size: 36px; }
    }
    .right {
      width: 45%;
      line-height: 50px;
      padding: 0 20px;
    }
  }
}