// 以下是直接 copy 的老的样式

// comm
.f-fl {
  float: left;
}
.f-fr {
  float: right;
}
.u-btn-reg {
  padding: 0 20px;
  height: 40px;
  line-height: 40px;
  border-radius: 4px;
  text-align: center;
  vertical-align: middle;
  color: #fff;
  font-size: 14px;
  font-weight: bolder;
  cursor: pointer;
  background: #FF9000;
}


// widget
.m-loginForm li {
  padding-bottom: 15px;
  color: #666;
}
.m-loginForm label {
  display: inline-block;
  cursor: pointer;
  font-size: 14px;
}
.m-loginForm .txt,
.m-loginForm select {
  border: 1px solid #ddd;
  height: 36px;
  line-height: 36px;
  vertical-align: middle;
}
.m-loginForm .txt {
  width: 260px;
}
.m-loginForm .checkcode.txt {
  width: 115px;
}
.m-loginForm img.checkcode {
  vertical-align: middle;
}
.m-loginForm li.checkcode a {
  color: #01a469 !important;
}
.m-loginForm .sjCheckcode.txt {
  width: 144px;
}
.m-loginForm .sjCheckcode.reminder {
  width: 106px;
  padding: 0 10px;
  height: 36px;
  line-height: 36px;
  background: #F4F4F4;
}
.m-loginForm .reminder {
  display: inline-block;
  height: 22px;
  background: #fbfbfb;
  margin-left: 7px;
  vertical-align: top;
  color: #666;
  width: 200px;
  padding: 0px 10px 0px 0px;
  line-height: 22px;
  border: solid 1px #EFEFEF;
}
.m-loginForm .reminder.pass {
  border: none;
  background: transparent;
}
.m-loginForm a.regAgree {
  color: #01a469;
  padding-left: 75px;
}
.m-loginForm select,
.m-loginForm,
.radioLabel {
  color: #666;
  margin-right: 8px;
}
.m-loginForm .submit {
  margin-left: 75px;
}
.m-loginForm a {
  display: inline-block;
  line-height: 24px;
  margin-left: 15px;
  color: #00AD28;
  text-decoration: underline;
}
.m-loginForm li.otherLogin {
  border-top: 1px dashed #e2e2e2;
  padding-top: 12px;
  line-height: 27px;
  width: 80%;
}
.m-loginForm li.otherLogin > * {
  vertical-align: middle;
}
.m-loginForm li.otherLogin a {
  margin-right: 10px;
}
.m-loginForm li p {
  width: 373px;
  height: 32px;
  background: #f4f4f4;
  color: #999;
  line-height: 32px;
  text-align: center;
}
.m-loginForm p em {
  color: #01a469;
}
.m-loginForm.login label {
  line-height: 24px;
  margin: 5px 0;
}

// 登录注册样式
h2 {
  line-height: 30px;
  font-size: 16px;
  font-weight: bolder;
  color: #5C5C5C;
}

.g-centerBox {
  position: relative;
  margin-top: 10px;
}
.g-wrap {
  padding-top: 20px;
  box-sizing: border-box;
}
.g-left {
  width: percentage((1200px - 340px) / 1200px);
  padding-right: 10px;
  text-align: right;
}
.g-right {
  width: 340px;
  border: 1px solid #eee;
  padding: 30px 40px;
}
.g-left.sjs {
  padding-right: 95px;
  box-sizing: border-box;
}
.g-regForm {
  margin-top: 20px;
}
.g-left.sjs .m-detail1 .attach {
  color: #333;
  font-weight: bold;
}
.g-centerBox.login,
.g-centerBox.newPassword {
  margin-top: 10px;
}
.g-centerBox h2 {
  border-bottom: 1px solid #eee;
}
.goLogin {
  margin-left: 10%;
}
.goLogin .login-img {
  display: inline-block;
  margin-top: 15px;
  margin-right: 20px;
}
.goLogin .login-title {
  display: inline-block;
  height: 42px;
  margin-top: 39px;
  padding-left: 20px;
  font-size: 18px;
  line-height: 42px;
  color: #333;
  border-left: 1px solid #f8f8f8;
  font-family: "Microsoft YaHei", "Microsoft JhengHei", STHeiti, MingLiu;
}
.g-centerBox.newPassword .g-wrap {
  padding-left: 0;
  text-align: center;
}
.g-wrap .goLogin a {
  color: #01a469;
}
.g-wrap .aboutWeChat {
  color: #999;
}
.regFangshi {
  height: 40px;
}
.regFangshi li:before {
  padding-right: 24px;
  font-size: 25px;
  vertical-align: middle;
}
.regFangshi li {
  padding-right: 24px;
  line-height: 24px;
  padding-bottom: 11px;
}
.regFangshi li.on {
  background: url(../img/index_v3_list.jpg) no-repeat center bottom;
}
.regFangshi li.on i.email {
  background-position: 0 -50px;
}
.regFangshi li.on i.phone {
  background-position: 0 -78px;
}
.regFangshi li a > * {
  vertical-align: middle;
}
.regFangshi li a {
  font-size: 20px;
  color: #959595;
  font-family: "Microsoft YaHei", "Microsoft JhengHei", STHeiti, MingLiu;
}
.regFangshi li a:hover {
  text-decoration: none;
  color: #959595;
}
.regFangshi li.on a {
  color: #00a166;
}
.getPwdFlow {
  display: inline-block;
  width: 746px;
  height: 30px;
  background: url(../img/reg_login_act.png) no-repeat;
}
.getPwdFlow.step1 {
  background-position: 0 0;
}
.getPwdFlow.step2,
.getPwdFlow.step2-2 {
  background-position: 0 -32px;
}
.getPwdFlow.step3 {
  background-position: 0 -64px;
}
.getPwdFlow.step4 {
  background-position: 0 -97px;
}
.newPassword .left {
  width: 40%;
  text-align: right;
}
.newPassword .right {
  width: 59%;
  text-align: left;
}
.newPassword .row > * {
  vertical-align: middle;
  line-height: 36px;
  margin-bottom: 20px;
}
.newPassword .next {
  padding: 0 40px;
}
.newPassword .txt {
  width: 215px;
}
.newPassword .emailHint {
  margin-top: 48px;
  line-height: 38px;
  font-size: 14px;
  color: #333;
}
.newPassword .verifyWay {
  padding-right: 20px;
}
.newPassword .email {
  font-size: 14px;
  font-weight: bolder;
  color: #01a469;
  font-family: simsun;
}
.newPassword .verifyWay {
  width: 260px;
}
.newPassword .finish {
  width: 643px;
  height: 120px;
  margin: 20px auto 0;
  background: url(../img/get_pwd_bg.jpg) no-repeat 0 -127px;
}
.newPassword .finishLink {
  font-size: 14px;
  line-height: 38px;
}
.newPassword .finishLink a {
  color: #01a469;
}
.emailSolve {
  width: 645px;
  margin: 20px auto;
  line-height: 24px;
  padding: 10px 40px;
  background: #F4F4F4;
  text-align: left;
  color: #999;
  box-sizing: border-box;
}
.emailSolveTt {
  margin-top: 10px;
  font-size: 14px;
  color: #343434;
  font-weight: bolder;
}
.emailSolve a {
  color: #01A469;
}
.regFinish {
  text-align: center;
  padding-bottom: 40px;
  background: #FFFFFF;
}
.regFinish .emailSolve {
  margin-top: 30px;
}
.regFinish .regFinishHint {
  width: 644px;
  height: 95px;
  margin: 30px auto 15px;
  border-bottom: 1px solid #d8d8d8;
  background: url(../img/reg_login_act.png) no-repeat 0 -240px;
}
.regFinish .back {
  line-height: 42px;
}
.regFinish .emailHint {
  line-height: 35px;
}
.regFinish .btn {
  color: #FFFFFF;
}
.regFinish a {
  color: #01a469;
}
.g-wrap.qqWay {
  padding: 30px 40px;
}
.g-wrap.qqWay h2 {
  display: inline-block;
}
.g-wrap.qqWay div.wel {
  border-bottom: 1px dashed #CCCCCC;
  padding-bottom: 10px;
}
.g-wrap.qqWay .g-left {
  width: 310px;
  padding: 70px 0 0 60px;
  border: none;
}
.g-wrap.qqWay .g-right {
  width: 520px;
  padding-left: 50px;
  text-align: left;
}
.g-wrap.qqWay .avatar {
  margin-top: 20px;
}
.g-wrap.qqWay .avatar img {
  width: 100px;
  height: 100px;
  padding: 5px;
  overflow: hidden;
  border-left: solid #CCCCCC 1px;
  border-right: solid #CCCCCC 1px;
  border-bottom: solid #999 1px;
}
.g-wrap.qqWay .avatar p {
  line-height: 30px;
  text-align: center;
  color: #999;
  font-family: "Microsoft YaHei", "Microsoft JhengHei", STHeiti, MingLiu;
}
.g-regNav {
  position: relative;
  z-index: 300;
  top: 1px;
}
.g-regNav ul {
  top: 0;
}
#popupBlock .title {
  background: #504C4C;
}
#popupBlock form {
  padding: 20px 10px 0 30px;
}
#popupBlock form .reminder {
  width: 180px;
}
.m-loginForm {
  margin-right: 0;
}
.m-loginForm .txt {
  width: 100%;
}
.m-loginForm li.otherLogin {
  padding: 0;
  border-top: 0;
  width: 100%;
}
.m-loginForm li.otherLogin:before,
.m-loginForm li.otherLogin:after {
  content: " ";
  display: table;
}
.m-loginForm li.otherLogin:after {
  clear: both;
}
.m-loginForm li.otherLogin span {
  float: left;
}
.m-loginForm li.otherLogin a {
  float: left;
  width: 33.33%;
  margin: 0;
  text-align: center;
  color: #666;
  text-decoration: none;
}
.m-loginForm li.otherLogin a:hover {
  color: #f25618;
}
.m-loginForm li.otherLogin a:first-child {
  text-align: left;
}
.m-loginForm li.otherLogin a:last-child {
  text-align: right;
}
.m-loginForm li {
  position: relative;
  padding-bottom: 22px;
}
.m-loginForm .Validform_checktip {
  position: absolute;
  left: 0;
  bottom: 4px;
}
.m-loginForm .submit-row {
  margin-top: 8px;
  padding-bottom: 10px;
}
.m-loginForm .submit {
  width: 100%;
  margin-left: 0;
  text-align: center;
}
.m-loginForm a.regAgree {
  padding-left: 0;
}
.reg-tab {
  position: relative;
  border-bottom: 1px solid #eee;
}
.reg-tab:before,
.reg-tab:after {
  content: " ";
  display: table;
}
.reg-tab:after {
  clear: both;
}
.reg-tab li {
  float: left;
  width: 33.3%;
  height: 35px;
  text-align: center;
  line-height: 35px;
  cursor: pointer;
}
.reg-tab li a {
  color: #333;
  font-size: 16px;
  margin: 0 auto;
  height: 35px;
  display: block;
}
.reg-tab li.on a {
  color: #00af63;
  border-bottom: 2px solid #00b161;
}
.reg-tab li:last-child {
  float: right;
}
.reg_area {
  margin-right: -3%;
}
.reg_area:before,
.reg_area:after {
  content: " ";
  display: table;
}
.reg_area:after {
  clear: both;
}
.reg_area select {
  float: left;
  width: 30.33%;
  margin-right: 3%;
}
