@import "../variables";
@import "../mixins";

// ===================================
/* 百科相关页面样式 */

.side-form .form-tips { text-align: center; }
.layout-main .title-bar {
  border-bottom: 1px solid $gray-lighter;
  margin-bottom: 15px;
}

// em 颜色
.index-baike-list, #location, .hot-photos {
  em {
    margin: 0 3px;
    color: $activeColor;
  }
}
.index-baike-list em { font-weight: bold; }

// 百科主页
.index-top-cates {
  margin-left: -0.7%;
  .cate {
    float: left;
    width: percentage(1/3) - 0.7%;
    padding: pxToEm(14px) 0;
    margin-left: 0.7%;
    background-color: lighten($gray-lightest, 1%);
    border: 1px solid $gray-lighter;
  }
  .left-glyph {
    height: pxToEm(69px);
    text-align: center;
    padding: 0 pxToEm(29px);
    vertical-align: middle;
    border-right: 1px solid $gray-lighter;
    color: $activeColor;
    p {
      white-space: nowrap;
      margin-top: 13px;
      font-size: pxToEm(16px);
      font-weight: bold;
    }
  }
  .label-cate {
    padding: 0 pxToEm(25px);
    .label {
      margin-top: 0;
      margin-bottom: 0;
    } 
  }
  .label-title {
    color: darken($gray-light, 7%);
    font-size: pxToEm(14px, 12px);
    margin-top: .2em;
  }
}
.index-baike-list {
  $mediaPB: 2.8em;
  padding: pxToEm(15px) pxToEm(24px);
  border: 1px solid $gray-lighter;
  .media-newsitem {
    padding-bottom: $mediaPB;
    border-bottom: 1px dashed $gray-lighter;
  }
  .media-title {
    font-size: 1.45em;
    margin-bottom: .8em;
  }
  .thumbnail {
    padding: 1px;
    border: 1px solid $gray-lighter;
  }
  .img-title {
    line-height: 24px;
    text-align: center;
    margin-top: 1px;
    font-size: pxToEm(12px);
    background-color: lighten($gray-lightest, 1%);
  }
  .media-text { line-height: pxToEm(30px); }
  .media-other i { margin: 0 0 0 5px; }
  .labels {
    line-height: 1.8;
    margin-bottom: 1em;
    overflow: hidden;
    font-size: pxToEm(12px);
    color: $gray-dark;
    a {
      float: left;
      margin-right: 4px;
      padding: 0 .8em;
      border: 1px solid $grayBorder;
      border-radius: 10px;
      background-color: lighten($gray-lighter, 2%);
    }
  }
  .media-newsitem .media-other {
    bottom: -($mediaPB - .8em);
  }
}

// layout-side
// 预约表单

.yuyue-form {
  background-color: $gray-lightest;
  .form-tab li {
    &:hover, &.on { background-color: $body-bg; }
  }
}
// 热门标签
.hot-labels {
  .label-bar {
    padding: 0;
    line-height: 3;
  }
  .label {
    @include text-truncate();
    max-width: 10em;
    padding-left: pxToEm(10px);
    padding-right: pxToEm(10px);
    background-color: $gray-lightest;
    margin-bottom: pxToEm(10px);
    margin-right: pxToEm(10px);
  }
}

// 热点、最新
.rd-zx-tabs {
  .tabs-base {
    li {
      width: 50%;
      &.on, &:hover {
        font-weight: bold;
      }
    }
  }
  .list-group-item {
    margin-bottom: 0;
    border-bottom: 1px dashed $grayBorder;
    color: $gray;
    font-size: pxToEm(12px);
    .right-info {
      color: $gray;
    }
  }
}

// 热门品牌
.hot-brands {
  .label-bar {
    line-height: 1.4;
    padding: pxToEm(10px) pxToEm(6px);
    border-bottom: 1px solid $gray-lighter;
  }
  .label { margin-right: 1.2em; }
  .item-labels {
    @include text-truncate();
    padding: pxToEm(12px) pxToEm(6px);
    line-height: 1;
    color: $gray;
    span {
      display: inline-block;
      padding: 0 12px;
      &:first-child {
        font-weight: bold;
        padding-left: 0;
        border-right: 1px solid $gray-lighter;
      }
    }
    .right-info {
      font-size: pxToEm(12px);
      color: $gray-light;
    }
  }
  .item {
    .icon-minus, .label-bar { display: none; }
    &.on {
      .item-labels {
        background-color: $gray-lightest;
        span:first-child { color: $activeColor; }
      }
      .icon-plus { display: none; }
      .icon-minus { display: inline-block; }
      .label-bar {
        display: block;
        height: auto;
      }
    }
  }
}

.hot-photos {
  .cont-block {
    @include clearfix();
  }
  .media-base {
    float: left;
    width: 50%;
    padding: 0 1em;
    margin-bottom: pxToEm(10px);
    .thumbnail, .img {
      padding: 2px 3px;
    }
  }
  .media-explain { font-size: pxToEm(12px); }
}

// 详细页
.newstype-detail {
  border: 1px solid $gray-lighter;
}


.correlation-cont {
  background-color: $gray-lighter;
  padding: 0 12px 12px;
  .title-bar {
    .title {
      color: $activeColor;
      font-size: pxToEm(16px);
    }
  }
  .cont-line {
    padding: pxToEm(15px) pxToEm(45px - 27px) pxToEm(10px);
    background-color: $body-bg;
    border-bottom: 1px dashed $grayBorder;
  }
  .media-base, .list-group {
    float: left;
    width: percentage(1 / 3);
    padding: 0 pxToEm(27px);
  }
  .media-base {
    margin: 0;
    padding: 0 pxToEm(27px);
    .thumbnail {
      height: 142px;
      line-height: middleImg(142px, 2px);
    }
  }
  .media-title { text-align: center; }
  .list-dot .list-group-item:before {
    @include caret-right(3px, $activeColor);
    background-color: transparent;
    margin-top: -3px;
  }

  .list-dot .list-group-item {
    padding-top: 3px;
    padding-bottom: 3px;
  }
}

// =================================
// 问答相关页面

// override widget style
.ask-top-cate {
  .cate-tabs { background-color: $gray-lightest; }
  .tabs-nav1 > li {
    a { border-color: $gray-lighter; }
    &.on a, &:hover a {
      color: $activeColor;
      font-weight: bold;
      background-color: $body-bg;
      border-bottom-color: transparent;
    }
  }

  .cate-conts {
    border: 1px solid $gray-lighter;
    border-top: none;
    .label { color: $gray; }
  }
  .label-bar {
    padding-top: .4em;
    padding-bottom: .4em;
    + .label-bar {
      display: none;
    }
  }
}
.ask-search-bar {
  margin-bottom: 25px;
  .search-bar {
    .search-form-box {
      border-color: $grayBorder;
      line-height: pxToEm(43px);
    }
    .search-btn {
      letter-spacing: normal;
      padding-right: 1.8em;
      background-color: $grayBorder;
      color: $gray-dark;
      font-size: pxToEm(18px);
    }
  }
}

.index-ask-daily {
  .img {
    width: pxToEm(333px);
    height: pxToEm(266px);
    line-height: middleImg(266px, 2px);
    margin-right: pxToEm(19px);
    margin-top: 0;
    border: 1px solid $gray-lightest;
  }
  .txtlist {
    line-height: 2.4;
    h4 {
      margin-bottom: pxToEm(12px, 18px);
      font-size: pxToEm(18px);
      font-family: "Microsoft YaHei", "Microsoft JhengHei", STHeiti, MingLiu;
    }
    .big-item {
      padding-bottom: pxToEm(15px);
      margin-bottom: 10px;
      border-bottom: 1px solid $gray-lightest;
      line-height: 1.4;
      white-space: normal;
    }
    p {
      line-height: 1.8;
      color: $gray;
      font-size: pxToEm(12px);
    }
    em { color: $activeColor; }
  }
}



.index-ask-new, .ask-list-box {
  em { color: $activeColor; }
  b { color: $activeColor2; }
  .list-group-item {
    padding: pxToEm(26px) 0;
    border-bottom: 1px solid $gray-lighter;
  }
  .list-group-item-title {
    margin-bottom: pxToEm(19px);
    font-size: pxToEm(16px);
  }
  .right-info {
    font-size: pxToEm(12px);
    span { margin-left: pxToEm(30px); }
    em { font-weight: bold; }
    i {
      margin-right: pxToEm(5px);
      vertical-align: middle;
      font-size: pxToEm(16px);
    }
  }
}
.index-ask-new .title-bar { margin-bottom: 0; }

.ask-list-box {
  .list-group-item-title em {
    display: inline-block;
    margin-right: pxToEm(10px);
    padding: 0 .8em;
    font-size: pxToEm(14px, 16px);
    line-height: 1.5;
    border-radius: 10px;
    color: $body-bg;
    background-color: #ff6637;
  }
  .list-group-item.solved {
    .list-group-item-title em { background-color: $activeColor2; }
  }
}
 

.index-ask-at-issue {
  .ask-at-issue-list { @include clearfix(); }
  .issue-item {
    float: left;
    width: 50%;
    padding: pxToEm(8px) 0;
    .issue-state {
      width: pxToEm(42px);
      height: pxToEm(42px);
      line-height: pxToEm(16px);
      padding: pxToEm((42px - 32px) / 2) 0;
      margin-right: pxToEm(23px);
      margin-top: 3px;
      text-align: center;
      color: $body-bg;
      background-color: $activeColor;
    }
    .issue-title { line-height: 2; }
    .issue-explain {
      color: $gray-light;
      font-size: pxToEm(12px);
    }
  }
}

.ask-side-form {
  .form-control {
    display: inline-block;

  }
  background-color: $gray-lightest;
  padding-top: pxToEm(13px);
  .asked-num-block {
    text-align: center;
    padding: pxToEm(27px) pxToEm(17px);
    background-color: $body-bg;
    margin-bottom: pxToEm(15px);
  }
  .ask-num {
    line-height: 1;
    font-size: 28px;
    color: $body-bg;
    margin-bottom: 15px;
    b {
      padding: 0 4px;
      background-color: #01af63;
      margin-left: 3px;
      border-radius: 3px;
    }
  }
  .ask-txt { color: $gray-light; }
  textarea { width: 100%; }
  .ask-btn-row {
    @include clearfix();
    margin-bottom: pxToEm(10px);
    > * {
      float: left;
      width: 28%;
    }
    .ask-btn {
      width: 40%;
      margin-left: 4%;
    }
    input, button { padding: pxToEm(4px) pxToEm(10px); }
  }
}

.ask-list-tabs {
  .tabs-base {
    font-weight: bold;
    color: $gray;
    li a {
      border-bottom: none;
      margin-bottom: -2px;
    }
  }
  .tabs-base { border-bottom: 2px solid $gray-lighter; }
  .tabs-base > li {
    &:hover, &.on {
      a { border-bottom: 2px solid $activeColor; }
    }
  }
}

.ask-detail {
  .ask-sub-info, .media-explain {
    span {
      margin-right: pxToEm(20px);
      &:after {
        content: "";
        padding-right: pxToEm(20px);
        border-right: 1px solid $gray-lighter;
      }
    }
  }
  h3 {
    margin-bottom: pxToEm(20px);
    font-size: pxToEm(18px);
    font-family: "Microsoft YaHei", "Microsoft JhengHei", STHeiti, MingLiu;
  }
  .ask-sub-info {
    font-size: pxToEm(12px);
    line-height: 1;
    margin-bottom: pxToEm(14px, 12px);
    color: $gray-light;
    b { color: $gray-dark; }
  }
  .ask-quiz-form {
    padding: pxToEm(30px) pxToEm(20px);
    background-color: $gray-lightest;
    textarea { width: 100%; }
  }
  .quiz-form-sub-info {
    @include clearfix();
    text-align: right;
    margin-top: pxToEm(10px);
    color: $gray-light;
    i { margin-right: 5px; }
    em { color: $btnColor; }
  }
}
.ask-details-list {
  .title-bar {
    margin-bottom: 0;
    em {
      color: $activeColor;
      margin: 0 8px;
    }
  }
  .detail-item {
    position: relative;
    padding: pxToEm(35px) pxToEm(10px) pxToEm(10px);
    border-bottom: 1px dashed $gray-lighter;
  }

  .media-small-imgtxt {
    margin-bottom: pxToEm(25px);
  }
  .img {
    width: pxToEm(56px);
    height: 56px;
    line-height: middleImg(56px, 2px);
  }
  .media-title {
    font-size: pxToEm(14px);
    margin-bottom: 1em;
    color: #02ae66;
  }
  .media-explain {
    font-size: pxToEm(12px);

  }
  .detail-cont {
    line-height: 1.8;
    color: $gray;
  }
  .bottom-sub-info {
    margin-top: pxToEm(22px);
    text-align: right;
    color: $gray-light;
    span { margin-left: pxToEm(15px); }
    i {
      margin-right: 3px;
      color: $btnColor;
    }
  }
  .accepted-icon {
    position: absolute;
    right: 30%;
    top: 30px;
  }
}
