@import "../_variables";
@import "../_mixins";


.media-base-left {
  @include clearfix();
  .img {
    float: left;
    margin-right: 1em;
    border: 1px solid $gray-lighter;
  }
  .txt {
    display: block;
    overflow: hidden;
    margin: 1em 0;
  }
}

.filter-box2 .layout-left {
  font-size: 1.2em;
  vertical-align: middle;
  .label-title {
    font-weight: bold;
    color: lighten($gray-light, 5%);
  }
}
.label-filter .label.on {
  color: inherit;
  font-weight: bold;
}


.filter-title {
  line-height: (44/14) + em;
  padding: 0 1em;
  background-color: #f9f9f9;
  border: 1px solid $gray-lighter;
  h3, em {
    display: inline-block;
    color: $activeColor;
  }
  h3 {
    font-size: 1.2em;
    font-weight: bold;
  }
  em { margin: 0 .8em; }
  .right-info {
    float: right;
    font-size: .87em; 
  }
}

.firm-list {
  padding: 25px;
  border: 1px solid $gray-lighter;
  .media-firmitem {
    padding-top: 0;
    padding-bottom: 2em;
    border-bottom: 1px dashed $gray-lighter;
  }
  p {
    margin-bottom: 1em;
  }
  .media-title {
    font-size: pxToEm(16px);
    margin-bottom: 1.2em;
  }
  .media-body .btns {
    margin-top: 2.5em;
  }
  .btns .btn {
    margin-right: .5em;
    padding: 8px 17px;
    border: 1px solid $activeColor2;
    &.btn2 {
      color: $activeColor2;
      background-color: $body-bg;
    }
  }
  .addr {
    color: lighten($gray, 5%);
    i {
      font-size: 1.2em;
      margin-right: .5em;
      color: lighten($gray-light, 5%);
    }
  }
  .word-icons {
    overflow: hidden;
    i {
      float: left;
      margin-right: .5em;
    }
  }
  .thumbnail {
    width: pxToEm(160px);
    height: pxToEm(160px);
    line-height: pxToNum(158px);
    box-sizing: content-box;
    margin-right: 38px;
    border: 5px solid $gray-lighter;
    overflow: hidden;
    &:hover { border: 5px solid $gray-lighter; }
    img {
      display: inline-block;
      vertical-align: middle;
    }
  }
  .media-right {
    line-height: 1em;
    padding-top: 36px;
    padding-right: 20px;
    p {
      text-align: center;
      white-space: nowrap;
    }
  }
  .call-txt {
    i {
      margin-right: .5em;
      color: lighten($gray-light, 5%);
    }
  }
  .call-num {
    font-size: 1.8em;
    color: $activeColor;
    font-weight: 600;
  }
}

.side-firm-list {
  h3 {
    margin-bottom: 15px;
    line-height: 44px;
    border-bottom: 1px solid $gray-lighter;
    font-size: 1.2em;
  }
  padding: 5px 18px 0;
  .media-base-left {
    margin-bottom: 20px;
  }
  border: 1px solid $gray-lighter;
  .img {
    width: pxToEm(70px);
    height: pxToEm(70px);
    line-height: pxToNum(65px);
    padding: 3px;
    text-align: center;
  }
  img { vertical-align: middle }
  .txt {
    line-height: 1.5em;
    height: 3em;
    overflow: hidden;
  }
}


