@import "../variables";
@import "../mixins";

// 产品列表

.goods-list {
  $space-w: 19px;   // item之间的空隙
  @include clearfix();
  margin-right: -(percentage($space-w / 1200px));
  .goods-item {
    float: left;
    margin-right: percentage($space-w / 1200px);
    width: percentage((1 / 4) - ($space-w / 1200px));
  }
  .mediaImg-wrap, .mediaCont-wrap {
    padding-left: 9px;
    padding-right: 9px;
  }
  .mediaImg-wrap {
    padding-top: 7px;
    .thumbnail {
      height: 177px;
      line-height: middleImg(177px);
    }
  }
  .media-title { font-size: 1em; }
  .media-cells {
    &, .cell + .cell { border-color: $gray-lighter; }
    text-align: center;
    color: #999;
    em { color: $activeColor; }
    strong {
      color: $gray-dark;
      margin-left: 3px;
    }
  }
}

.goods-info1 {
  .prev, .next, .thumb {
    height: 72px;
    line-height: middleImg(72px);
  }
  .big-img {
    height: 344px;
    line-height: middleImg(344px);
  }
  .text-link { color: #3366cc; }
  .safeguard {
    margin-bottom: 20px;
    color: $gray-light2;
    .layout-left {
      background-color: darken($gray-lightest, 5%);
      vertical-align: middle;
    }
    .label-title {
      width: 2.2em;
      margin-left: .9em;
      margin-right: .9em;
      text-align: center;
      font-size: pxToEm(14px, 12px);
      font-weight: bold;
    }
    .label-cell {
      padding-left: 1.2em;
      text-align: center;
      &:hover a {
        color: $body-bg;
        text-decoration: none;
      }
    }
    .service { margin: 8px 13px 0 0; }
    .sty1, .sty2, .sty3 {
      display: inline-block;
      color: $body-bg;
      padding: 0 .5em;
      line-height: 1.4;
    }
    .sty1 { background-color: #da0000; }
    .sty2 { background-color: #5aa3c4; }
    .sty3 { background-color: #36aa68; }
  }
  .labes {
    .label-cell {
      line-height: 2.2em;
      width: 50%;
      margin-right: 0;
    }
  }
  .buy-num {
    margin-bottom: 15px;
  }
  .btn-row {
    padding-top: 15px;
    border-top: 1px dashed $grayBorder;
    .btn { font-size: pxToEm(18px); }
  }
}


.goods-detail {
  padding-bottom: 10px;
  border-bottom: 1px solid $grayBorder;
}
.correlation-imgtxt {
  .media-goods {
    &, &:hover { border: none; }
  }
  .thumbnail {
    height: 96px;
    line-height: middleImg(96px);
  }
  .media-title, .media-price {
    font-size: pxToEm(12px, 14px);
  }
}



// 产品详细页