@import "../variables";
@import "../mixins";


@import "old-tu";

// 效果图样式

.filter-box2 {
  .filter-body { border-bottom-color: $activeColor; }
  .more-type a { border-color: $activeColor; }
}

#waterfall-warp1 {
  margin: auto;
  position: relative;
}
.xiaoguotu-list {
  padding: 16px 14px;
  background-color: $gray-lightest;
  .media-base {
    padding: 8px;
    box-shadow: 0 0 8px #ccc;
    background-color: $body-bg;
    .media-title {
      padding: pxToEm(5px) 0;
      margin-bottom: .3em;
      b {
        color: $gray-light;
        margin-right: 5px;
      }
    }
    em, .like-btn i {margin: 0 3px; }
    em { color: $activeColor; }
    .media-explain {
      font-size: pxToEm(12px);
      text-align: right;
    }
    .thumbnail { border: none; }
    .like-btn {
      float: left;
      line-height: 1.8em;
      padding: 0 1.2em;
      border: 1px solid $grayBorder;
      border-radius: 7px;
      background-color: $body-bg;
      i { color: darken($grayBorder, 5%); }
      &:hover { color: $activeColor; }
      &:hover, &.on {
        i { color: $activeColor; }
      }
    }

    &:hover {
      box-shadow: 0 0 10px #999;
      background-color: darken($gray-lightest, 2%);
      .u-btn-collect {
        font-family: "Microsoft YaHei", "Microsoft JhengHei", STHeiti, MingLiu;
        display: inline-block;
        i {
          margin-right: 3px;
        }
      }
    }

  }
}


// 效果图详细页

.head-cont {
  line-height: 26px;
  border: 1px solid $grayBorder;
  .breadcrumb-arrow, .right-cont { padding: 8px 10px 6px; }
  .right-cont {
    i {
      display: inline-block;
      margin-bottom: 2px;
      margin-right: 5px;
      font-size: pxToEm(16px, 12px);
      vertical-align: middle;
    }
    .img {
      display: none;
      position: absolute;
      top: 26px;
      left: 0;
      z-index: 1000;
      padding: 10px;
      background-color: $body-bg;
      border: 1px solid $grayBorder;
    }
    .weixin {
      position: relative;
      &:hover {
        .img { display: inline-block; }
      }
    }
    li {
      float: left;
      margin-left: 1em;
      font-size: pxToEm(12px);
      + li {
        cursor: pointer;
        padding: 0 .8em;
        background-color: $activeColor;
        color: $body-bg;
        border-radius: 12px;
      }
    }
  }
}

.tu-photo {
  background-color: #4c4c4c;
  color: #fff;
  border-bottom: 1px solid transparent;
  .title {
    line-height: 4;
    font-size: pxToEm(16px);
    text-align: left;
  }
  .current, .listImg {
    .prev, .next { font-size: 60px; }
  }
  .current {
    width: 100%;
    padding: 0 31px;
    background-color: #3c3c3c;
    .prev, .next {
      height: 160px;
      line-height: middleImg(160px);
      color: $gray;
      background-color: $body-bg;
    }
    .prev { left: 10px; }
    .next { right: 10px; }
    .img {
      height: 584px - 64px;
      line-height: middleImg(584px - 64px);
    }
    &:hover .u-btn-collect { display: inline-block; }
  }
  .m-photo { padding-right: 122px; }
  .listImg {
    text-align: center;
    margin-right: -122px;
    width: 122px;
    .btnCtrl {
      overflow: hidden;
    }
    i {
      display: block;
      margin-top: -20px;
    }
    .prev, .next {

    }
  }
  .m-listImg, .m-listImg2 {
    li { text-align: center; }
  }

  .album {
    padding: 0 89px;
    margin: 15px 0;
    text-align: center;
  }
}

.photo-share {
  margin-top: pxToEm(10px);
  margin-left: pxToEm(10px);
  .collect-btn {
    display: inline-block;
    line-height: 1.6;
    padding-left: 1em;
    padding-right: .6em;
    border-radius: .8em;
    color: $body-bg;
    background-color: $activeColor;
  }
}