// header, footer
#header { margin-bottom: 19px; }

// header icon
#header {
  .has-subnav, .header-select {
    i { margin-left: pxToEm(8px); }
    .icon-angle-up, .icon-caret-up  { display: none; }
    &:hover {
      .icon-angle-up, .icon-caret-up { display: inline-block; }
      .icon-angle-down, .icon-caret-down { display: none; }
    }
  }
  // 头部导航鼠标移上时图标颜色
  .has-subnav {
    &:hover, &.on {
      [class^="icon-"], [class*=" icon-"] {
        color: $body-bg;
        border-color: $body-bg;
      }
    }
  }

  // hot，new的图标
  .has-icon {
    [class^="myicon-"], [class*=" myicon-"] {
      margin-top: pxToEm(3px);
      margin-right: -15px;
      margin-left: 2px;
      vertical-align: top;
    }
  }
}

// header-top
$headerTopFontSize: 12px;
.header-top {
  font-size: pxToEm($headerTopFontSize);
  line-height: pxToEm(30px, $headerTopFontSize);
  background-color: $gray-lightest;
  border-bottom: 1px solid #ddd;
  color: #999;
}
.header-top-left, .header-top-right {
  .attention-ways, .member-in {
    @include clearfix();
    li {
      float: left;
    }
  }
}
.header-top-left {
  float: left;
  li {
    margin-right: pxToEm(24px, $headerTopFontSize);
  }
  i { margin-right: 3px; }
  .weixin-QRCode {
    position: relative;
    .img {
      display: none;
      position: absolute;
      top: 30px;
      left: 50%;
      z-index: 10000;
      padding: 10px;
      margin-left: -(145px/2);
      background-color: $body-bg;
      border: 1px solid $grayBorder;
    }
    img { max-width: none; }
    &:hover .img { display: inline-block; }
  }
}
.header-top-right {
  float: right;
  .member-in, .service-phone {
    float: left;
  }
  .member-in {
    line-height: 1;
    padding: (pxToEm(30px, $headerTopFontSize) - 1em) / 2 0;
    margin-right: 15px;
    i, .exit { color: $activeColor; }
    i {
      vertical-align: middle;
      font-size: 1.2em;
      margin-right: 5px;
    }
  }
  li {
    padding: 0 12px;
    + li { border-left: 1px solid #ddd; }
  }
  .service-phone {
    color: $activeColor;
    font-weight: bold;
  }
}
// header-center
.header-center {
  @include clearfix();
  padding: pxToEm(20px);
}
.header-logo, .header-search {
  float: left;
  width: 50%;
}
.header-logo {
  .logo-img, .logo-cont {
    display: inline-block;
    vertical-align: middle;
  }
  .logo-img {
    margin-right: 1.2em;
  }
  .logo-cont {
    padding-left: 1.2em;
    display: inline-block;
    line-height: 1.4;
    border-left: 1px solid #ddd;
  }
  h3 { font-size: pxToEm(16px); }
}

.header-search {
  margin-top: pxToEm(12px);
  .search-bar {
    margin-right: pxToEm(20px);
    .search-dropdown {
      width: pxToEm(106px, 12px);
    }
    .search-btn {
      width: pxToEm(80px);
    }
  }
}


// header-bottom
.header-bottom {
  border-width: 3px;
  .nav-base-wrap { margin-top: pxToEm(10px); }
  .container {
    position: relative;
    background-color: lighten($gray-lightest, 1%);
  }
  .right-collect {
    position: absolute;
    bottom: pxToEm(5px);
    right: pxToEm(10px);
  }

  [class^="icon-"], [class*=" icon-"] {
    $iconColor: #777582;
    display: inline-block;
    width: pxToEm(14px);
    height: pxToEm(14px);
    line-height: middleImg(14px);
    font-size: pxToEm(12px);
    color: $iconColor;
    border: 1px solid $iconColor;
    border-radius: 50%;
  }
  .header-nav a { font-family: "Microsoft YaHei", "Microsoft JhengHei", STHeiti, MingLiu; }
}


#footer {
  text-align: center;
  padding: 20px 0;
  margin-top: 30px;
  color: #fff;
  background-color: #1f1f1f;
  font-size: 12px;
  a { color: inherit; }
}
.footer-menu {
  display: inline-block;
  padding-bottom: 15px;
  &:after {
    content: "";
    display: table;
    clear: both;
  }
  a {
    float: left;
    padding: 0 1.5em;
    line-height: 1;
    border-right: 1px solid #fff;
    &:last-child { border: none; }
  }
}
.footer-copyright {
  color: #666;
  line-height: 2.2;
}


// 友情连接部分
#links {
  margin-top: pxToEm(40px);
}
.links-tab {
  @include  clearfix();
  border-bottom: 1px solid $grayBorder;
  ul {
    float: left;
  }
  li {
    line-height: 2.5em;
    width: auto;
    margin-right: pxToEm(10px);
    margin-bottom: -1px;
    a { border-color: $grayBorder; }
    &.on, &:hover {
      a {
        border-bottom-color: $body-bg;
        background-color: $gray-lightest;
      }
    }
    > a {
      padding: 0 pxToEm(20px);
    }
  }
  span {
    float: left;
    line-height: 2.5em;
  }
}
.links-cont {
  padding-top: pxToEm(8px);
  ul { @include clearfix(); }
  li {
    float: left;
    line-height: 1;
    padding: 0 pxToEm(15px);
    margin: pxToEm(8px) 0;
    border-right: 1px solid $gray-lighter;
    font-size: pxToEm(12px);
    &:last-child { border-right: none; }
  }
}