// Override bootstrap style
.form-control, .btn { border-radius: 0; }
.carousel.slide {
  .icon-angle-left, .icon-angle-right {
    display: inline-block;
    width: 100%;
    height: 2em;
    line-height: 2;
    margin-top: -1em;
    position: absolute;
    top: 50%;
    left: 0;
    font-size: 3em;
    color: $body-bg;
  }
}

a:hover, a:focus {
  text-decoration: underline;
}
a.thumbnail:hover, a.thumbnail:focus, a.thumbnail.active {
  border-color: $activeColor;
}
body .container {
  width: 1200px;
  max-width: none;
}

// global 左右主栏和侧栏的布局及宽度
.main-left, .layout-main {
  float: left;
  width: percentage((1200 - 300) / 1200);
  padding-right: 20px;
}
.side-right, .layout-side {
  float: right;
  width: percentage((300) / 1200);
}
// 详细页的左右
.main-info {
  float: left;
  width: percentage(930 / 1200);
  padding-right:  29px;
}
.side-info {
  float: right;
  width: percentage((1200 - 930) / 1200);
}

// modify widget
.filter-box2 .layout-left {
  font-size: 1.2em;
  vertical-align: middle;
  .label-title {
    font-weight: bold;
    color: lighten($gray-light, 5%);
  }
}
.label-filter .label.on {
  color: inherit;
  font-weight: bold;
}

// 位置面包屑
#location {
  margin-top: -19px;
  margin-bottom: 14px;
  border-bottom: 1px solid $gray-lighter;
  .container {
    padding-left: 0;
    padding-right: 0;
  }
  .breadcrumb-arrow {
    padding-left: 0;
    padding-right: 0;
    color: $gray;
    .on {
      color: $gray-dark;
      font-weight: bold;
    }
  }
  i {
    font-size: 1.2em;
    margin-right: 3px;
    display: inline-block;
    vertical-align: middle;
    padding-bottom: 3px;
  }
  &.detail {
    margin-top: 0;
    border-bottom: none;
    margin-bottom: 5px;
  }
}


// 过滤条标题
.filter-title {
  line-height: pxToEm(44px);
  padding: 0 1em;
  background-color: #f9f9f9;
  border: 1px solid $gray-lighter;
  h3, em {
    display: inline-block;
    color: $activeColor;
  }
  h3 {
    font-size: 1.2em;
    font-weight: bold;
  }
  .more {
    display: inline-block;
    margin-left: pxToEm(20px);
    color: $gray;
  }
  em { margin: 0 .8em; }
  .right-info {
    float: right;
    font-size: .87em;
  }
}

// 内容块的公共样式
.cont-box {
  padding: pxToEm(6px) pxToEm(18px);
  margin-bottom: 19px;
  border: 1px solid $gray-lighter;
  .title-bar {
    border-bottom: 1px solid $gray-lighter;
    .title { font-size: pxToEm(16px); }
  }
  .cont-block {
    margin-top: pxToEm(10px);
  }
}


// 滚动表格
.scrolltable-warp {
  tr {
    th, td {
      &:first-child, &:last-child {  }
      &:first-child {
        padding-left: 2em;
        text-align: left;
      }
      &:last-child {
        padding-right: 2em;
        text-align: right;
      }
    }
  }
}

// global banner form
.banner-media {
  float: right;
  width: 73%;
  border: 1px solid $gray-lighter;
}
.banner-form {
  float: left;
  width: 25%;
}
.banner-form, .side-form, .side-form2 {
  padding: 0 pxToEm(15px) pxToEm(10px);
  border: 1px solid $gray-lighter;
  .form-tab, .form-state, .form-tips, .form-line { margin-bottom: 1em;  }
  .form-tab {
    position: relative;
    border-bottom: 2px solid $activeColor2;
    a { text-decoration: none; }
    .arrows-down {
      display: none;
      position: absolute;
      left: 50%;
      bottom: -9px;
      margin-left: -.4em;
      font-size: 1.5em;
      color: $activeColor2;
    }
    ul {
      @include clearfix();
    }
    li {
      float: left;
      line-height: 1.6;
      padding:  12px 6px;  // 必须写绝对单位
      text-align: center;
      & + li { border-left: 1px solid #eee; }
      &:hover, &.on {
        &, a { color: $activeColor2; }
        .arrows-down { display: inline-block; }
      }
    }
  }
  .form-state {
    line-height: pxToEm(27px);
    text-align: center;
    background-color: #f6f6f6;
    em {
      color: $activeColor2;
      font-size: pxToEm(18px);
    }
  }
  .form-line {
    input, select {
      border: 1px solid #dddddd;
      padding: pxToEm(6px) pxToEm(12px);
    }
    select {
      height: auto;
      padding-top: 4px;
      padding-bottom: 4px;
    }
    &.city {
      @include clearfix();
      margin-right: -3%;
      input, select {
        float: left;
        width: 30.33333%;
        margin-right: 3%;
      }
    }
    &.col-2 {
      input, select { width: 47%; }
    }
  }

  .form-tips, .form-bottom {
    color: $gray-light;
    font-size: pxToEm(12px);
    P { @include text-truncate; }
  }
  .form-bottom {
    p { margin-bottom: pxToEm(4px); }
    i { margin-right: .5em; }
  }
  .form-bt-contact {
    .call-hintTxt {
      color: #666;
      margin-bottom: 5px;
    }
    .call {
      font-weight: bold;
      font-size: 28px;
      color: #c20112;
      img {
        vertical-align: middle;
        margin-bottom: 5px;
        margin-right: 10px;
      }
    }
  }
}

.side-form {
  $bg: #153e44;
  $bdColor: #0c2427;

  padding-bottom: 1.2em;
  background-color: $bg;
  background-image: url("../img/side-form-bg.png");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: 100% auto;
  .form-tab, .form-state, .form-tips, .form-line { margin-bottom: 1.5em;  }
  .form-tab {
    background-color: $gray-lightest;
    border-bottom-color: $bdColor;
    li {
      &:hover, &.on {
        background-color: $bg;
        &, a { color: $body-bg; }
        .arrows-down {
          display: inline-block;
          color: $bdColor;
        }
      }
      + li { border-left: none; }
    }
  }
  .form-tips, .form-bottom {
    font-size: pxToEm(14px);
    color: $body-bg;
  }
}

.banner-media {
  img {
    width: 100%;
  }
  .banner-bottom {
    @include clearfix();
    a {
      float: left;
      width: percentage(1/3);
      cursor: default;
      & + a { border-left: 1px solid $gray-lighter; }
    }
  }
}


// 百科，效果图等详细页的相关图文
.correlation-imgtxt {
  background-color: $gray-lighter;
  padding: 0 12px 12px;
  .title-bar {
    .title {
      color: $activeColor;
      font-size: pxToEm(16px);
    }
  }
  .cont-line {
    padding: pxToEm(15px) pxToEm(45px - 27px) pxToEm(10px);
    background-color: $body-bg;
    border-bottom: 1px dashed $grayBorder;
  }
  .media-base, .list-group {
    float: left;
    width: percentage(1 / 3);
    padding: 0 pxToEm(27px);
  }
  .media-base {
    margin: 0;
    padding: 0 pxToEm(27px);
    .thumbnail {
      height: 142px;
      line-height: middleImg(142px, 2px);
    }
  }
  .media-title { text-align: center; }
  .list-dot .list-group-item:before {
    @include caret-right(3px, $activeColor);
    background-color: transparent;
    margin-top: -3px;
  }

  .list-dot .list-group-item {
    padding-top: 3px;
    padding-bottom: 3px;
  }
}

// 侧栏的热门标签
.hot-labels {
  .label-bar {
    padding: 0;
    line-height: 3;
  }
  .label-cell {
    @include text-truncate();
    max-width: 10em;
    padding-left: pxToEm(10px);
    padding-right: pxToEm(10px);
    background-color: $gray-lightest;
    margin-bottom: pxToEm(10px);
    margin-right: pxToEm(10px);
  }
}

// 地区分站样式
.region-switch-box {
  background-color: darken($gray-lightest, 0.3%);
  border: 3px solid $grayBorder;
  .label-bar {
    padding-left: 0;
    margin-top: 8px;
    margin-bottom: 8px;
  }
  .label-title { width: 8em; }
  .label-title, .spell-find-line strong {
    font-weight: bold;
    font-size: pxToEm(16px, $baseFontSize);
  }
  .region-head-cont {
    margin-top: pxToEm(12px);
    background: url("../img/map-bg.png") top right no-repeat;
    .label-bar { font-size: $baseFontSize; }
    .label-cell { font-family: "Microsoft YaHei", "Microsoft JhengHei", STHeiti, MingLiu; }
  }
  .result-cont, .label-bar {
    margin-left: 53px;
  }
  .result-cont {
    padding: pxToEm(25px) 0;
    margin-right: pxToEm(53px);
    margin-bottom: 15px;
    border-bottom: 1px dashed $grayBorder;
    text-align: center;
    font-size: pxToEm(18px);
    .btn {
      padding: .8em 5em;
      font-weight: bold;
    }
    span { margin: 0 1.5em; }
  }

  .hot-city-line {
    em, .label-cell { color: $btnColor; }
    .kaitong-num {
      display: inline-block;
      margin: pxToEm(7px, 12px);
      font-size: pxToEm(12px);
    }
  }

  .fast-find-line {
    .label-title { margin: .6em 0; }
    .label-cell { margin-right: 1em; }
    select, button, input {
      font-size: pxToEm(16px, $baseFontSize);
      padding-top: 4px;
      padding-bottom: 4px;
    }
    select { width: 8em; }
    button, .submit {
      padding-left: 1em;
      padding-right: 1em;
      font-weight: bold;
    }
  }
  .spell-find-line {
    margin-top: 15px;
    padding: .9em 0 .9em pxToEm(53px);

    background-color: darken($gray-lightest, 3%);
    border: 1px solid $grayBorder;
    border-width: 1px 0;
  }
  .spell-items {
    padding-left: 280px; 
    a {
      margin-right: 1.2em;
      font-size: pxToEm(16px, 14px);
      font-family: "Microsoft YaHei", "Microsoft JhengHei", STHeiti, MingLiu;
    }
  }

  .area-group {
    padding: 20px 0;
    background-color: $body-bg;
    color: $gray;
    .label-bar {
      margin-top: 30px;
      margin-bottom: 30px;
    }
    .label-cell.on, .label-cell:hover { color: $activeColor2; }
  }
}




// ================================
// global element float on page

// element fixed and transition
$poput-z-index: 10000;
[class^="popup-"],
[class*=" popup-"],
#mask,
[class^="fixed-"],
[class*=" fixed-"],
[class^="fixed-"] .open,
[class*=" fixed-"] .open {
  position: fixed;
  &, * { transition: all .3s ease-out; }
}
// close, open btn style
[class^="popup-"],
[class*=" popup-"],
[class^="fixed-"],
[class*=" fixed-"] {
  .close {
    position: absolute;
    right: .4em;
    top: .4em;
    width: 1.5em;
    height: 1.5em;
    line-height: 1.5em;
    text-align: center;
    font-size: 1.5em;
    font-family: "\5b8b\4f53", serif;
  }
}

// z-index
#mask { z-index: $poput-z-index; }
[class^="popup-"],
[class*=" popup-"],
[class^="fixed-"],
[class*=" fixed-"],
[class^="fixed-"] .open,
[class*=" fixed-"] .open {  z-index: $poput-z-index + 1; }
// mask
#mask {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  @include background-color-rgba(#000, .6);
}


// ======================
// popup and fixed commonality style
// popup
[class^="popup-"],
[class*=" popup-"] {
  left: 50%;
  top: 50%;
  padding-bottom: 1em;
  .form-hd, .form-bd, .form-ft {
    padding: 0 2em;
  }
  .form-hd {
    line-height: 3em;
    margin-bottom: .5em;
  }
}

//fixed top and bottom
[class^="fixed-top-"],
[class*=" fixed-top-"],
[class^="fixed-bottom-"],
[class*=" fixed-bottom-"] {
  width: 100%;
  left: 0;
}
[class^="fixed-bottom-"],
[class*=" fixed-bottom-"] {
  bottom: 0;
}
[class^="fixed-top-"],
[class*=" fixed-top-"] {
  top: 0;
}

//fixed right
[class^="fixed-left-"],
[class*=" fixed-left-"],
[class^="fixed-right-"],
[class*=" fixed-right-"] {
  top: 50%;
}
[class^="fixed-left-"],
[class*=" fixed-left-"] {
  left: 0;
}
[class^="fixed-right-"],
[class*=" fixed-right-"] {
  right: 0;
}

// ====================
// entity

.popup-yuyue-succeed {
  width: 550px;
  margin-left: - (550px / 2);
  margin-top: - (548px / 2);
  padding: 15px 23px 30px;
  border: 5px solid #cccccc;
  background-color: $body-bg;
  .yuyue-succeed-hd, .qrcode-tips, .qrcode { text-align: center; }
  .yuyue-succeed-hd {
    line-height: 77px;
    color: $activeColor;
    font-size: 2.3em;
    border-bottom: 1px dashed $gray-lighter;
    font-family: "microsoft yahei", simsun;
  }
  .yuyue-succeed-bd {
    line-height: 32px;
    padding: 15px 0;
    text-indent: 2em;
  }
  .qrcode-tips {
    line-height: 50px;
    background-color: $gray-lightest;
  }
  .qrcode {
    padding-top: 16px;
  }
  img { width: 100%; }
  .close {
    background-color: $gray-lightest;
  }
}

// popup

// 预约、预约成功弹出框
.popup-form-yuyue1,
.popup-form-yuyue2,
.popup-yuyue-succeed2 {
  width: 400px;
  min-height: 300px;
  margin-left: -200px;
  margin-top: -170px;
  color: $gray;
  background-color: $body-bg;
  .form-hd, .form-ft { text-align: center; }
  .form-hd {
    font-size: 1.2em;
    font-family: "Microsoft Yahei", Tahoma, Arial, Helvetica, STHeiti;
  }

  .form-control-label {
    float: left;
    width: 6em;
    padding-left: .4em;
    padding-right: .4em;
    padding-top: 6px;
    padding-bottom: 6px;
    margin-bottom: 0;
    text-align: center;
  }
  .input-field {
    margin-left: 6em;
    &.city {
      @include clearfix();
      margin-right: -3%;
      input, select {
        float: left;
        width: 30.33333%;
        margin-right: 3%;
      }
    }
    &.col-2 {
      input, select { width: 47%; }
    }
  }

  .vcode {
    .form-control {
      display: inline-block;
      width: 50%;
    }
  }
  .safety {
    input {
      margin: 0; margin-right: 3px;
      vertical-align: middle;
    }
    padding: .3em 0;
    font-size: pxToEm(12px);
  }
  .form-ft {
    .call {
      color: $activeColor;
      font-size: 1.5em;
    }
  }
  .submit {
    margin-top: .5em;
    margin-bottom: .3em;
    border: none;
  }
}
.popup-form-yuyue1 {
  margin-top: -(341px / 2);
  .form-group {
    border: 1px solid lighten($gray-light, 30%);
    &.submit { border: none; }
    overflow: hidden;
  }
  .form-control {
    border: none;
  }
}
.popup-form-yuyue2 {
  $popupWidth: 436px;
  width: $popupWidth;
  padding-top: 0;
  margin-left: -$popupWidth/2;
  border: 3px solid darken($gray-lighter, 8%);
  input, select {
    padding: 6px 12px;
    border-radius: 0;
    border-color: $gray-lighter;
  }
  .form-hd {
    background-color: $gray-lightest;
    margin-bottom: 1.5em;
  }
  .submit {
    padding-bottom: 1.5em;
    margin-bottom: .8em;
    border-bottom: 1px solid $gray-lighter;
    button {
      padding: 10px 40px;
    }
  }
  .call-cont {
    width: 50%;
    text-align: center;
  }
  .call {
    color: $activeColor;
    font-weight: bold;
  }
  .form-ft {
    line-height: 2em;
    text-align: left;
    color: $gray-light;
    font-size: .87em;
  }
}
.popup-yuyue-succeed2 {
  width: 520px;
  margin-left: -260px;
  margin-top: -(506px / 2);
  padding: 82px 100px 107px;
  text-align: center;
  color: $gray;
  font-family: "Microsoft YaHei", "Microsoft JhengHei", STHeiti, MingLiu;

  .form-bd  { padding: 0; }
  .form-control-label {
    padding-left: 0;
    text-align: left;
    width: 5.6em;
  }
  .input-field { margin-left: 5.6em; }
  .form-succeed-txt {
    margin-bottom: .5em;
    font-size: pxToEm(22px);
    color: $activeColor;
    font-weight: bold;
  }
  .form-succeed-tips {
    margin-bottom: .5em;
  }
  .form-other-txt {
    margin-bottom: 1.2em;
    color: $gray-dark;
    font-size: pxToEm(16px);
    font-family: "Microsoft YaHei", "Microsoft JhengHei", STHeiti, MingLiu;
  }
  input, select, button { border-color: $gray-light; }
  .submit {
    margin-top: 1em;
    input, button { border-color: #ac2925; }
  }
}

// 地区弹出框
.popup-region {
  .region-head-cont { padding: 70px 0; }
  .layout-body { width: auto; }
  margin-top: -(290px / 2);
  margin-left: -(593px / 2);
}

// fixed
/* fixed */
.fixed-bottom-form {
  display: none;
  margin-top: 2em;
  padding: 19px 0;
  text-align: center;
  overflow: visible;
  border-top: 3px solid #fd6060;
  &, .open {
    transition: none;
    @include background-color-rgba(#000, .7);
  }
  .g-left, .g-center, .g-right {
    display: inline-block;
    text-align: left;
    min-height: 10px;
  }
  .g-left { min-width: 446px; }
  .g-center {
    width: 300px;
    margin: 0 pxToEm(68px);
  }
  .g-right { min-width: 120px; }
  .form-line {
    @include clearfix();
    margin-top: .8em;
    &:first-child { margin-top: 0; }
    input, select, input, button {
      height: 30px;
      float: left;
      width: 52%;
      margin-right: 2%;
      padding: 4px 10px;
      &:first-child { width: 44%; }
    }
    &.city {
      input, select {  width: percentage(1 / 3) - 2%; }
    }
    &.col-2 {
      input, select { width: 47%; }
    }
  }

  .float-img, .qrcode-cont { position: absolute; }
  .float-img, .qrcode-cont { top: -13px; }

  .g-right {
    .qrcode, .submit {
      display: inline-block;
      width: 40%;
    }
    .submit { margin-top: 1.5em; }
  }
  .qrcode { text-align: center; }
  .qrcode-cont {
    position: absolute;
    color: $body-bg;
    text-align: center;
    p {
      margin-top: 5px;
      white-space: nowrap;
    }
  }
  .open {
    position: fixed;
    left: -.7em;
    bottom: 20px;
    z-index: $poput-z-index + 1;
    width: .7em;
    height: 1.8em;
    line-height: 1.8em;
    text-align: center;
    font-size: 3em;
    color: $body-bg;
    border-top-right-radius: 1.8em;
    border-bottom-right-radius: 1.8em;
    text-decoration: none;
  }
  .show { left: -.7em; }
}

.fixed-right-OICQ {
  text-align: center;
  margin-top: - (250 / 2) * 1px;
  background-color: $body-bg;
  border: 1px solid darken($gray-lighter, 5%);
  .OICQ-hd, .OICQ-bd, .hotline {
    padding-left: .6em;
    padding-right: .6em;
  }
  .OICQ-hd { padding-top: 1.3em; }
  .OICQ-hd-img {
    border-bottom: 1px dashed $gray-lighter;
    .img-explain {
      font-size: .85em;
      padding-bottom: 1em;
      padding-top: .3em;
    }
  }
  .OICQ-bd {
    line-height: (33 / 13) * 1em;
    padding-top: .8em;
    padding-bottom: .8em;
    font-size: (13 / 14) * 1em;
  }
  .OICQ-ft {
    line-height: 1.8;
  }
  .hotline {
    padding: .5em 0 .7em;
    background-color: $gray-lighter;
  }
  .call {
    line-height: 20px;
    padding: 0 6px;
    font-size: 1.14em;
    font-weight: bold;
    color: $activeColor;
  }
  .close {
    top: 0;
    right: 0;
    font-size: 1.1em;
  }

  .open {
    box-sizing: content-box;
    right: -40px;
    width: 2em;
    padding-left: 10px;
    text-align: center;
    background-color: $body-bg;
    &:hover { text-decoration: none; }
    span {
      display: block;
      padding: 0 .5em;
      padding-top: 1em;
      padding-bottom: 1em;
      line-height: 1.1;
      font-size: .87em;
      color: $gray-light;
      border: 1px solid $gray-lighter;
    }
    &:before {
      content: "<";
      position: absolute;
      left: 5px;
      top: 50%;
      margin-top: -6px;
      font-family: serif;
      font-size: 12px;
      color: lighten($gray-light, 5%);
    }
  }
}

/* global login succeed end float element  */
#member {
  position: fixed;
  left: 0;
  bottom: 0;
  top: 0;
  z-index: 1000;
  background: #000;
  width: 30px;
  box-shadow: 0 0 8px 0 #000000;
  height: 150px;
  margin-top: 200px;
  [class^="icon-"], [class*=" icon-"] {
    font-size: 18px;
    margin-right: 20px;
    margin-left: 5px;
  }
  #avatarCnt {
    [class^="icon-"], [class*=" icon-"] {
      display: inline-block;
      width: 25px;
      height: 25px;
      line-height: 25px;
      margin-left: 0;
      text-align: center;
      background-color: #cccccc;
      border-radius: 50%;
    }
  }
  ul {
    padding: 10px 0;
  }
  ul li {
    width: 30px;
    white-space: nowrap;
    padding: 10px 0;
    background: url('../img/member_menu.png') no-repeat;
    overflow: hidden;
  }
  a {
    color: #ffffff;
    text-decoration: none;
  }
  ul li img {
    margin-right: 20px;
    margin-left: 3px;
  }
  ul li .avatar {
    border-radius: 12px 12px 12px 12px;
    width: 24px;
    height: 24px;
  }
  .myFav {
    background-position: 7px 14px;
  }
  .mySet {
    background-position: 7px -24px;
  }
  ul #avatarCnt {
    background: none;
    padding-left: 0;
  }
  ul #avatarCnt a {
    margin-left: 0;
  }
}
