/*
Icon classes can be used entirely standalone. They are named after their original file names.

```html
<!-- `display: block` sprite -->
<div class="icon-home"></div>

<!-- `display: inline-block` sprite -->
<img class="icon-home" />
```
*/
.myicon-OICQ-icon {
  background-image: url(../img/sprite.png);
  background-position: -422px -188px;
  width: 24px;
  height: 17px;
}
.myicon-QQ-icon {
  background-image: url(../img/sprite.png);
  background-position: -300px -357px;
  width: 77px;
  height: 22px;
}
.myicon-QQ-icon2 {
  background-image: url(../img/sprite.png);
  background-position: -224px -357px;
  width: 74px;
  height: 23px;
}
.myicon-QQconsult-title {
  background-image: url(../img/sprite.png);
  background-position: -450px 0px;
  width: 116px;
  height: 84px;
}
.myicon-ask-accepted {
  background-image: url(../img/sprite.png);
  background-position: -450px -264px;
  width: 82px;
  height: 82px;
}
.myicon-bk-top-cate1 {
  background-image: url(../img/sprite.png);
  background-position: -254px -390px;
  width: 37px;
  height: 35px;
}
.myicon-bk-top-cate2 {
  background-image: url(../img/sprite.png);
  background-position: -215px -390px;
  width: 37px;
  height: 35px;
}
.myicon-bk-top-cate3 {
  background-image: url(../img/sprite.png);
  background-position: -497px -379px;
  width: 37px;
  height: 35px;
}
.myicon-bottom-float {
  background-image: url(../img/sprite.png);
  background-position: 0px 0px;
  width: 448px;
  height: 164px;
}
.myicon-cate-label {
  background-image: url(../img/sprite.png);
  background-position: -450px -348px;
  width: 110px;
  height: 29px;
}
.myicon-collect {
  background-image: url(../img/sprite.png);
  background-position: -422px -207px;
  width: 16px;
  height: 16px;
}
.myicon-head-liangfang {
  background-image: url(../img/sprite.png);
  background-position: 0px -390px;
  width: 213px;
  height: 51px;
}
.myicon-hot {
  background-image: url(../img/sprite.png);
  background-position: -536px -242px;
  width: 29px;
  height: 18px;
}
.myicon-my-call {
  background-image: url(../img/sprite.png);
  background-position: -450px -379px;
  width: 45px;
  height: 50px;
}
.myicon-new {
  background-image: url(../img/sprite.png);
  background-position: -534px -328px;
  width: 28px;
  height: 18px;
}
.myicon-qq {
  background-image: url(../img/sprite.png);
  background-position: -545px -158px;
  width: 16px;
  height: 16px;
}
.myicon-qrcode-bottom {
  background-image: url(../img/sprite.png);
  background-position: -450px -86px;
  width: 93px;
  height: 90px;
}
.myicon-qrcode-service {
  background-image: url(../img/sprite.png);
  background-position: -450px -178px;
  width: 84px;
  height: 84px;
}
.myicon-qrcode-service2 {
  background-image: url(../img/sprite.png);
  background-position: -224px -166px;
  width: 196px;
  height: 189px;
}
.myicon-qrcode-yuyue-succeed {
  background-image: url(../img/sprite.png);
  background-position: 0px -166px;
  width: 222px;
  height: 222px;
}
.myicon-sina-weibo {
  background-image: url(../img/sprite.png);
  background-position: -545px -140px;
  width: 16px;
  height: 16px;
}
.myicon-sina-weibo2 {
  background-image: url(../img/sprite.png);
  background-position: -545px -122px;
  width: 16px;
  height: 16px;
}
.myicon-sort {
  background-image: url(../img/sprite.png);
  background-position: -422px -166px;
  width: 24px;
  height: 20px;
}
.myicon-tc-weibo {
  background-image: url(../img/sprite.png);
  background-position: -545px -104px;
  width: 16px;
  height: 16px;
}
.myicon-top-logo {
  background-image: url(../img/sprite.png);
  background-position: -293px -390px;
  width: 40px;
  height: 29px;
}
.myicon-weixin {
  background-image: url(../img/sprite.png);
  background-position: -545px -86px;
  width: 16px;
  height: 16px;
}
.myicon-xiaoguo-cate1 {
  background-image: url(../img/sprite.png);
  background-position: -128px -443px;
  width: 30px;
  height: 30px;
}
.myicon-xiaoguo-cate10 {
  background-image: url(../img/sprite.png);
  background-position: -64px -443px;
  width: 30px;
  height: 30px;
}
.myicon-xiaoguo-cate2 {
  background-image: url(../img/sprite.png);
  background-position: -32px -443px;
  width: 30px;
  height: 30px;
}
.myicon-xiaoguo-cate3 {
  background-image: url(../img/sprite.png);
  background-position: 0px -443px;
  width: 30px;
  height: 30px;
}
.myicon-xiaoguo-cate4 {
  background-image: url(../img/sprite.png);
  background-position: -536px -379px;
  width: 30px;
  height: 30px;
}
.myicon-xiaoguo-cate5 {
  background-image: url(../img/sprite.png);
  background-position: -96px -443px;
  width: 30px;
  height: 30px;
}
.myicon-xiaoguo-cate6 {
  background-image: url(../img/sprite.png);
  background-position: -534px -296px;
  width: 30px;
  height: 30px;
}
.myicon-xiaoguo-cate7 {
  background-image: url(../img/sprite.png);
  background-position: -536px -210px;
  width: 30px;
  height: 30px;
}
.myicon-xiaoguo-cate8 {
  background-image: url(../img/sprite.png);
  background-position: -534px -264px;
  width: 30px;
  height: 30px;
}
.myicon-xiaoguo-cate9 {
  background-image: url(../img/sprite.png);
  background-position: -536px -178px;
  width: 30px;
  height: 30px;
}
