// 字体颜色原件
.fc-red { color: $activeColor; }
.fc-green { color: $linkColor; }
// 边框
.main-border { border: 1px solid $gray-lighter; }

// 元素距离
// margin-t, margin-r, margin-b, margin-l 表示margin上、右、下、左
@for $i from 5 through 30 {
  .margin-t-#{$i} { margin-top: ($i / toNum($baseFontSize)) * 1em !important; }
}
@for $i from 5 through 30 {
  .margin-r-#{$i} { margin-right: ($i / toNum($baseFontSize)) * 1em !important;; }
}
@for $i from 5 through 30 {
  .margin-b-#{$i} { margin-bottom: ($i / toNum($baseFontSize)) * 1em !important;; }
}
@for $i from 5 through 30 {
  .margin-l-#{$i} { margin-left: ($i / toNum($baseFontSize)) * 1em !important;; }
}
// padding-t, padding-r, padding-b, padding-l 表示padding上、右、下、左
@for $i from 5 through 30 {
  .padding-t-#{$i} { padding-top: ($i / toNum($baseFontSize)) * 1em !important; }
}
@for $i from 5 through 30 {
  .padding-r-#{$i} { padding-right: ($i / toNum($baseFontSize)) * 1em !important;; }
}
@for $i from 5 through 30 {
  .padding-b-#{$i} { padding-bottom: ($i / toNum($baseFontSize)) * 1em !important;; }
}
@for $i from 5 through 30 {
  .padding-l-#{$i} { padding-left: ($i / toNum($baseFontSize)) * 1em !important;; }
}

// 功能原件
[class^="u-"],
[class*=" u-"] {
  display: inline-block;
  font-family: $smallFont;
}

[class^="u-btn-"],
[class*=" u-btn-"] {
  &:hover { text-decoration: none; }
}

.u-main-btn, // 兼容Class
.u-btn-main {
  background-color: $activeColor2;
  color: #ffffff;
  border: 1px solid transparent;
  border-color: $activeColor2;
  border-radius: 0;
  &:hover, &:focus {
    background-color: darken($linkColor, 2%);
    color: #ffffff;
  }
}

.u-btn-link {
  position: relative;
  line-height: 24px;
  padding: 0 pxToEm(12px);
  background-color: $btnColor;
  color: $body-bg;
  &.arrow {
    &:after {
      content: ">";
      margin-left: pxToEm(6px);
      font-family: $smallFont;
    }
  }
}

.u-btn-active {
  color: $body-bg;
  padding-left: 1em;
  padding-right: 1em;
  background-color: $activeColor;
  border-color: $activeColor;
  &:hover { background-color: darken($activeColor, 2%); }
}

.u-btn-collect {
  display: none;
  position: absolute;
  top: pxToEm(18px);
  right: pxToEm(18px);
  line-height: 2em;
  padding: 0 1em;
  background-color: $linkColor;
  border: 1px solid $body-bg;
  color: $body-bg;
  &:hover { text-decoration: none; }
}

[class^="u-word-"], [class*=" u-word-"] {
  $ws: 20px;
  $ws2: 16px;
  width: $ws;
  height: $ws;
  line-height: $ws - 1px;
  text-align: center;
  vertical-align: middle;
  border-radius: 50%;
  color: #fff;
  font-size: 12px;
  &.square {
    width: $ws2;
    height: $ws2;
    line-height: $ws2 - 1px;
    border-radius: 3px;
  }
}

.u-word-ying, .u-word-ding, .u-word-ren, .u-word-bao {
  &.gray {
    background-color: #999999;
  }
}
.u-word-ying { background-color: #01b296; }
.u-word-ding { background-color: #fd4401; }
.u-word-ren { background-color: #f5aa00; }
.u-word-bao { background-color: #51cfff; }
.u-word-shang { background-color: #8c6356; }


// 不具通用性的
.u-circle-btn, // 兼容Class
.u-btn-yue {
  width: pxToEm(50px);
  height: pxToEm(50px);
  line-height: 1.2;
  padding: .8em 0 .6em;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background-color: lighten($activeColor, 10%);
  border-radius: 50%;
  font-weight: bold;
  &:hover { text-decoration: none; }
  i {
    display: inline-block;
    margin-top: -.2em;
    font-size: pxToEm(24px);
  }
}