// ===========================================
// nav
@import "widgets/nav/nav";
@import "widgets/nav/nav-base";

// ===========================================
// bar
@import "widgets/bar/bar";
@import "widgets/bar/title-bar";
@import "widgets/bar/paging";
@import "widgets/bar/breadcrumb";

// ===========================================
// tabs
@import "widgets/tabs/tabs";
@import "widgets/tabs/tabs-base";
@import "widgets/tabs/tabs-nav1";
@import "widgets/tabs/tabs-nav3";

// ===========================================
// media
@import "widgets/media/media";
@import "widgets/media/media-base";
@import "widgets/media/media-firmlist";
@import "widgets/media/media-newsitem";

// ===========================================
// label
@import "widgets/label/label";
@import "widgets/label/label-bar";
@import "widgets/label/label-small";
@import "widgets/label/label-filter";
@import "widgets/label/label-close";
@import "widgets/label/label-cate";

// ===========================================
// list
@import "widgets/list/list";
@import "widgets/list/list-dot";

// ===========================================
// app
@import "widgets/apps/filterbox-alibaba";
@import "widgets/apps/filterbox-tubatu";

// Added widget

// nav
.side-nav {
  line-height: 3em;
  .title {
    font-weight: bold;
    font-size: 1.2em;
  }
  li {
    padding-left: 1.2em;
    padding-right: 1.2em;
    font-size: 1.1em;
    font-family: "microsoft yahei", simsun;
    &:hover, &:focus, &.on {
      a { text-decoration: none; }
      color: $activeColor;
    }
  }
}

// bar
.my-progress {
  background-color: $body-bg;
  margin-bottom: 0;
  @include clearfix();
  li {
    position: relative;
    float: left;
    width: percentage(1 / 4);
    text-align: center;
    &.on {
      .prog-line, .prog-num {
        background-color: $btn-success-bg;
      }
    }
  }
  .prog-line {
    position: absolute;
    left: -50%;
    top: 50%;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: -3px;
    height: 3px;
    background-color: $gray-lighter;
  }
  .prog-num {
    content: " ";
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: $gray-lighter;
  }

}

// media
.media-big-img {
  .media-cont {
    position: relative;
    padding: pxToEm(20px);
    &.tran-layer {
      position: absolute;
      p {
        color: $gray;
      }
    }
  }

  .media-title {
    font-size: pxToEm(24px);
  }
  p {
    color: $gray-light;
  }

  .tran-layer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    color: #ffffff;
    @include background-color-rgba(#000, .7);
    a:hover { color: inherit; }
  }
}

.media-txt-list {
  .img {
    float: left;
    margin-right: 1em;
  }
  .media-cont {
    line-height: 1.9;
    a {
      display: block;
      @include text-truncate();
    }
  }
}

//  新闻详细页组件
.newstype-detail {
  padding: 0 pxToEm(25px);
  .hd-title {
    font-size: pxToEm(24px);
    padding: 1em 0;
    margin-bottom: 10px;
    text-align: center;
    font-family: "Microsoft YaHei", "Microsoft JhengHei", STHeiti, MingLiu;
    border-bottom: 1px solid $gray-lighter;
  }
  .top-sub-info {
    margin-bottom: 1em;
    font-size: pxToEm(12px);
    color: lighten($gray-light, 0%);
    em {
      color: $activeColor;
      font-weight: bold;
      margin: 0 3px;
    }
    .span {
      display: inline-block;
      margin-right: 2em;
    }
  }
  .top-sub-right-info {
    ul {
      display: inline-block;
      margin-left: 3px;
    }
    li {
      display: inline-block;
      margin-right: 2px;
    }
  }

  .detail-info {
    margin-top: 1em;
    line-height: 2.2em;
    .title {
      font-weight: bold;
      margin: 1em 0;
    }
    p {
      text-indent: 2em;
      margin-bottom: 1.5em;
    }
    .img {margin: 1em 1.2em; }
  }
  .labels {
    margin: 10px 0;
    border-top: 1px solid $gray-lighter;
  }

  .page-neighbor {
    line-height: 3em;
    margin-top: 20px;
    font-size: pxToEm(12px);
    border-top: 1px solid $gray-lighter;
    em { color: $activeColor; }
  }
}

