// ===========================================
// nav
@import "../widget/blocks/nav/nav.scss";
@import "../widget/blocks/nav/nav-base/nav-base.scss";

// ===========================================
// bar
@import "../widget/blocks/bar/bar.scss";
@import "../widget/blocks/bar/search-bar/search-bar.scss";
@import "../widget/blocks/bar/title-bar/title-bar.scss";
@import "../widget/blocks/bar/paging/paging.scss";
@import "../widget/blocks/bar/breadcrumb/breadcrumb.scss"; 
@import "../widget/blocks/bar/filter-bar/filter-bar.scss";

// ===========================================
// tabs
@import "../widget/blocks/tabs/tabs.scss";
@import "../widget/blocks/tabs/tabs-base/tabs-base.scss";
@import "../widget/blocks/tabs/tabs-nav1/tabs-nav1.scss";
@import "../widget/blocks/tabs/tabs-nav2/tabs-nav2.scss";
@import "../widget/blocks/tabs/tabs-nav3/tabs-nav3.scss";
@import "../widget/blocks/tabs/tabs-nav4/tabs-nav4.scss";

// ===========================================
// media
@import "../widget/blocks/media/media.scss";
@import "../widget/blocks/media/media-small-imgtxt/media-small-imgtxt.scss";  // todo 在html代码中使用该组件
@import "../widget/blocks/media/media-base/media-base.scss";
@import "../widget/blocks/media/media-img-txtlist/media-img-txtlist.scss";
@import "../widget/blocks/media/media-firmlist/media-firmlist.scss";
@import "../widget/blocks/media/media-newsitem/media-newsitem.scss";
@import "../widget/blocks/media/media-goods/media-goods.scss";

// ===========================================
// label
@import "../widget/blocks/label/label.scss";
@import "../widget/blocks/label/label-bar/label-bar.scss";
@import "../widget/blocks/label/label-labs/label-labs.scss";
@import "../widget/blocks/label/label-filter/label-filter.scss";
@import "../widget/blocks/label/label-close/label-close.scss";
@import "../widget/blocks/label/label-cate/label-cate.scss";

// ===========================================
// list
@import "../widget/blocks/list/list.scss";
@import "../widget/blocks/list/list-dot/list-dot.scss";
@import "../widget/blocks/list/list-content/list-content.scss";

// ===========================================
// unslider
@import "../widget/blocks/slider/unslider/unslider.scss";

// ===========================================
// app
@import "../widget/apps/filterbox/filterbox-alibaba/_filterbox-alibaba";
@import "../widget/apps/filterbox/filterbox-tubatu/_filterbox-tubatu";
@import "../widget/apps/new-detail/new-detail/_new-detail";
@import "../widget/apps/goods-info/goods-info1/_goods-info1";

// Added widget

// nav
.side-nav {
  line-height: 3em;
  .title {
    font-weight: bold;
    font-size: 1.2em;
  }
  li {
    padding-left: 1.2em;
    padding-right: 1.2em;
    font-size: 1.1em;
    font-family: "microsoft yahei", simsun;
    &:hover, &:focus, &.on {
      a { text-decoration: none; }
      color: $activeColor;
    }
  }
}

// bar
.my-progress {
  background-color: $body-bg;
  margin-bottom: 0;
  @include clearfix();
  li {
    position: relative;
    float: left;
    width: percentage(1 / 4);
    text-align: center;
    &.on {
      .prog-line, .prog-num {
        background-color: $btn-success-bg;
      }
    }
  }
  .prog-line {
    position: absolute;
    left: -50%;
    top: 50%;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: -3px;
    height: 3px;
    background-color: $gray-lighter;
  }
  .prog-num {
    content: " ";
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: $gray-lighter;
  }
}



