@import "../bootstrap4/scss/mixins";

@mixin background-color-rgba($color, $alpha) {
  $ie-hex-str: ie-hex-str(rgba($color, $alpha));

  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#{$ie-hex-str}, endColorstr=#{$ie-hex-str})";
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#{$ie-hex-str}, endColorstr=#{$ie-hex-str});

  background-color: rgba($color, $alpha);
}

// unit conversion
@function pxToEm($px, $newFontSize: false) {
  @if $newFontSize {
    @return $px / $newFontSize * 1em;
  } @else {
    @return $px / $baseFontSize * 1em;
  }
}
@function pxToRem($px, $newFontSize: false) {
  @if $newFontSize {
    @return $px / $newFontSize * 1rem;
  } @else {
    @return $px / $baseFontSize * 1rem;
  }
}
@function pxToNum($px, $newFontSize: false) {
  @if $newFontSize {
    @return $px / $newFontSize;
  } @else {
    @return $px / $baseFontSize;
  }
}

// my add mixins
// ---- from amazeui -----
// =============================================================================
// Caret
// Caret - down
// -----------------------------------------------------------------------------
@mixin caret-down($size: 6px, $color:#222) {
  display: inline-block;
  width: 0;
  height: 0;
  vertical-align: middle;
  border-top: $size solid $color;
  border-right: $size solid transparent;
  border-left: $size solid transparent;
  border-bottom: 0 dotted;
  transform: rotate(360deg);
}

// Caret - up
// -----------------------------------------------------------------------------
@mixin caret-up($size:6px, $color:#222) {
  display: inline-block;
  width: 0;
  height: 0;
  vertical-align: middle;
  border-bottom: $size solid $color;
  border-right: $size solid transparent;
  border-left: $size solid transparent;
  border-top: 0 dotted;
  transform: rotate(360deg);
}

// Caret - left
// -----------------------------------------------------------------------------
@mixin caret-left($size:6px, $color:#222) {
  display: inline-block;
  width: 0;
  height: 0;
  vertical-align: middle;
  border-right: $size solid $color;
  border-top: $size solid transparent;
  border-bottom: $size solid transparent;
  border-left: 0 dotted;
  transform: rotate(360deg);
}

// Caret - right
// -----------------------------------------------------------------------------
@mixin caret-right($size:6px, $color:#222) {
  display: inline-block;
  width: 0;
  height: 0;
  vertical-align: middle;
  border-left: $size solid $color;
  border-top: $size solid transparent;
  border-bottom: $size solid transparent;
  border-right: 0 dotted;
  transform: rotate(360deg);
}
